<template>
    <require from="./vano-input.css"></require>

    <div class="vano-input-component">
        <input 
            type.one-way="type" 
            value.bind="value" 
            placeholder.one-way="placeholder" 
            class="${randomClass}"
            readonly.one-way="readOnly"
            disabled.one-way="disabled"
            maxlength.one-way="limit"
            autocomplete="off" 
            autocorrect="off" 
            autocapitalize="off" 
            spellcheck="false"
            required.one-way="required"
            focus.trigger="lol()"
            pattern.one-way="pattern">
        <div class="vano-input-password-toggle" if.bind="initialType == 'password'"><i class="material-icons" click.delegate="togglePasswordType()">remove_red_eye</i></div>    
    </div>
</template>
