@import '../../../styles/new-variables';

.vano-input-component {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    align-items: center;
    input {
        background: $vano-input-bg-color;
        height: 45px;
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 2px;
        outline: none;
        color: $primary-font-color;
        font-size: $vano-placeholder-size;
        padding-left: 1.25rem;
        font-family: $primary-font-family;
    }
    input::placeholder {
            color: $vano-input-color;
            font-size: $vano-placeholder-size;
            font-family: $primary-font-family;
    }
    .vano-input-password-toggle {
      position: absolute;
      right: .6rem;
      height: 45px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
}
