@import '../../styles/new-variables.scss';
.vano-stat-card-graph-component {
    position: relative;
    &.vano-row {
        #statItem {
            max-width: 80px;
            height: 80px;
        }
        .vano-stat-graph-value {
            height: 80px;
            font-size: 1.5rem;
            .percentage {
                font-size: .6rem;
            }
        }
    }
    &.blue {
        .vano-stat-graph-value {
            color: $blue;
        }
        .st0 {
            fill: $faded-blue;
        }
        .st1 {
            stroke: $faded-blue;
        }
        .st2 {
            stroke: $blue;
        }
        .st4 {
            fill: $blue;
        }
    }
    &.red {
        .vano-stat-graph-value {
            color: $red;
        }
        .st0 {
            fill: $faded-red;
        }
        .st1 {
            stroke: $faded-red;
        }
        .st2 {
            stroke: $red;
        }
        .st4 {
            fill: $red;
        }
    }
    &.green {
        .vano-stat-graph-value {
            color: $green;
        }
        .st0 {
            fill: $faded-green;
        }
        .st1 {
            stroke: $faded-green;
        }
        .st2 {
            stroke: $green;
        }
        .st4 {
            fill: $green;
        }
    }
    &.orange {
        .vano-stat-graph-value {
            color: $orange;
        }
        .st0 {
            fill: $faded-orange;
        }
        .st1 {
            stroke: $faded-orange;
        }
        .st2 {
            stroke: $orange;
        }
        .st4 {
            fill: $orange;
        }
    }
    .vano-stat-graph-value {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 106px;
        font-size: 2.420rem;
        color: $blue;
        .percentage {
            font-size: 1rem;
            margin-top: -1.3rem;
            margin-right: -.5rem;
        }
        .money {
          font-size: 1rem;
          margin-top: -1.3rem;
      }
    }
    #statItem {
        width: 106px;
        height: 106px;
    }
    .st0 {
        fill: $faded-blue;
    }
    .st1 {
        fill: none;
        stroke: $faded-blue;
        stroke-miterlimit: 10;
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
    }
    .st2 {
        fill: none;
        stroke: $blue;
        stroke-width: 2;
        stroke-dasharray: 0 340;
        animation: .8s linear slice;
        animation-fill-mode: forwards
    }
    .st3 {
        fill: none;
    }
    .st4 {
        fill: $blue;
    }
    .st6 {
        font-size: 56px;
    }
    .st5 {
        font-size: 54.3185px;
        width: 100%;
    }
    @keyframes slice {
        to {
            stroke-dasharray: 100 340;
        }
    }
}
