<template>
    <require from="./vano-stat-card-graph.css"></require>

    <div class="vano-stat-card-graph-component ${direction} ${color}">
        <div class="vano-stat-graph-value"><span class="money" if.bind="money">$</span>${value}<span class="percentage" if.bind="percentage">%</span></div>
        <svg id="statItem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.9 125.8">
            <circle class="st0" cx="62.9" cy="62.9" r="45.5" />
            <circle class="st1" cx="62.9" cy="62.9" r="53.7" />
            <path class="st2" d="M63.4 9.2c22.2.2 42.5 14.6 50 35.4 7.7 21.2 1 45.5-16.4 59.8-17.4 14.3-42.6 16.1-61.8 4.5C16 97.3 5.9 74.5 10.2 52.5c4.2-21.8 22.1-39.1 44-42.7 2.7-.4 5.5-.7 8.2-.7"
            />
            <path class="st3" d="M17.1 40.3h91.6v53.3H17.1z" />
        </svg>
    </div>
</template>
