@import '../../styles/new-variables';

.vano-appointments-header-component{
    display: flex;
    height: 50px;
    background: #fff;
    border-bottom: $primary-border;
    z-index: 9;
    .vano-appointment-header-wrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    .vano-appointment-header-section {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: $icon-grey;
        cursor: pointer;
        font-size: .8125rem;
        &.selected {
            border-bottom: 2px solid $blue;
            box-shadow: $vano-bottom-blue-box-shadow;
            color: $primary-font-color;
        }
    }
}

@media (min-width: 960px) {
    .vano-appointments-header-component {
        justify-content: center;
        .vano-appointment-header-wrapper {
            max-width: 350px;
        }
    }
}