<template>
    <require from="./vano-appointments-header.css"></require>

    <div class="vano-appointments-header-component">
        <div class="vano-appointment-header-wrapper">
            <div class="vano-appointment-header-section month" click.delegate="setSelected('month')" class.bind="selected === 'month' ? 'selected': ''">
                Month
            </div>
            <div class="vano-appointment-header-section week" click.delegate="setSelected('week')" class.bind="selected === 'week' ? 'selected': ''">
                Week
            </div>
            <div class="vano-appointment-header-section day" click.delegate="setSelected('day')" class.bind="selected === 'day' ? 'selected': ''">
                Agenda
            </div>
        </div>
    </div>
</template>