@import '../../../styles/new-variables';
@import '../../../libs/vano-daterange-picker/vano-daterange-picker';

.times-component{
  display: flex;
  justify-content: center;
  .times-component-wrapper {
    width: 640px;
    max-width: calc(100% - 2.5rem);
    .employee-hours {
      margin-top: 1rem;
    }
  }
}
