<template>
  <require from="./times.css"></require>
  <require from="../../../components/vano-work-hours-card/vano-work-hours-card"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>

  <div class="times-component au-animate">
    <div class="times-component-wrapper">
      <vano-title title="Work Hours" sub-title="Keep track of your professionals's work hours for a specific date range."></vano-title>
      <vano-component-label title.one-time="fullName(authProfessional.first_name, authProfessional.last_name)"></vano-component-label>
      <vano-work-hours-card clock-ins.one-way="authClocIns"></vano-work-hours-card>
      <div class="employee-hours" if.bind="authProfessional.permission.manage_company" repeat.for="p of professionals">
          <vano-component-label title.one-time="fullName(p.first_name, p.last_name)"></vano-component-label>
          <vano-work-hours-card clock-ins.one-way="p.clock_ins"></vano-work-hours-card>
      </div>
    </div>
  </div>
</template>
