<template>
  <require from="./transaction-details.css"></require>
  <require from="../../components/vano-title/vano-title"></require>
  <require from="../../components/vano-component-label/vano-component-label"></require>
  <require from="../../components/vano-transaction-card/vano-transaction-card"></require>
  <require from="../../components/vano-cc-card/vano-cc-card"></require>
  <require from="../../components/vano-info-card/vano-info-card"></require>
  <require from="../../components/vano-button/vano-button"></require>
  <require from="../../filters/filters"></require>

  <div class="transaction-details-component au-animate">
      <div class="transaction-details-wrapper">
        <vano-title title="Transaction Details" sub-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.s
        "></vano-title>

        <div class="transaction-transaction-section">
          <vano-component-label title="Transaction"></vano-component-label>
          <vano-transaction-card customer.one-time="customerFullName | capitalize" total.one-time="transaction.total" date.one-time="transaction.created_at | dateFormat: 'MMM DD, YYYY'"></vano-transaction-card>
        </div>
        <div class="transaction-card-section">
          <vano-component-label title="Credit Card Information"></vano-component-label>
          <vano-cc-card last-four.one-time="transaction.last_four" type.one-time="transaction.card_method"></vano-cc-card>
        </div>
        <div class="transaction-appointment-section">
          <vano-component-label title="Appointment Details"></vano-component-label>
          <vano-info-card 
            title.one-time="customerFullName | capitalize" 
            sub-title.one-time="appointment.start | dateFormat: 'DD MMM, YYYY'" 
            bubble-text.one-time="appointment.start | dateFormat:'h:mm A'"
            color="red">
          </vano-info-card>
        </div>
        <div class="transaction-buttons-section">
          <vano-button color="primary" click.delegate="navigateBack()">Back</vano-button>
          <vano-button color="danger" click.delegate="refund()" if.bind="!transaction.refunded">Refund</vano-button>
        </div>
      </div>
  </div>
</template>
