@import '../../styles/new-variables';

.transaction-details-component{
  display: flex;
  justify-content: center;
  .transaction-details-wrapper {
    max-width: calc(100% - 1.25rem);
    width: 620px;
    .transaction-card-section, .transaction-appointment-section {
      margin-top: 1rem;
    }
    .transaction-buttons-section {
      display: flex;
      margin: 2rem -.5rem 0 -.5rem;
      vano-button {
        margin: 0 .5rem;
        width: 100%;
      }
    }
  }
}
