<template>
  <require from="./add-service-v2.css"></require>
  <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header"></require>
  <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header-item/vano-settings-tabs-header-item"></require>
  <require from="../../components/vano-settings-tabs-body/vano-settings-tabs-body"></require>

  <div class="add-service-v2-component au-animate">
      <vano-settings-tabs-header>
          <vano-settings-tabs-header-item 
            title="Simple Service" 
            selected.one-way="router.currentInstruction.fragment === 'simple'" 
            click.delegate="goTo('app.add.service.simple')">
          </vano-settings-tabs-header-item>
          <vano-settings-tabs-header-item 
            title="Advanced Service" 
            selected.one-way="router.currentInstruction.fragment === 'advanced'" 
            click.delegate="goTo('app.add.service.advanced')">
          </vano-settings-tabs-header-item>
      </vano-settings-tabs-header>
      <div class="add-service-v2-component-wrapper">
          <vano-settings-tabs-body>
              <router-view></router-view>
          </vano-settings-tabs-body>
      </div>
  </div>
</template>
