@import '../../styles/new-variables';


.add-service-v2-component {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
  .vano-settings-tabs-header-item-component {
    min-width: 120px;
  }
  vano-settings-tabs-header {
      width: 100%;
  }
  .add-service-v2-component-wrapper {
      width: 590px;
      max-width: calc(100% - 2.5rem);
      .form-helper-text {
        font-size: .75rem;
        color: #a8b6bd;
        font-weight: 100;
        margin-top: -.5rem;
        margin-bottom: 1rem;
      }
    }
}

@media (min-width: 960px) {
    .add-service-v2-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        vano-settings-tabs-header {
            width: 100%;
        }
        vano-title {
            display: inline;
            .vano-title-component {
                margin-top: 1.35rem;
            }
        }
    }
}
