<template>
    <require from="./type.css"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-checkout-card/vano-checkout-card"></require>
    <require from="../../../components/vano-title/vano-title"></require>
    <require from="../../../components/vano-icons/vano-down-arrow/vano-down-arrow"></require>

    <div class="checkout-type-component au-animate">
        <div class="checkout-type-wrapper">
            <vano-title 
                title="Select your Checkout type" 
                sub-title="Check out a recent appointment or go express.">
            </vano-title>
            <vano-component-label title="Checkout"></vano-component-label>

            <div class="select-professional-dropdown vano-menu-dont-close" if.bind="authProfessional.permission.manage_checkouts && professionals.length > 0">
              <p class="select-different-professional vano-menu-dont-close" click.delegate="menuOpen = !menuOpen">${dropdownText} <vano-down-arrow class="vano-menu-dont-close"></vano-down-arrow></p>
              <div class="select-professional-menu" if.bind="menuOpen">
                <div class="select-professional-menu-items vano-menu-dont-close">
                  <div class="select-professional-menu-item vano-menu-dont-close" repeat.for="p of professionals" click.delegate="selectProfessional(p)">
                    ${fullName(p)}
                  </div>
                </div>
              </div>
            </div>
              
            <div class="vano-checkout-types">
                <vano-checkout-card 
                    color="blue" 
                    icon="icon-calendar" 
                    title="Appointment Checkout"
                    click.delegate="select('appointment')">
                </vano-checkout-card>
                <vano-checkout-card 
                    color="green" 
                    class="first-card" 
                    icon="icon-shopping-cart" 
                    title="Express Checkout"
                    click.delegate="select('express')">
                </vano-checkout-card>
            </div>
        </div>
    </div>
</template>
