@import '../../../styles/new-variables';

.checkout-type-component {
    vano-title {
        display: none;
    }
    .vano-checkout-types{
        display: flex;
        flex: 1;
        flex-direction: column;
        vano-checkout-card {
            margin: 1rem 0;
        }
        vano-checkout-card.first-card {
            margin-top: 0;
        }
    }
    .select-professional-dropdown {
      display: flex;
      position: relative;
      align-items: flex-end;
      flex-direction: column;
      .select-different-professional {
        color: $blue;
        font-size: .85rem;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        text-align: right;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        height: 50px;
        .vano-down-arrow-component {
          fill: $blue;
          color: $blue;
          margin-left: .5rem;
          svg {
            width: 8px;
          }
        }
      }
      .select-professional-menu {
        background: $white;
        margin-top: -24px;
        width: 100%;
        max-width: 342px;
        .select-professional-menu-items {
          box-shadow: $primary-box-shadow;
          .select-professional-menu-item {
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;
            border-bottom: $primary-border;
            padding-left: 1rem;
          }
        }
      }
    }
}

@media (min-width: 768px) {
    .checkout-type-component {
        vano-title {
        display: inline;
    }
        .vano-checkout-types{
            flex-direction: row;
            vano-checkout-card {
                margin: 0 1rem;
            }
            vano-checkout-card.first-card {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: 960px) {
    .checkout-type-component {
        display: flex;
        flex-direction: row;
        justify-content: center;
        vano-component-label {
            display: none;
        }
        vano-title {
            .vano-title-component {
                margin: 3rem 0 0 0;
            }
        }
        .checkout-type-wrapper {
            width: 657px;
            max-width: calc(100% - 40px);   
        }
    }
}
