@import '../../styles/new-variables';

.vano-analytics-stat-card-component {
    display: flex;
    .vano-analytics-stat-card--section {
      width: 100%;
      &:nth-child(1) {
        padding-right: 1rem;
      }
      .vano-analytics-stat-title {
          color: $primary-font-color;
          font-size: .9375rem;
      }
      .vano-analytics-stat-sub-title {
          color: $primary-font-color;
          font-size: .6875rem;
          font-weight: 200;
          margin-top: .7rem;
      }
      .vano-analytics-stat-value {
         color: $primary-font-color;
        font-size: .9375rem;
        display: flex;
        justify-content: center;
        margin-top: .7rem;
      }
      .vano-analytics-stat-bar {
        display: flex;
        justify-content: center;
        margin-top: .7rem;
      }
    }
}
