<template>
  <require from="./vano-analytics-stat-card.css"></require>

  <div class="vano-analytics-stat-card-component">
    <div class="vano-analytics-stat-card--section">
      <div class="vano-analytics-stat-title">${title}</div>
      <div class="vano-analytics-stat-sub-title">${subTitle}</div>
    </div>
    <div class="vano-analytics-stat-card--section">
        <div class="vano-analytics-stat-bar">
          <svg width="40px" height="18px" viewBox="0 0 40 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.9">
                <g id="2.VANO_Dashboard" transform="translate(-597.000000, -1345.000000)" fill="#6AD9C3">
                    <g id="Group-3" transform="translate(597.000000, 1345.000000)">
                        <polyline id="Rectangle-6" points="6.73267327 0.892473118 6.73267327 17.8738394 0 17.8738394 0 0.892473118 6.73267327 0.892473118"></polyline>
                        <polyline id="Rectangle-6" points="15.049505 7.85483871 15.049505 17.961494 8.31683168 17.961494 8.31683168 7.85483871 15.049505 7.85483871"></polyline>
                        <polyline id="Rectangle-6" points="23.3663366 9.24731183 23.3663366 17.9304945 16.6336634 17.9304945 16.6336634 9.24731183 23.3663366 9.24731183"></polyline>
                        <polyline id="Rectangle-6" points="31.6831683 0.295698925 31.6831683 17.7299016 24.950495 17.7299016 24.950495 0.295698925 31.6831683 0.295698925"></polyline>
                        <polyline id="Rectangle-6" points="40 5.06989247 40 17.8811456 33.2673267 17.8811456 33.2673267 5.06989247 40 5.06989247"></polyline>
                    </g>
                </g>
            </g>
          </svg>
        </div>
        <div class="vano-analytics-stat-value">${value}</div>
    </div>
  </div>
</template>
