<template>
    <require from="./banking.css"></require>
    <require from="../../../components/vano-select-dot/vano-select-dot"></require>
    <require from="../../../components/vano-button/vano-button"></require>
    <require from="../../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card"></require> 
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card-header/vano-onboarding-card-header"></require> 
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card-body/vano-onboarding-card-body"></require> 

    <div class="banking-component">
        <vano-onboarding-card state.one-way="state">
            <vano-onboarding-card-header title="Banking"></vano-onboarding-card-header>
            <vano-onboarding-card-body>
                <p class="explainer">To deposit payments into your bank account, we need your financial information.</p>
                <div class="onboarding-form">
                    <vano-input-group>
                        <vano-label>Account type</vano-label>
                        <div class="select-account-type-wrapper">
                            <vano-button 
                                color.bind="accountType === 'checking' ? 'faded-blue': 'white'"
                                click.delegate="accountType = 'checking'">
                                CHECKING
                            </vano-button>
                            <vano-button 
                                color.bind="accountType === 'saving' ? 'faded-blue': 'white'" 
                                class="savings-btn"
                                click.delegate="accountType = 'saving'">
                                SAVING
                            </vano-button>
                        </div>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Account Routing Number</vano-label>
                        <vano-input type="tel" value.two-way="routingNumber & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Account Number</vano-label>
                        <vano-input type="tel" value.two-way="accountNumber & validate"></vano-input>
                    </vano-input-group>
                    <vano-button loading.one-way="isFetching" color="primary" click.delegate="validate()">
                        Save and Complete
                    </vano-button>
                </div>
            </vano-onboarding-card-body>
        </vano-onboarding-card>
    </div>
</template>
