@import '../../../styles/new-variables';
@import '../../../libs/vano-daterange-picker/vano-daterange-picker';

.schedules-component{
  padding: 20px 0px 45px 0px;
  .schedules-component-vacation-section {
    .vano-vacation-days-component {
      margin: 1rem 0;
    }
  }
  .schedules-component-block-off-section {
    .blockoff-times-component {
      margin: 1rem 0;
    }
  }
  .schedules-component-hours-section {
    margin-top: 1rem;
    .vano-button-component {
      margin-top: 1rem; 
    }
  }
}
