<template>
  <require from="./schedules.css"></require>
  <require from="../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../components/vano-forms/vano-select/vano-select"></require>
  <require from="../../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../../components/vano-button/vano-button"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../components/vano-hour-display-card/vano-hour-display-card"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="./vacation-days/vacation-days"></require>
  <require from="./blockoff-times/blockoff-times"></require>

  <div class="schedules-component">
    <vano-title title="Manage your Schedule" sub-title="Set your work hours, block off times and vacation days."></vano-title>
    <div class="schedules-component-vacation-section">
      <vano-component-label title="Vacation Days"></vano-component-label>
      <vacation-days></vacation-days>
    </div>
    <div class="schedules-component-block-off-section">
      <vano-component-label title="Block Offs"></vano-component-label>
      <blockoff-times></blockoff-times>
    </div>
    <div class="schedules-component-hours-section" if.bind="authProfessional.permission.manage_company">
      <vano-component-label class="hours-title" title="Edit your company hours."></vano-component-label>
      <div class="vano-company-hours-wrapper">
        <vano-hour-display-card date="Mon" open-time.two-way="company.hours.monday.open" close-time.two-way="company.hours.monday.close"
          operating.two-way="company.hours.monday.operating">
        </vano-hour-display-card>
        <vano-hour-display-card date="Tue" open-time.two-way="company.hours.tuesday.open" close-time.two-way="company.hours.tuesday.close"
          operating.two-way="company.hours.tuesday.operating">
        </vano-hour-display-card>
        <vano-hour-display-card date="Wed" open-time.two-way="company.hours.wednesday.open" close-time.two-way="company.hours.wednesday.close"
          operating.two-way="company.hours.wednesday.operating">
        </vano-hour-display-card>
        <vano-hour-display-card date="Thu" open-time.two-way="company.hours.thursday.open" close-time.two-way="company.hours.thursday.close"
          operating.two-way="company.hours.thursday.operating">
        </vano-hour-display-card>
        <vano-hour-display-card date="Fri" open-time.two-way="company.hours.friday.open" close-time.two-way="company.hours.friday.close"
          operating.two-way="company.hours.friday.operating">
        </vano-hour-display-card>
        <vano-hour-display-card date="Sat" open-time.two-way="company.hours.saturday.open" close-time.two-way="company.hours.saturday.close"
          operating.two-way="company.hours.saturday.operating">
        </vano-hour-display-card>
        <vano-hour-display-card date="Sun" open-time.two-way="company.hours.sunday.open" close-time.two-way="company.hours.sunday.close"
          operating.two-way="company.hours.sunday.operating">
        </vano-hour-display-card>
      </div>
      <vano-button click.delegate="updateCompany()" color="primary">Save</vano-button>
    </div>
  </div>
</template>
