<template>
    <require from="./vano-checkbox.css"></require>

    <div class="vano-checkbox-component" class.bind="checked ? 'checked' : ''" click.delegate="toggleChecked()">      
        <i if.bind="checked" class="material-icons">check</i>
    </div>
</template>

