@import '../../styles/new-variables.scss';

.vano-checkbox-component{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: $vano-checkbox-border;
    border-radius: 10px;
    height: 26px;
    width: 26px;
    cursor: pointer;
    &.checked {
        box-shadow: $vano-checkbox-box-shadow;
        background: $blue;
        border-color: $blue;
        position: relative;
        i {
            color: $white;
            font-size: 0.7rem;
        }
    }
}