<template>
    <require from="./vano-navbar.css"></require>
    <require from="../vano-icons/vano-bars/vano-bars"></require>
    <require from="../../filters/filters"></require>
    
    <div class="vano-navbar ${hasNotification ? 'has-notification': ''}" class.bind="sidebarOpen ? 'sidebar-open': ''">
        <div class="vano-navbar-menu" if.bind="displayProfileMenu && authProfessional.permission.manage_company">
          <div class="vano-navbar-menu-wrapper">
            <div class="vano-navbar-menu--section">
              <div class="vano-navbar-menu-item" click.delegate="navigate('/settings/salon')">
                edit salon profile
              </div>
            </div>
            <div class="vano-navbar-menu--section">
              <div class="vano-navbar-menu-item" click.delegate="viewPublicProfile()">
                  salon public profile
              </div>
            </div>
          </div>
        </div>
        <div class="vano-navbar-section menu icon" vano-menu-toggle>
            <div class="sb-item button" vano-menu-toggle>
                <vano-bars  vano-menu-toggle></vano-bars>
            </div>
        </div>
        <div class="vano-navbar-section logo">
            <div class="sb-item button">
                <img id="logo" src="https://res.cloudinary.com/solabuddy/image/upload/v1506780699/3_bhhss6.png" alt="VANO logo">
            </div>
        </div>
        <div class="vano-navbar-section mic icon">
            <div id="clocInMenu" if.bind="showClockedInMenu">
              <div class="vano-cloc-in-menu-section clocIn" class.bind="isClockedIn ? 'opacity': ''" click.delegate="clocIn()">
                <div class="label" class.bind="!isClockedIn ? 'active': ''">Clock In</div>
                <div class="time">${currentTime}</div>
              </div>
              <div class="vano-cloc-in-menu-section clocOut" class.bind="!isClockedIn ? 'opacity': ''" click.delegate="clocOut()">
                  <div class="label" class.bind="isClockedIn ? 'active': ''">Clock Out</div>
                  <div class="time">${currentTime}</div>
              </div>
            </div>
            <div class="profile-wrapper" click.delegate="openProfileMenu()">
              <div class="name">
                <h5>${authCompany.name | stringLength: '13'}</h5>
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
            </div>
            <div class="sb-item button logo-font cloc-in" if.bind="showClocInBtn" class.bind="isClockedIn ? 'clocked-in': ''" click.delegate="displayClocMenu()">                
              <svg if.bind="!isClockedIn" width="31px" height="36px" viewBox="0 0 31 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="01.1_Clicker" transform="translate(-1302.000000, -20.000000)">
                        <g id="if_37.Stopwatch_290113" transform="translate(1302.000000, 20.000000)">
                            <g id="Layer_1">
                                <path d="M27.0268333,10.2822857 C29.48875,13.014 31,16.6122857 31,20.5714286 C31,29.0922857 24.0603056,36 15.5,36 C6.93969444,36 0,29.0922857 0,20.5714286 C0,12.9282857 5.58861111,6.60085714 12.9166667,5.37428571 L12.9166667,1.71428571 L11.1944444,1.71428571 C10.71825,1.71428571 10.3333333,1.33028571 10.3333333,0.857142857 C10.3333333,0.384 10.71825,0 11.1944444,0 L19.8055556,0 C20.28175,0 20.6666667,0.384 20.6666667,0.857142857 C20.6666667,1.33028571 20.28175,1.71428571 19.8055556,1.71428571 L18.0833333,1.71428571 L18.0833333,5.37 C21.0343611,5.868 23.7012222,7.19057143 25.8376389,9.09857143 L27.8431667,7.10228571 C28.17125,6.77571429 28.7034167,6.77571429 29.0323611,7.10228571 C29.3604444,7.42885714 29.3604444,7.95942857 29.0323611,8.286 L27.0268333,10.2822857 L27.0268333,10.2822857 Z M16.3611111,1.71428571 L14.6388889,1.71428571 L14.6388889,5.18657143 C14.9256389,5.17028571 15.2089444,5.14285714 15.5,5.14285714 C15.7910556,5.14285714 16.0743611,5.16771429 16.3611111,5.18314286 L16.3611111,1.71428571 L16.3611111,1.71428571 Z M15.5,6.85714286 C7.89122222,6.85714286 1.72222222,12.9968571 1.72222222,20.5714286 C1.72222222,28.146 7.89122222,34.2857143 15.5,34.2857143 C23.1096389,34.2857143 29.2777778,28.146 29.2777778,20.5714286 C29.2777778,12.9977143 23.1096389,6.85714286 15.5,6.85714286 L15.5,6.85714286 Z" id="Shape" fill="#B0C4D4"></path>
                                <path d="M15.5,24 C13.5978056,24 12.0555556,22.4648571 12.0555556,20.5714286 C12.0555556,19.9294286 12.2441389,19.3354286 12.5532778,18.822 L7.99541667,14.286 C7.66733333,13.9594286 7.66733333,13.4288571 7.99541667,13.1022857 C8.32436111,12.7757143 8.85652778,12.7757143 9.18461111,13.1022857 L13.7424722,17.6382857 C14.2591389,17.3305714 14.8550278,17.1428571 15.5,17.1428571 C17.4021944,17.1428571 18.9444444,18.678 18.9444444,20.5714286 C18.9444444,22.4648571 17.4021944,24 15.5,24 Z M15.5,18.8571429 C14.5493333,18.8571429 13.7777778,19.6251429 13.7777778,20.5714286 C13.7777778,21.5177143 14.5493333,22.2857143 15.5,22.2857143 C16.4506667,22.2857143 17.2222222,21.5177143 17.2222222,20.5714286 C17.2222222,19.6251429 16.4506667,18.8571429 15.5,18.8571429 Z" id="Combined-Shape" fill="#4786FF"></path>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>

              <svg if.bind="isClockedIn" width="31px" height="36px" viewBox="0 0 31 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="01.3_Clicker" transform="translate(-1302.000000, -20.000000)">
                        <g id="if_37.Stopwatch_290113" transform="translate(1302.000000, 20.000000)">
                            <g id="Layer_1">
                                <path d="M27.0268333,10.2822857 C29.48875,13.014 31,16.6122857 31,20.5714286 C31,29.0922857 24.0603056,36 15.5,36 C6.93969444,36 0,29.0922857 0,20.5714286 C0,12.9282857 5.58861111,6.60085714 12.9166667,5.37428571 L12.9166667,1.71428571 L11.1944444,1.71428571 C10.71825,1.71428571 10.3333333,1.33028571 10.3333333,0.857142857 C10.3333333,0.384 10.71825,0 11.1944444,0 L19.8055556,0 C20.28175,0 20.6666667,0.384 20.6666667,0.857142857 C20.6666667,1.33028571 20.28175,1.71428571 19.8055556,1.71428571 L18.0833333,1.71428571 L18.0833333,5.37 C21.0343611,5.868 23.7012222,7.19057143 25.8376389,9.09857143 L27.8431667,7.10228571 C28.17125,6.77571429 28.7034167,6.77571429 29.0323611,7.10228571 C29.3604444,7.42885714 29.3604444,7.95942857 29.0323611,8.286 L27.0268333,10.2822857 L27.0268333,10.2822857 Z M16.3611111,1.71428571 L14.6388889,1.71428571 L14.6388889,5.18657143 C14.9256389,5.17028571 15.2089444,5.14285714 15.5,5.14285714 C15.7910556,5.14285714 16.0743611,5.16771429 16.3611111,5.18314286 L16.3611111,1.71428571 L16.3611111,1.71428571 Z M15.5,6.85714286 C7.89122222,6.85714286 1.72222222,12.9968571 1.72222222,20.5714286 C1.72222222,28.146 7.89122222,34.2857143 15.5,34.2857143 C23.1096389,34.2857143 29.2777778,28.146 29.2777778,20.5714286 C29.2777778,12.9977143 23.1096389,6.85714286 15.5,6.85714286 L15.5,6.85714286 Z" id="Shape" fill="#92B6FC"></path>
                                <path d="M15.5,24 C13.5978056,24 12.0555556,22.4648571 12.0555556,20.5714286 C12.0555556,19.9294286 12.2441389,19.3354286 12.5532778,18.822 L7.99541667,14.286 C7.66733333,13.9594286 7.66733333,13.4288571 7.99541667,13.1022857 C8.32436111,12.7757143 8.85652778,12.7757143 9.18461111,13.1022857 L13.7424722,17.6382857 C14.2591389,17.3305714 14.8550278,17.1428571 15.5,17.1428571 C17.4021944,17.1428571 18.9444444,18.678 18.9444444,20.5714286 C18.9444444,22.4648571 17.4021944,24 15.5,24 Z M15.5,18.8571429 C14.5493333,18.8571429 13.7777778,19.6251429 13.7777778,20.5714286 C13.7777778,21.5177143 14.5493333,22.2857143 15.5,22.2857143 C16.4506667,22.2857143 17.2222222,21.5177143 17.2222222,20.5714286 C17.2222222,19.6251429 16.4506667,18.8571429 15.5,18.8571429 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </div>
            <div class="sb-item button logo-font" click.delegate="navigate('/settings/features')">                
              <svg width="165px" height="30px" viewBox="0 0 165 144" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                    <path d="M13.443065,3.94735719 C25.9753201,-3.00871902 41.9958075,1.11192391 49.2313329,13.1602421 L104.763601,105.630436 C111.99666,117.674648 107.703569,133.075895 95.1685581,140.033501 L95.1685581,140.033501 C82.636303,146.989577 66.6158156,142.868934 59.3802902,130.820616 L3.84802243,38.3504224 C-3.38503702,26.3062103 0.90805435,10.9049628 13.443065,3.94735719 L13.443065,3.94735719" id="path-1"></path>
                    <path d="M150.766113,4.22595804 C163.298253,11.1820553 167.596526,26.5807728 160.361067,38.6291276 L104.829309,131.099602 C97.5963158,143.14385 81.5762649,147.270141 69.0413692,140.312515 L69.0413692,140.312515 C56.509229,133.356417 52.2109556,117.9577 59.4464146,105.909345 L114.978173,13.4388709 C122.211166,1.39462234 138.231217,-2.73166871 150.766113,4.22595804 L150.766113,4.22595804" id="path-2"></path>
                    <path d="M164.388622,23.6400009 C164.388622,36.6960129 152.654604,47.2800018 138.168933,47.2800018 L26.9921839,47.2800018 C12.5114493,47.2800018 0.772494423,36.6988836 0.772494423,23.6400009 L0.772494423,23.6400009 C0.772494423,10.5839889 12.5065124,0 26.9921839,0 L138.168933,1.59973628e-14 C152.649667,1.59973628e-14 164.388622,10.5811183 164.388622,23.6400009 L164.388622,23.6400009" id="path-3"></path>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Icon-Normal" transform="translate(-83.000000, -93.000000)">
                        <g id="Group-2" transform="translate(83.000000, 93.000000)">
                            <g id="Rectangle-4">
                                <g>
                                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                    <path stroke="#B0C4D4" stroke-width="3.5" d="M14.2923534,5.47745821 C2.61672269,11.9580618 -1.37144203,26.260041 5.34827596,37.4494566 L60.8805437,129.91965 C67.6256622,141.151362 82.6037669,145.006135 94.3192696,138.5034 C105.9949,132.022797 109.983065,117.720817 103.263347,106.531402 L47.7310793,14.0612079 C40.9859608,2.82949629 26.0078561,-1.02527643 14.2923534,5.47745821 Z"></path>
                                </g>
                                <g>
                                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-2"></use>
                                    <path stroke="#B0C4D4" stroke-width="3.5" d="M149.916816,5.75605467 C138.201175,-0.746836424 123.222463,3.1097906 116.478432,14.3398286 L60.946673,106.810303 C54.2259929,118.001457 58.2153962,132.301936 69.8906655,138.782418 C81.6063071,145.285309 96.5850193,141.428682 103.329051,130.198644 L158.860809,37.7281699 C165.581489,26.5370156 161.592086,12.2365367 149.916816,5.75605467 Z"></path>
                                </g>
                                <g>
                                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                                    <path stroke="#B0C4D4" stroke-width="3.5" d="M162.638622,23.6400009 C162.638622,11.5913842 151.722392,1.75 138.168933,1.75 L26.9921839,1.75 C13.4366655,1.75 2.52249442,11.5916335 2.52249442,23.6400009 C2.52249442,35.6886176 13.4387243,45.5300018 26.9921839,45.5300018 L138.168933,45.5300018 C151.724451,45.5300018 162.638622,35.6883683 162.638622,23.6400009 Z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
              </svg>
            </div>
        </div>
    </div>
</template>
