@import "../../styles/new-variables.scss";

$navbar-border:  $primary-border;

.vano-navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: $vano-bottom-only-shadow;
    &.has-notification{
      top: 30px;
    }
    .vano-navbar-menu {
      position: absolute;
      top: 80px;
      right: 80px;
      width: 220px;
      background: $white;
      box-shadow: 0px 2px 34px 0px rgba(26,39,59,0.17);
      z-index: 99999;
      padding: 1rem 1rem 2rem 1rem;
      .vano-navbar-menu-wrapper {
        position: relative;
       .vano-navbar-menu--section {
         border-bottom: $primary-border;
         .vano-navbar-menu-item {
            color: $vano-edit-sp-font-color;
            text-transform: uppercase;
            font-size: .625rem;
            font-weight: 700;
            padding: .5rem 0;
            cursor: pointer;
            &:hover{color: $blue}
         }
         &.no-border {
           border: none;
         }
       }
      }
    }
    .vano-navbar-section {
        display: flex;
        align-items: center;
        justify-content: center;
        &.icon {
            i {
                color: $navbar-icon-color;
                font-size: 1.6rem;
            }
        }
        &.menu {
            border-right: $navbar-border;
            width: 80px;
            max-width: 80px;
            cursor: pointer;
            i {
                pointer-events: none;
            }
        }
        &.logo {
          flex: 1;
            #logo {
              width: 150px;
            }
        }
        &.mic {
          display: flex;
          justify-content: flex-end;
            .profile-wrapper {
              display: none;
            }
            .cloc-in {
              &.clocked-in {
                background: $blue;
              }
            }
            .logo-font {
                height: 80px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-left: $navbar-border;
                .logo-font-text {
                  color: $navbar-icon-color;
                  font-size: 2rem;
                  text-shadow: $primary-text-shadow; 
                }
            }
        }
    }
}

@media (min-width: 768px) {
   .vano-navbar {
       border-bottom: $primary-border; 
       .vano-navbar-section {
         &.logo {
          #logo {
            width: 180px;
          }
         }
         &.mic{
          position: relative;
          #clocInMenu {
            position: absolute;
            width: 224px;
            height: 90px;
            background: $white;
            box-shadow: 0px 2px 34px 0px rgba(26,39,59,0.17);
            border-radius: 3px;
            z-index: 99;
            top: 80px;
            left: 0;
            padding: 0 1rem;
            .vano-cloc-in-menu-section {
              display: flex;
              height: 45px;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              &.opacity {
                opacity: .1;
              }
              &:first-child{
                border-bottom: 1px solid #E6EAEF;;
              }
              .label{
                font-size: .6rem;
                font-weight: bold;
                color: $primary-font-color;
                &.active {
                  color: $blue;
                }
              }
              .time {
               color: #919A9D;
               font-size: .6rem;
               font-weight: bold;
              }
            }
          }
         }
         
       }
   }
}

@media (min-width: 960px) {
   .vano-navbar {
       transition: all $vano-main-transition;
       .vano-navbar-section {
           &.logo {
               .logo-text {
                   font-size: 1.3rem;
                   font-weight: 100;
               }
           }
           &.mic {
            .profile-wrapper {
              display: flex;
              height: 80px;
              align-items: center;
              padding-right: 1.25rem;
              cursor: pointer;
              position: relative;
              .logo {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: $primary-border;
                img {
                  width: 100%;
                }
              }
              .name {
                margin-left: .5rem;
                display: flex;
                align-items: center;
                h5 {
                  color: $primary-font-color;
                  font-size: .8125rem;
                  font-weight: 700;
                }
                i {
                  font-size: 1rem;
                  color: $primary-font-color;
                }
              }
            }
           }
       }
       &.sidebar-open {
           left: $vano-sidebar-width;
           width: calc(100% - 250px);
       }
   }
}
