<template>
    <require from="./activate.css" as="scoped"></require>
    <require from="../../filters/filters"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>

    <div class="activate-component au-animate">
        <div class="header">
            <h1 class="logo-text">VANO</h1>
        </div>
        <vano-canvas-layout title="Activate Account" router.bind="router">
            <div slot="body">
                <form submit.trigger="continue()" keyup.trigger="handleKeyup($event)" if.bind="!displayAddPassword">
                    <vano-input-group>
                        <vano-label>Email</vano-label>
                        <vano-input type="email" value.two-way="email"></vano-input>
                    </vano-input-group>
                </form>
                <form 
                    submit.trigger="continue()" 
                    keyup.trigger="handleKeyup($event)"
                    if.bind="displayAddPassword">
                    <vano-input-group>
                        <vano-label>Password</vano-label>
                        <vano-input value.two-way="password" type="password"></vano-input>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <vano-button click.delegate="submit()" color="primary" rounded="false">
                    <span if.bind="!displayAddPassword">Continue</span>
                    <span if.bind="displayAddPassword">Let's Do This</span>
                </vano-button>
            </div>
        </vano-canvas-layout>
    </div>
</template>
