@import '../../styles/new-variables';

.activate-component{
    .header {
        background: $white;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: $primary-border;
        height: 60px;
        padding: 0 1.25rem;
        h1{
            font-family: $logo-font;
        }
    }
    .vano-button-component {
        margin-top: -2rem;
    }
}