@import '../../styles/new-variables';

.no-show-appointment-component{
  p{
    margin-top: .5rem;
    color: $vano-light-font-color;
    font-size: .8375rem;
  }
  .no-show-fee-dial-pad-wrapper {
    margin-top: 1.5rem;
    vano-dial-pad{
      .vano-dial-pad-component {
        border: $primary-border;
      }
    }
  }
}
