<template>
  <require from="./no-show-appointment.css"></require>
  <require from="../../components/vano-button/vano-button"></require>
  <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>
  <require from="../../components/vano-dial-pad/vano-dial-pad"></require>

  <div class="no-show-appointment-component au-animate">
      <vano-canvas-layout title="No Show Appointment" router.bind="router">
          <div slot="body">
              <p>Select the amount to charge this client for the no show fee.</p>
              <div class="no-show-fee-dial-pad-wrapper">
                  <vano-dial-pad 
                    amount.two-way="total"
                    loading.one-way="isFetching">
                  </vano-dial-pad>
              </div>
          </div>
      </vano-canvas-layout>
  </div>
</template>


