@import '../../../styles/new-variables';

.vano-sales-feed-load-more-component{
    display: flex;
    width: 100%;
    height: 55px;
    background: $white;
    align-items: center;
    justify-content: center;
    font-size: .8125rem;
    color: $primary-font-color;
}