@import '../../styles/new-variables.scss';

.vano-customer-item-component{
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom: $vano-customers-search-border;
    width: 100%;
    .letter {
        display: flex;
        align-items: center;
        height: 40px;
        font-size: .9375rem;
        color: $primary-font-color;
        font-weight: 700;
        text-transform: uppercase;
    }
    .vano-customer-full-name {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: $vano-customers-results-font-color;
        height: 60px;
    }
}