<template>
    <require from="./vano-customer-item.css"></require>
	<require from="../../filters/filters"></require>

    <div class="vano-customer-item-component">
        <span class="letter" if.bind="letter">${letter}</span>
        <div class="vano-customer-full-name">
            ${customer | capitalize}
        </div>
    </div>
</template>