@import '../../styles/new-variables.scss';

.service-details-component{
  .price-input {
      background: $vano-input-bg-color;
      height: 45px;
      // width: 100%;
      box-shadow: none;
      border: none;
      border-radius: 2px;
      outline: none;
      color: $primary-font-color;
      font-size: $vano-placeholder-size;
      padding-left: 1.25rem;
      font-family: $primary-font-family;
      width: 89%;
  }
  .price-input::placeholder {
          color: $vano-input-color;
          font-size: $vano-placeholder-size;
          font-family: $primary-font-family;
  }
  .double-buttons {
      display: flex;
      justify-content: space-between;
      margin: 0 -.5rem;
      margin-top: -1rem;
      vano-button {
          width: 100%;
          margin: 0 .5rem;
          .vano-button-component {
              margin-top: 1rem;
          }
      }
  }
  .require-phone-call-input-group {
    p {
      font-weight: 200;
      font-size: .7rem;
      margin-top: -.5rem;
      margin-bottom: .7rem;
    }
  }
}

@media (max-width: 768px) {
    
}
