<template>
    <require from="./service-details.css"></require>
    <require from="../../filters/filters"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-forms/vano-toggle/vano-toggle"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>

    <div class="service-details-component au-animate">
        <vano-canvas-layout title="Service Details" router.bind="router">
            <div slot="body">
                <form 
                    submit.delegate="validate()"
                    keyup.trigger="handleKeyup($event)">
                    <vano-input-group>
                        <vano-label>Name</vano-label>
                        <vano-input value.two-way="name & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Description</vano-label>
                        <vano-textarea value.two-way="description & validate"></vano-textarea>
                    </vano-input-group>
                    <vano-input-group multi="true">
                        <vano-input-group>
                            <vano-label>Length (in minutes)</vano-label>
                            <vano-input type="tel" value.two-way="length & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Price</vano-label>
                            <input type="tel" value.bind="price & validate" class="price-input" />
                        </vano-input-group>
                    </vano-input-group>
                    <vano-input-group class="require-phone-call-input-group">
                      <vano-label>Require Consulation</vano-label>
                      <p>Require your clients to call in order to book this service. *Recommended for services that require a consultation prior to booking.</p>
                      <vano-toggle checked.two-way="requirePhoneCall"></vano-toggle>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <div class="double-buttons">
                    <vano-button click.delegate="validate()" color="primary" rounded="false">Update</vano-button>
                    <vano-button click.delegate="delete()" color="danger" rounded="false">Delete</vano-button>
                </div>
            </div>
        </vano-canvas-layout>
    </div>
</template>
