<template>
    <require from="./admin-calendar.css"></require>
    <require from="../../../components/vano-calendar/vano-calendar"></require>
    <require from="../../../components/vano-info-card/vano-offline-info-card/vano-offline-info-card"></require>
    <require from="../../../components/vano-info-card/vano-info-card"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-admin-calendar-header/vano-admin-calendar-header"></require>
    <require from="../../../components/vano-no-results-card/vano-no-results-card"></require>
    <require from="../../../filters/filters"></require>
  
    <div class="admin-calendar-component au-animate">
      <!-- <vano-admin-calendar-header
        if.bind="professionals.length > 1"
        title.one-way="professionalTitle"
        professionals.one-way="professionals"
        selected-professional.two-way="selectedProfessional">
      </vano-admin-calendar-header> -->
      <vano-calendar 
        calendar-display.one-way="selectedDisplay" 
        events.one-way="events">
      </vano-calendar>
      <!-- AGENDA VIEW EVENTS -->
<!--   
      <div class="agenda-upcoming-appointments">
        <div class="agenda-appointments-wrapper" repeat.for="e of upcomingEvents" if.bind="shouldDisplayWrapper(e, $index)">
          <vano-component-label title.bind="getDateTitle(e)" if.bind="shouldDisplayDate(e)">
          </vano-component-label>
          <vano-info-card 
            if.bind="upcomingEventDataLoaded && upcomingEvents.length > 0"
            title.bind="e.title" 
            sub-title.bind="e.start | dateFormat: 'DD MMM, YYYY'" 
            bubble-text.bind="e.start | dateFormat:'h:mm A'"
            color.bind="randomColor()"  
            click.delegate="navigate(e.id)">
          </vano-info-card>
        </div>
        <div if.bind="!upcomingEventDataLoaded">
          <vano-offline-info-card></vano-offline-info-card>
        </div>
        <vano-no-results-card
          if.bind="upcomingEventDataLoaded && upcomingEvents.length === 0"
          text="No Upcoming Appointments">
        </vano-no-results-card>
      </div> -->
  
      <!-- END AGENDA VIEW EVENTS -->
    </div>
  </template>
  