<template>
    <require from="./vano-info-card.css"></require>

    <div class="vano-info-card-component ${color}">
        <div class="vano-item-section icon">
            <div class="${color}"></div>
        </div>
        <div class="vano-item-section info">
            <slot></slot>
            <h3 class="vano-info-title">${title}</h3>
            <p class="vano-info-sub-title">${subTitle}</p>
        </div>
        <div class="vano-item-section length">
            <div class="vano-length-component">${bubbleText}</div>
        </div>
    </div>
</template>
