@import '../../styles/new-variables.scss';

.vano-info-card-component{
    background: $white;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 70px;
    box-shadow: $primary-box-shadow;
    display: flex;
    flex: 1;
    justify-content: space-between;
    cursor: pointer;
    &.red {
        color: $red;
        .vano-item-section {
            color: $red;
            &.icon {
                div {
                    box-shadow: $vano-red-box-shadow;
                    background: $red;
                }
            }
            &.length {
                .vano-length-component {
                    background: $red;
                    box-shadow: $vano-red-box-shadow;
                }
            }
        }
    }
    &.green {
        color: $green;
        .vano-item-section {
            color: $green;
            &.icon {
                div {
                    box-shadow: $vano-green-box-shadow;
                    background: $green;
                }
            }
            &.length {
                .vano-length-component {
                    background: $green;
                    box-shadow: $vano-green-box-shadow;
                }
            }
        }
    }
    &.blue {
        color: $blue;
        .vano-item-section {
            color: $blue;
            &.icon {
                div {
                    box-shadow: $vano-blue-box-shadow;
                    background: $blue;
                }
            }
            &.length {
                .vano-length-component {
                    background: $blue;
                    box-shadow: $vano-blue-box-shadow;
                }
            }
        }
    }
    .vano-item-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.info {
            margin-left: 1rem;
            flex: 1;
            .vano-info-title {
                font-family: $primary-font-family;
                font-size: .9375rem;
                color: $primary-font-color;
            }
            .vano-info-sub-title {
                font-family: $primary-font-family;
                font-size: .6875rem;
                color: $grey-font-color;
                margin-top: .2rem;
            }
        }
        &.icon {
            width: 35px;
            max-width: 35px;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            div {
                height: 6px;
                width: 6px;
                background: #333;
                box-shadow: $vano-bottom-only-shadow;
                border-radius: 50%;
                margin-top: -1.2rem;
            }
        }
        &.length {
            margin-right: 20px;
            .vano-length-component {
                height: 30px;
                width: 75px;
                border-radius: 100px;
                color: $white;
                background: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .6875rem;
            }
        }
    }
    .title {
        display: flex;
        flex: 1;
        align-items: center;
    }
}

@media (min-width: 960px) {
    .vano-info-card-component {
        max-width: none;
    }   
}
