<template>
  <require from="./vano-cc-input.css"></require>

  <div class="vano-cc-input-component">
        <input 
            type="tel" 
            value.bind="value" 
            placeholder="Card number" 
            class="${randomClass}"
            disabled.one-way="disabled"
            maxlength="19"
            keyup.trigger="format()">
  </div>
</template>
