@import '../../styles/new-variables';

.vano-onboarding-card-component{
    opacity: .5;
    background: $white;
    box-shadow: $primary-box-shadow;
    cursor: not-allowed;
    transition: all $vano-main-transition;
    vano-onboarding-card-header {
        .vano-onboarding-card-header-component {
            height: 70px;
            i {
                display: none;
                font-size: 1.2rem;
                color: $success-green;
            }
        }
    }
    vano-onboarding-card-body {
        max-height: 0;
        overflow: hidden;
        display: none;
        transition: max-height $vano-main-transition;
    }
    &.active {
        cursor: default;
        opacity: 1;
        vano-onboarding-card-header {
            .vano-onboarding-card-header-component {
                height: 54px;
            }
        }
        vano-onboarding-card-body {
            display: inline;
            max-height: 1000px;
            transition: max-height $vano-main-transition;
        }
    }
    &.completed {
        cursor: pointer;
        opacity: 1;
        vano-onboarding-card-header {
            .vano-onboarding-card-header-component {
                i {
                    display: inline;
                    font-size: 1.2rem;
                    color: $success-green;
                }
            }
        }
    }
}