<template>
  <require from="./vano-checkout-customer-card.css"></require>
  <require from="../vano-select-dot/vano-select-dot"></require>

  <div class="vano-checkout-customer-card-component">
    <div class="vano-checkout-customer-card--section">
        <vano-select-dot color="blue"></vano-select-dot>
        <span>${customer}</span>
    </div>
    <div class="vano-checkout-customer-card--section">
        <!-- <i class="material-icons">mode_edit</i> -->
    </div>
  </div>
</template>