@import '../../styles/new-variables';

.vano-checkout-customer-card-component{
    background: $white;
    box-shadow: $primary-box-shadow;
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    height: 70px;
    align-items: center;
    .vano-checkout-customer-card--section {
        display: flex;
        align-items: center;
        i {
            color: $vano-light-font-color;
            font-size: 2rem;
        }
        span {
            margin-left: 1.25rem;
        }
    }
}