<template>
    <require from="./vano-transactions-history.css"></require>
    <require from="../../../components/vano-no-results-card/vano-no-results-card"></require>
    <require from="../../../components/vano-tab/vano-tab"></require>
    <require from="../../../components/vano-sales-feed-card/vano-sales-feed-card"></require>
    <require from="../../../components/vano-sales-feed-card/vano-sales-feed-load-more/vano-sales-feed-load-more"></require>
    <require from="../../../components/vano-tab/vano-tab-header/vano-tab-header"></require>
    <require from="../../../components/vano-tab/vano-tab-body/vano-tab-body"></require>
    <require from="../../../components/vano-tab/vano-tab-header-item/vano-tab-header-item"></require>
    <require from="../../../filters/filters"></require>


    <div class="vano-transactions-history-component">
       <div class="vano-transactions">
          <vano-component-label title="Transactions"></vano-component-label>
          <vano-tab selected.two-way="selectedTabItem">
          <vano-tab-header>
             <vano-tab-header-item title="All" name="all" selected.bind="selectedTabItem === 'all'">
             </vano-tab-header-item>
             <vano-tab-header-item title="Transactions" name="tran" selected.bind="selectedTabItem === 'tran'">
             </vano-tab-header-item>
             <vano-tab-header-item title="Deposits" name="dep" selected.bind="selectedTabItem === 'dep'">
             </vano-tab-header-item>
          </vano-tab-header>
          <vano-tab-body name="all">
             <div class="tab-body" if.bind="customerDataLoaded">
                <vano-sales-feed-card 
                   repeat.for="t of transactions"
                   if.bind="$index < length"
                   type.one-time="t.refunded ? 'refund': 'charge'" 
                   amount.one-way="t.total | currency: false" 
                   customer.one-way="idToCustomer(t.customer_id)" 
                   when.one-time="t.created_at | fromNow: false"
                   click.delegate="navigate('app.transaction.details', t.id)">
                </vano-sales-feed-card>
             </div>
             <vano-sales-feed-load-more click.delegate="length = length + 4"></vano-sales-feed-load-more>
          </vano-tab-body>
          <vano-tab-body name="tran">
             <div class="tab-body" if.bind="customerDataLoaded">
                <vano-sales-feed-card 
                   repeat.for="t of transactions"
                   if.bind="$index < length"
                   type.one-time="t.refunded ? 'refund': 'charge'" 
                   amount.one-way="t.total | currency: false" 
                   customer.one-way="idToCustomer(t.customer_id) | capitalize" 
                   when.one-time="t.created_at | fromNow: false"
                   click.delegate="navigate('app.transaction.details', t.id)">
                </vano-sales-feed-card>
             </div>
             <vano-sales-feed-load-more click.delegate="length = length + 4"></vano-sales-feed-load-more>
          </vano-tab-body>
          <vano-tab-body name="dep">
             <div class="tab-body" if.bind="customerDataLoaded">
                <vano-sales-feed-card 
                   repeat.for="t of deposits"
                   if.bind="$index < length"
                   type="deposit" 
                   amount.one-way="t.total | currency: false" 
                   customer.one-way="idToCustomer(t.customer_id)" 
                   when.one-time="t.created_at | fromNow: false"
                   click.delegate="navigate('app.transaction.details', t.id)">
                </vano-sales-feed-card>
             </div>
             <vano-sales-feed-load-more click.delegate="length = length + 4"></vano-sales-feed-load-more>
          </vano-tab-body>
          </vano-tabs>
       </div>
    </div>
 </template>
