<template>
  <require from="./individuals.css"></require>
  <require from="../../../components/vano-card/vano-card"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../components/vano-select-dot/vano-select-dot"></require>
  <require from="../../../components/vano-no-results-card/vano-no-results-card"></require>
  <require from="../../../components/vano-close/vano-close"></require>
  <require from="../../../filters/filters"></require>
  <require from="../invite/invite"></require>

  <div class="individuals-component">
    <div class="individuals-wrapper">
      <vano-title title="Manage Individual Professionals" sub-title="Request access to a manage a Vano professional outside of your salon or spa."></vano-title>
      <invite></invite>
      <div class="accepted-request-wrapper">
          <vano-component-label title="Requests Accepted"></vano-component-label>
          <div 
            if.bind="acceptedProfessionals.length > 0"
            class="invite-request-item" 
            repeat.for="p of acceptedProfessionals">
              <div class="delete-wrapper">
                <vano-close color="red" click.delegate="delete(p.id)"></vano-close>
              </div>
              <div class="invite-request-item--section info">
                <vano-select-dot color="blue"></vano-select-dot>
                  <h4>${fullName(p) | capitalize}</h4>
                  <h6>${email(p)}</h6>
                </div>
                <div class="invite-request-item--section status">
                    <p class="accepted">Request State <span><i class="material-icons">check</i> Accepted</span></p> 
              </div>
          </div>
          <vano-no-results-card if.bind="acceptedProfessionals.length === 0" text="No Accepted Requests"></vano-no-results-card>
      </div>
      <div class="pending-request-wrapper">
          <vano-component-label title="Requests Pending"></vano-component-label>
          <div 
          if.bind="pendingProfessionals.length > 0"
          class="invite-request-item" 
          repeat.for="p of pendingProfessionals">
            <div class="delete-wrapper">
              <vano-close color="red" click.delegate="delete(p.id)"></vano-close>
            </div>
            <div class="invite-request-item--section info">
              <vano-select-dot color="blue"></vano-select-dot>
                <h4>${fullName(p) | capitalize}</h4>
                <h6>${email(p)}</h6>
              </div>
              <div class="invite-request-item--section status">
                  <p class="pending">Request State <span><i class="material-icons">watch_later</i> Pending</span></p> 
            </div>
        </div>
        <vano-no-results-card if.bind="pendingProfessionals.length === 0" text="No Pending Requests"></vano-no-results-card>
      </div>
    </div>
  </div>
</template>
