@import '../../../styles/new-variables';

.individuals-component{
  .individuals-wrapper {
    max-width: calc(100% - 1.25rem);
    width: 685px;
    .accepted-request-wrapper {
      margin-top: 1.25rem;
    }
    .pending-request-wrapper {
      margin-top: 1.25rem;
    }
    .invite-request-item {
      margin: 1rem 0;
      height: 110px;
      background: $white;
      box-shadow: $primary-box-shadow;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 1.25rem;
      position: relative;
      .delete-wrapper {
        position: absolute;
        top: .5rem;
        right: .5rem;
        vano-close {
          .vano-close-component {
            p {
              font-size: 1.3rem;
            }
          }
        }
      }
      .invite-request-item--section {
        display: flex;
        align-items: center;
        margin-top: .5rem;
        &.info {
          h4 {
            margin-left: .6rem;
            font-size: .9375rem;
          }
          h6 {
            margin-left: .6rem;
            font-size: .75rem;
            color: $vano-light-font-color
          }
        }
        &.status {
          p {
            text-transform: uppercase;
            font-weight: 600;
            display: flex;
            font-size: .5rem;
            color: $vano-light-font-color;
            &.pending {
              span {
                color: $light-orange;
                i {
                  margin-right: .2rem;
                }
              }
            }
            span {
              display: flex;
              color: $success-green;
              font-weight: 700;
              i {
                font-size: .8rem;
                margin-left: .8rem;
              }
            }
          }
        }
      }
    }
  }
}
