<template>
    <require from="./vano-customer-activity-card.css"></require>
    <require from="../vano-forms/vano-label/vano-label"></require>
    <require from="../vano-info-card/vano-info-card"></require>
    <require from="../vano-forms/vano-input/vano-input"></require>
    <require from="../vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../vano-forms/vano-label/vano-label"></require>
    <require from="../vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../vano-button/vano-button"></require>
    <require from="../../filters/filters"></require>

    <div class="vano-customer-activity-card-component">
      <vano-info-card 
        title.one-way="displayServices()" 
        sub-title.one-way="date | dateFormat: 'MM-DD-YYYY'" 
        bubble-text.one-way="bubbleText"
        color.one-way="bubbleColor"
        click.delegate="showNotes = !showNotes">
      </vano-info-card> 
      <div class="vano-customer-activity-card-notes-wrapper" class.bind="showNotes ? 'show': ''">
        <p>Add notes about this appointment so you can refer back to it for future reference.</p>
        <form submit.trigger="submit()">
          <vano-input-group if.bind="hasColorAppointment()">
            <vano-label>Color Formula</vano-label>
            <vano-input value.two-way="colorFormula"></vano-input>
          </vano-input-group>
          <vano-input-group if.bind="hasColorAppointment()">
            <vano-label>Highlight Formula</vano-label>
            <vano-input value.two-way="highlightFormula"></vano-input>
          </vano-input-group>
          <vano-input-group>
              <vano-label>Total Service Length</vano-label>
              <vano-input value.two-way="totalServiceLength"></vano-input>
          </vano-input-group>
          <vano-input-group>
            <vano-label>Notes</vano-label>
            <vano-textarea value.two-way="notes"></vano-textarea>
          </vano-input-group>
          <vano-input-group>
              <vano-input type="hidden" value.two-way="errMsg & validate"></vano-input>
          </vano-input-group>
          <vano-button loading.one-way="isFetching" if.bind="!hasPostAppointment" color="primary">Submit</vano-button>
          <vano-button loading.one-way="isFetching" if.bind="hasPostAppointment" color="primary">Update</vano-button>
        </form>
      </div>
    </div>
</template>
