@import '../../styles/new-variables';

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vano-customer-activity-card-component{
    vano-info-component {
      width: 100%;
    }
    .vano-customer-activity-card-notes-wrapper {
      padding: 1.3rem;
      background: $white;
      border-top: $primary-border;
      display: none;
      &.show {
        display: block;
        animation-name: open;
        animation-duration: .5s;
        box-shadow: $primary-box-shadow;
      }
      p {
        font-weight: 200;
        font-size: .6875rem;
        color: $primary-font-color;
      }
    }
}
