@import '../../styles/new-variables.scss';

$vano-avatar-dimensions: 107px;

.customer-detail-component{
    padding: 20px;
    .vano-customer-detail-section {
        margin-top: 1rem;
        .edit-btn{
          position: relative;
          display: flex;
          justify-content: flex-end;
          height: 20px;
          i {
            height: 50px;
            width: 50px;
            position: absolute;
            font-size: 2rem;
            color: $vano-light-font-color;
            cursor: pointer;
          }
        }
        &.vano-customer-billing {
            .vano-cc-card-component {
                margin: 1rem 0;
            }
        }
        &.vano-customer-services {
          border-bottom: $primary-border;
          min-height: 120px;
          margin: 1rem 0;
        }
        &.vano-customer-details {
            margin-top: 0;
            vano-card {
                .vano-card-component {
                    padding: 0 30px 40px 30px;
                }
            }
            .vano-customer-avatar {
                display: flex;
                justify-content: center;
                margin-top: 53.5px;
                .vano-avatar {
                    height: $vano-avatar-dimensions;
                    width: $vano-avatar-dimensions;
                    background: #ccc;
                    border-radius: 50%;
                    border: solid 4px $white;
                    transform: translateY(-50%);
                    margin-bottom: -53.5px;
                }
            }
            .vano-customer-full-name {
                text-align: center;
                margin-top: 1rem;
                h3 {
                    font-size: 1.125rem;
                    color: $primary-font-color;
                    font-family: $primary-font-family;
                    font-weight: 700;
                }
            }
            .vano-customer-metadata {
                margin-top: 2rem;
                .vano-customer-meta-section {
                    display: flex;
                    flex: 1;
                    margin: 1.5rem 0;
                    .vano-customer-meta-icon {
                        i {
                            color: $vano-light-font-color;
                            font-size: 1.25rem;
                        }
                    }
                    .vano-customer-meta-details {
                        display: flex;
                        flex-direction: column;
                        margin-left: 1rem;
                        h6 {
                            color: $vano-light-label-color;
                            font-size: .5625rem;
                        }
                        h3 {
                            color: $primary-font-color;
                            font-family: $primary-font-family;
                            font-size: .8125rem;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        &.vano-customer-activity {
            .vano-customer-activity-card-component {
                margin: 1rem 0;
            }
            vano-card {
                .no-activity {
                    height: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $no-more-font-color;
                    font-size: .9375rem;
                }
            }
        }
    }
}
