<template>
    <require from="./customer-detail.css"></require>
    <require from="../../components/vano-card/vano-card"></require>
    <require from="../../components/vano-component-label/vano-component-label"></require>
    <require from="../../components/vano-cc-card/vano-cc-card"></require>
    <require from="../../components/vano-customer-activity-card/vano-customer-activity-card"></require>
    <require from="../../components/vano-customer-notes/vano-customer-notes"></require>
    <require from="../../components/vano-no-results-card/vano-no-results-card"></require>
    <require from="../../components/vano-customer-services-card/vano-customer-services-card"></require>
    <require from="../../filters/filters"></require>

    <div class="customer-detail-component">
        <div class="vano-customer-detail-section vano-customer-details">
            <vano-card>
                <div class="vano-customer-avatar">
                    <div class="vano-avatar">
                    </div>
                </div>
                <div class="edit-btn">
                  <i class="material-icons" click.delegate="updateCustomer()">&#xE3C9;</i>
                </div>
                <div class="vano-customer-full-name">
                    <h3>${fullName | capitalize}</h3>
                </div>
                <div class="vano-customer-metadata">
                    <div class="vano-customer-meta-section mobile">
                        <div class="vano-customer-meta-icon">
                            <i class="icon-telephone"></i>
                        </div>
                        <div class="vano-customer-meta-details">
                            <h6>MOBILE</h6>
                            <a href="sms:${customer.phone_number}">
                              <h3 if.bind="authProfessional.permission.manage_customers">+1 ${customer.phone_number | phoneNumber}</h3>
                              <h3 if.bind="!authProfessional.permission.manage_customers">**********</h3>
                            </a>
                        </div>
                    </div>
                    <div class="vano-customer-meta-section">
                        <div class="vano-customer-meta-icon">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="vano-customer-meta-details">
                            <h6>WORK</h6>
                            <a href="tel:${customer.phone_number}">
                              <h3 if.bind="authProfessional.permission.manage_customers">+1 ${customer.phone_number | phoneNumber}</h3>
                              <h3 if.bind="!authProfessional.permission.manage_customers">**********</h3>
                            </a>
                        </div>
                    </div>
                    <div class="vano-customer-meta-section">
                        <div class="vano-customer-meta-icon">
                            <i class="icon-mail"></i>
                        </div>
                        <div class="vano-customer-meta-details">
                            <h6>EMAIL</h6>
                            <a href="mailto:${customer.email}">
                                <h3 if.bind="authProfessional.permission.manage_customers">${customer.email}</h3>
                                <h3 if.bind="!authProfessional.permission.manage_customers">*********</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </vano-card>
        </div>
        <div class="vano-customer-detail-section vano-customer-billing">
            <vano-component-label title="Billing"></vano-component-label>
            <vano-cc-card 
              if.bind="cards.length > 0"
              repeat.for="c of cards"
              last-four.one-way="c.last_four" 
              icon.one-way="c.method"
              id.one-way="c.id">
            </vano-cc-card>
            <vano-no-results-card text="No Saved Cards" if.bind="cards.length === 0"></vano-no-results-card>
        </div>
        <div class="vano-customer-detail-section vano-customer-notes">
            <vano-component-label title="Notes"></vano-component-label>
            <vano-customer-notes notes.bind="notes" value.two-way="noteValue"></vano-customer-notes>
        </div>
        <div class="vano-customer-detail-section vano-customer-services" if.bind="feature.customer_service_times">
            <vano-component-label title="Custom Service Times"></vano-component-label>
            <vano-customer-services-card customer.one-way="customer"></vano-customer-services-card>
          </div>
        <div class="vano-customer-detail-section vano-customer-activity">
            <vano-component-label title="Activity"></vano-component-label>
            <vano-customer-activity-card
                repeat.for="a of recentAppointments"
                appointment.one-way="a"
                post-appointment.one-way="a.post_appointment"
                services.one-way="a.services"
                date.one-way="a.start_time" 
                if.bind="recentAppointments.length > 0">
            </vano-customer-activity-card>
             <vano-card if.bind="recentAppointments.length === 0">
                <div class="no-activity">
                    <p>No Recent Activity</p>
                </div>
            </vano-card> 
        </div>
    </div>
</template>
