@import '../../../styles/new-variables';

.salon-component{
  padding: 1.25rem 0;
  .view-salon-cta {
    color: $blue;
    text-align: right;
    font-size: .75rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  .dropzone {
    border: none;
  }
  .dz-default.dz-message{
    span {
      color: $primary-font-color;
      font-family: $primary-font-family;
      font-size: 1rem;
    }
  }
  vano-card {
    .vano-card-component {
      padding: .7rem 1.35rem 1rem 1.35rem;
    }
  }
  vano-textarea {
    textarea {
      height: 200px;
    }
  }
  .submit-btn {
    margin-top: 1.5rem;
  }
  .salon-photos-wrapper {
    margin-top: 1.25rem;
  }
  .company-images-container {
    margin-top: 1.25rem;
    .company-images-wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -.5rem;
      .company-image {
        overflow: hidden;
        position: relative;
        width: 154px;
        height: 90px;
        margin: 0 .5rem;
        background: $white;
        padding: .5rem;
        margin: .5rem .5rem;
        box-shadow: $primary-box-shadow;
        border: $primary-border;
        .delete-image {
          position: absolute;
          right: 0;
          top: .25rem;
          color: $red;
          cursor: pointer;
          text-shadow: $vano-red-text-shadow;
          .vano-close-component {
            p {
              font-size: 1rem;
            }
          }
        }
        img {
          width: 100%;
          max-height: 90px;
        }
      }
    }
  }
}


