<template>
  <require from="./salon.css"></require>
  <require from="dropzone/min/dropzone.min.css"></require>
  <require from="../../../components/vano-card/vano-card"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="../../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../../components/vano-button/vano-button"></require>
  <require from="../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../components/vano-forms/vano-file-input/vano-file-input"></require>
  <require from="../../../components/vano-forms/vano-textarea/vano-textarea"></require>
  <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../components/vano-close/vano-close"></require>

  <div class="salon-component au-animate">
    <p class="view-salon-cta" click.delegate="viewPublicProfile()">View My Profile</p>
    <vano-title title="Edit your Salon Profile" sub-title="This is what your clients see. Express your creativity."></vano-title>
    <vano-component-label title="Salon Information"></vano-component-label>
    <vano-card>
      <vano-input-group multi="true" first="true">
        <vano-input-group>
          <vano-label>Phone Number</vano-label>
          <vano-input value.two-way="phoneNumber & validate"></vano-input>
        </vano-input-group>
        <vano-input-group>
          <vano-label>E-mail Address</vano-label>
          <vano-input value.two-way="email & validate"></vano-input>
        </vano-input-group>
      </vano-input-group>
      <vano-input-group>
        <vano-label>Full Description</vano-label>
        <vano-textarea value.two-way="description & validate"></vano-textarea>
      </vano-input-group>
      <vano-input-group multi="true">
        <vano-input-group>
          <vano-label>Logo Photo</vano-label>
          <vano-file-input name="logo" file-name.one-way="logoURL" uploading.one-way="uploadingLogo"></vano-file-input>
        </vano-input-group>
        <vano-input-group>
          <vano-label>Cover Photo</vano-label>
          <vano-file-input 
          is-croppable="true"
          name="cover" file-name.one-way="coverURL"uploading.one-way="uploadingCover"></vano-file-input>
        </vano-input-group>
      </vano-input-group>
    </vano-card>
    <div class="submit-btn">
      <vano-button click.delegate="validate()" disabled.bind="uploadingCover || uploadingLogo" color="primary">Save</vano-button>
    </div>
    <div class="salon-photos-wrapper">
      <vano-component-label title="Upload Salon Photos"></vano-component-label>
      <vano-card>
        <div id="dropzoneWrapper" class="dropzone">
        </div>
      </vano-card>
    </div>
    <div class="company-images-container">
        <vano-component-label title="Gallery"></vano-component-label>
        <div class="company-images-wrapper">
            <div class="company-image" repeat.for="i of companyImages">
              <vano-close class="delete-image" color="red" click.delegate="removeImage(i.id)">X</vano-close>
              <img src.one-way="i.url">
            </div>
          </div>
    </div>
  </div>
</template>
