@import '../../styles/new-variables.scss';

@keyframes example {
  0% {top: 70px; opacity: 0}
  75% {top: calc(70px + 2rem); opacity: 1}
  100% {opacity: 0}
}

.vano-toastr-wrapper {
  width: 370px;
  height: 50px;
  max-width: calc(100% - 1.420rem - 1.25rem);
  background: rgba(125,216,62,.80);
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 1.420rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: example;
  animation-duration: 1.5s;
  animation-direction: $vano-main-transition;
  opacity: 0;
}
