@import '../../../styles/new-variables';

.vano-visa-card-component{
  height: 50px;
  width: 50px;
  svg {
    height: 50px;
    width: 50px;
    fill: $blue;
    path {
      fill: $blue;
    }
  }
}
