<template>
  <require from="./vano-visa-card.css"></require>

  <div class="vano-visa-card-component">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="225px" height="225px" viewBox="0 0 225 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
          <title>15</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="15" fill="#D1D8DE">
                  <g id="Group-3" transform="translate(40.000000, 67.000000)">
                      <g id="if_Sed-26_2200543">
                          <g id="Icons">
                              <g id="Group">
                                  <path d="M110.802545,39.1330515 C109.336473,43.187898 107.871005,47.241303 106.379174,51.364272 L113.476016,51.364272 C112.616499,47.2376295 111.775408,43.193292 110.933436,39.1506285 C110.889527,39.1446765 110.846175,39.1390035 110.802545,39.1330515 L110.802545,39.1330515 Z" id="Shape"></path>
                                  <path d="M130.105757,0.2656545 L11.8919685,0.2656545 C5.73424563,0.2656545 0.723303829,5.285748 0.723303829,11.4569955 L0.723303829,81.543051 C0.723303829,87.7142985 5.73424563,92.734392 11.8919685,92.734392 L130.105757,92.734392 C136.265754,92.734392 141.276696,87.7142985 141.276696,81.543051 L141.276696,11.4569955 C141.276696,5.285748 136.265754,0.2656545 130.105757,0.2656545 L130.105757,0.2656545 Z M83.5437623,51.299265 C82.6647043,50.6007885 81.6541983,50.0521815 80.6530218,49.5302655 C78.9863901,48.661227 77.3381853,47.7805635 75.8891018,46.559892 C71.7549437,43.0809015 72.2830098,38.2174665 74.5202239,34.945122 C76.3610983,32.2548645 79.0677096,30.831267 82.1440182,30.0524385 C83.1239365,29.803803 84.142658,29.7121515 85.1410032,29.5432635 C85.2894391,29.518293 85.4333727,29.4669105 85.5798128,29.4274785 L88.8648971,29.4274785 C89.8221648,29.5852995 90.7856521,29.7084315 91.73243,29.913078 C92.6647727,30.1142835 93.5826339,30.3927255 94.5033264,30.648708 C94.7262587,30.710274 94.9373552,30.8113185 95.1982552,30.912363 C94.7038866,33.220623 94.2160625,35.507307 93.727403,37.79427 C92.6055469,37.4398005 91.5327052,37.036785 90.4261662,36.7671315 C88.4354634,36.282369 86.4033582,36.074607 84.3978954,36.61503 C83.6729359,36.811167 82.9431492,37.2204135 82.3760015,37.716522 C81.4142315,38.5569165 81.4127927,39.784935 82.3411437,40.662483 C82.9734584,41.259915 83.7154058,41.759418 84.4661257,42.2047485 C85.9610675,43.090248 87.531666,43.8500115 89.0065099,44.767038 C90.9896006,46.000218 92.6403583,47.573685 93.3015432,49.9196565 C94.2624777,53.32713 93.2125652,57.8698545 89.4248968,60.608937 C87.2455161,62.1844035 84.7794285,63.009732 82.1540903,63.3469035 C78.0244809,63.8779335 73.9716423,63.4720815 70.0244911,62.114607 C69.8049471,62.0394165 69.5936185,61.9409295 69.3142453,61.8268185 C69.8247664,59.4303015 70.3301354,57.0519195 70.8491505,54.619365 C71.182876,54.7643985 71.4698614,54.8799045 71.7477494,55.0124295 C74.1897474,56.17293 76.7646323,56.7286515 79.4627496,56.6968455 C80.7007366,56.682942 81.9141236,56.491362 83.031431,55.899882 C85.0718909,54.8202915 85.3418419,52.724862 83.5437623,51.299265 L83.5437623,51.299265 Z M69.8101456,33.2484765 C67.7460603,42.9219645 65.674595,52.5937785 63.6317215,62.2729395 C63.5008306,62.8922265 63.280451,63.0735765 62.6489718,63.0619515 C60.3231047,63.0190785 57.996402,63.0457695 55.6696994,63.0457695 L54.9223678,63.0457695 C57.2853207,51.989232 59.6285008,41.021835 61.9719129,30.0618315 L70.4742083,30.0618315 C70.2472842,31.151652 70.0322425,32.2012035 69.8101456,33.2484765 L69.8101456,33.2484765 Z M57.8284253,31.1865735 C53.4622839,41.6272185 49.0912689,52.0675845 44.7341784,62.512182 C44.5675941,62.9106405 44.3690298,63.0619515 43.9233972,63.0585105 C41.2847842,63.0355395 38.6447323,63.04005 36.0052838,63.056232 C35.6075517,63.0596265 35.4395286,62.9608605 35.3327272,62.54622 C33.1287,53.948928 30.8866587,45.36075 28.7024508,36.7592265 C28.3101029,35.215845 27.5364074,34.1489955 26.0669477,33.493392 C23.6458828,32.4151965 21.1296668,31.6633845 18.5593306,31.0625115 C18.4468665,31.0355415 18.3380692,30.9912735 18.2278795,30.955515 L18.2278795,30.719667 C18.3069246,30.0711315 18.7148681,30.012123 19.2834546,30.0144015 C23.7606677,30.038535 28.2384378,30.028305 32.7159293,30.029142 C34.9398222,30.029142 36.4647946,31.2702735 36.8789577,33.4598655 C38.0249033,39.511887 39.1575278,45.5667915 40.294933,51.6210915 C40.3345716,51.83169 40.3870208,52.039452 40.555833,52.291482 C43.48598,44.877708 46.4152452,37.464492 49.3405651,30.061785 L58.2726191,30.061785 C58.1111405,30.471078 57.9768612,30.8312205 57.8284253,31.1865735 L57.8284253,31.1865735 Z M115.918014,63.0168 C115.669832,61.8417915 115.412041,60.665667 115.172957,59.486148 C114.89363,58.1008665 114.900731,58.099983 113.468357,58.099983 C110.477592,58.099983 107.487105,58.1076555 104.495783,58.0914735 C104.078788,58.089195 103.875954,58.209258 103.739679,58.615947 C103.289219,59.94873 102.807614,61.271004 102.306748,62.585652 C102.23564,62.77128 101.986343,63.0167535 101.816928,63.019032 C98.9845312,63.045723 96.1515776,63.0377715 93.2562884,63.0377715 C93.3296709,62.830893 93.3761325,62.66712 93.4418565,62.5112985 C97.6077162,52.5417915 101.775293,42.57168 105.945702,32.602173 C106.652234,30.912363 107.959102,30.040767 109.774448,30.0384885 C112.11902,30.03621 114.463268,30.0376515 116.893662,30.0376515 C119.183279,41.017278 121.470575,51.9837915 123.77096,63.0168 L115.918014,63.0168 L115.918014,63.0168 Z" id="Shape"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
  </div>
</template>
