@import '../../../styles/new-variables';

.vano-search-dropdown-component{
    width: 100%;
    background: $white;
    position: relative;
    vano-input {
      width: 100%;
    }
    .vano-search-dropdown-results {
      max-height: 200px;
      overflow-y: auto;
      box-shadow: $primary-box-shadow;
      border: $primary-border;
      position: absolute;
      width: calc(100% - 2px);
      z-index: 99;
      -webkit-overflow-scrolling: touch;
      .vano-search-dropdown-result {
        height: 45px;
        display: flex;
        align-items: center;
        padding: 0 1.25rem;
        border-bottom: $primary-border;
        background: $white;
        &:hover {
          background: #f7f7f7;
        }
      }
    }
}
