<template>
    <require from="./vano-search-dropdown.css"></require>
    <require from="../vano-select/vano-select"></require>
    <require from="../vano-input/vano-input"></require>

    <div class="vano-search-dropdown-component ${randomClass}">
        <vano-input type="search" placeholder.one-way="placeholder" value.two-way="search"></vano-input>
        <div class="vano-search-dropdown-results" if.bind="resultsOpen">
          <div class="vano-search-dropdown-result" repeat.for="o of filteredOpts" click.trigger="setSelected(o)">
            ${o.label}
          </div>
        </div>
    </div>
</template>
