@import '../../styles/new-variables';

.professional-details-component{
  .double-buttons {
      display: flex;
      justify-content: space-between;
      margin: 0 -.5rem;
      margin-top: -1rem;
      vano-button {
          width: 100%;
          margin: 0 .5rem;
          .vano-button-component {
              margin-top: 1rem;
          }
      }
  }
}
