<template>
    <require from="./professional-details.css" as="scoped"></require>
    <require from="../../filters/filters"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>

    <div class="professional-details-component au-animate">
        <vano-canvas-layout 
            title="Professional Details" 
            router.bind="router">
            <div slot="body">
                <form 
                    submit.trigger="validate()" 
                    keyup.trigger="handleKeyup($event)">
                    <vano-input-group>
                        <vano-label>First Name</vano-label>
                        <vano-input value.two-way="firstName & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Last Name</vano-label>
                        <vano-input value.two-way="lastName & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Phone Number</vano-label>
                        <vano-input 
                            value.two-way="phoneNumber & validate" 
                            type="tel"
                            mask="(999) 999-9999">
                        </vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Email Address</vano-label>
                        <vano-input 
                            value.two-way="email & validate" 
                            type="email"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-input 
                            type="hidden"
                            value.two-way="serverError & validate">
                        </vano-input>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <div class="double-buttons">
                    <vano-button loading.one-way="isFetching" click.delegate="validate()" color="primary" rounded="false">Update</vano-button>
                    <vano-button click.delegate="delete()" color="danger" rounded="false">Delete</vano-button>
                </div>
            </div>
        </vano-canvas-layout>
    </div>
</template>
