@import '../../../styles/new-variables';

.vano-accordion-header-component{
    display: flex;
    flex: 1;
    background: $white;
    height: $vano-accordion-header-height;
    box-shadow: $primary-box-shadow;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    &.open {
        border-radius: 2px 2px 0 0;
    }
}