<template>
  <require from="./vano-accordion-header.css"></require>

  <div class="vano-accordion-header-component" class.bind="opened ? 'open': ''" click.delegate="opened = !opened">
    <slot></slot>
  </div>
</template>