@import '../../../styles/new-variables';

.vano-onboarding-card-body-component{
    padding: 0 1.25rem 1.8rem 1.25rem;
    margin-top: -.7rem;
    .explainer {
        font-weight: 200;
        font-size: .6875rem;
        color: $primary-font-color;
    }
    .helper-text {
        font-weight: 200;
        font-size: .6875rem;
        color: $blue;
        margin-top: .5rem;
    }
    .onboarding-form {
        margin-top: 1.3rem;
        vano-label {
            .vano-label-component {
                font-size: .625rem;
            }
        }
        vano-button {
            .vano-button-component {
                margin-top: 2.5rem;
            }
        }
    }
}