@import '../../../styles/new-variables';
					
.vano-accordion-body-component{
    background: $white;
    max-height: 0;
    transition: max-height 1s ease-out  -0.8s;
    overflow: hidden;
    border-radius: 0 0 2px 2px;
    &.open {
        max-height: 9000px;
        transition: max-height 1s ease-in-out;
    }
}