.company-settings-component{
    padding: 20px 0;
    .vano-card-component {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
    }
    .hours-title {
        .vano-component-label-component{
            margin-top: 1rem;
        }
    }
    vano-button {
        .vano-button-component {
            margin-top: 1rem;
        }
    }
    vano-hour-display-card {
      .vano-hour-display-card-component {
        margin: 1rem 0;
      }
    }
}
