<template>
    <require from="./company.css"></require>
    <require from="../../../components/vano-card/vano-card"></require>
    <require from="../../../components/vano-button/vano-button"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../../components/vano-hour-display-card/vano-hour-display-card"></require>
    <require from="../../../components/vano-title/vano-title"></require>

    <div class="company-settings-component au-animate">
        <vano-title title="Company Information" sub-title="Edit your company information and hours."></vano-title>
        <vano-component-label title="Company Information"></vano-component-label>
        <vano-card>
            <vano-input-group>
                <vano-label>Company Name</vano-label>
                <vano-input value.two-way="name & validate"></vano-input>
            </vano-input-group>
            <vano-input-group>
                <vano-label>Address Line1</vano-label>
                <vano-input value.two-way="address1 & validate"></vano-input>
            </vano-input-group>
            <vano-input-group>
                <vano-label>Address Line2</vano-label>
                <vano-input value.two-way="address2 & validate"></vano-input>
            </vano-input-group>
            <vano-input-group multi="true">
                <vano-input-group>
                    <vano-label>City</vano-label>
                    <vano-input value.two-way="city & validate"></vano-input>
                </vano-input-group>
                <vano-input-group>
                    <vano-label>State</vano-label>
                    <vano-select is-state="true" selected.two-way="state & validate" placeholder="Select state">
                      </vano-select>
                </vano-input-group>
            </vano-input-group>
            <vano-input-group>
                <vano-label>Zip Code</vano-label>
                <vano-input value.two-way="zip & validate"></vano-input>
            </vano-input-group>
        </vano-card>
        <vano-button click.delegate="validate()" color="primary">Save</vano-button>
    </div>
</template>
