@import '../../styles/new-variables';
.merchant-onboarding-component {
    padding: 1.25rem;
    .merchant-onboarding-title-wrapper {
        display: none;
    }
    .merchant-onboarding-wrapper {
        .merchant-onboarding-wrapper--labels {
            display: flex;
            justify-content: space-between;
            align-items: center;
            vano-component-label {
                .vano-component-label-component {
                    margin-bottom: 0;
                }
            }
        }
        .merchant-onboarding-wrapper--steps {
            margin-top: 1.25rem;
            .merchant-onbaording-wrapper--step {
                margin: 1rem 0;
            }
        }
    }
}
@media (min-width: 960px) {
    .merchant-onboarding-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.875rem;
        .merchant-onboarding-title-wrapper {
            display: flex;
            width: 675px;
            max-width: calc(100% - 2rem);
        }
        .merchant-onboarding-wrapper {
            width: 657px;
            max-width: calc(100% - 2rem);
        }
    }
}