<template>
    <require from="./merchant-onboarding.css"></require> 
    <require from="../../components/vano-title/vano-title"></require>  
    <require from="../../components/vano-component-label/vano-component-label"></require> 
    <require from="../../components/vano-secured-site-stamp/vano-secured-site-stamp"></require>
    <require from="./info/info"></require>
    <require from="./personal/personal"></require>
    <require from="./banking/banking"></require>

    <div class="merchant-onboarding-component au-animate">
        <div class="merchant-onboarding-title-wrapper">
            <vano-title 
                title="Welcome!" 
                sub-title="Let’s set up your information so that you can start taking payments." 
                description="This should only take a minute. To ensure a speedy experience we recommend having either your EIN or SSN and your driver’s license readily available. This information is strictly for the credit card processor. We promise to never store, sell, or use your information.">
            </vano-title>
        </div>

        <div class="merchant-onboarding-wrapper">
            <div class="merchant-onboarding-wrapper--labels">
                <vano-component-label 
                    title="Merchant Onboarding"
                    font-size=".875rem">
                </vano-component-label>
                <vano-secured-site-stamp></vano-secured-site-stamp>
            </div>
            <div class="merchant-onboarding-wrapper--steps">
                <div class="merchant-onbaording-wrapper--step">
                    <info state.one-way="infoState"></info>
                </div>
                <div class="merchant-onbaording-wrapper--step">
                    <personal state.one-way="personalState"></personal>
                </div>
                <div class="merchant-onbaording-wrapper--step">
                    <banking 
                        state.one-way="bankingState"
                        is-fetching.one-way="isFetching">
                </banking>
                </div>
            </div>
        </div>
    </div>
</template>
