<template>
    <require from="./vano-sales-feed-card.css"></require>
    <require from="../../filters/filters"></require>

    <div class="vano-sales-feed-card-component">
        <div class="vano-sales-feed-card-section type">
            <div class="vano-sales-feed-card-bubble ${type}">
                ${type | capitalize}
            </div>
        </div>
        <div class="vano-sales-feed-card-section amount">
            <h4>$${amount}</h4>
        </div>
        <div class="vano-sales-feed-card-section customer">
            <p><span>from </span>${customer}</p>
        </div>
        <div class="vano-sales-feed-card-section when">
            <p>${when}</p>
        </div>
    </div>
</template>