@import '../../styles/new-variables';

.vano-sales-feed-card-component{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: $primary-border;
    cursor: pointer;
    .vano-sales-feed-card-section {
        width: 100%;
        &.type {
            .vano-sales-feed-card-bubble {
                width: 42px;
                height: 20px;
                color: $white;
                border-radius: 6px;
                font-size: .625rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &.charge {
                    background: $green;
                }
                &.failed {
                    background: $pink;
                }
                &.deposit {
                    background: $grey-blue;
                }
                &.refund {
                    background: $red;
                }
            }
        }
        &.amount {
            h4 {
                font-size: .8125rem;
                font-weight: 700;
            }
        }
        &.customer {
            p {
                color: $primary-font-color;
                font-size: .75rem;
                span {
                    color: $vano-light-font-color;
                }
            }
        }
        &.when {
            font-size: .625rem;
            color: $vano-light-font-color;
            text-align: right;
        }
    }
}
