<template>
  <require from="./vano-pencil.css"></require>

  <div class="vano-pencil-component">
    <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="01---Clients" transform="translate(-1113.000000, -753.000000)" fill="#AFC3D3">
              <g id="if_Edit-01_1976055-Copy" transform="translate(1113.000000, 753.000000)">
                  <g id="Layer_1">
                      <path d="M19.0642758,1.04043494 C17.6787525,-0.346811648 15.2609799,-0.346811648 13.8737333,1.04043494 L1.56428929,13.3498789 C1.44710573,13.4670625 1.36266463,13.6152652 1.32302902,13.775531 L0.0271166738,18.9643502 C-0.0504312723,19.2762653 0.0409029753,19.6071365 0.26837695,19.8363338 C0.442429007,20.0103858 0.676796133,20.1051667 0.916333122,20.1051667 C0.990434493,20.1051667 1.06453586,20.0965502 1.13863723,20.0775941 L6.32917976,18.7799584 C6.4911688,18.7403228 6.63764826,18.6558817 6.75483182,18.5386982 L19.0642758,6.22925418 C19.7570374,5.53649253 20.1396073,4.61453361 20.1396073,3.63398292 C20.1396073,2.65343222 19.7587607,1.7331966 19.0642758,1.04043494 L19.0642758,1.04043494 Z M5.6381414,17.0618406 L2.17777971,17.926931 L3.04287013,14.4665693 L13.2257771,4.28366238 L15.8210484,6.87893364 L5.6381414,17.0618406 L5.6381414,17.0618406 Z M17.7666402,4.93161855 L17.118684,5.57957472 L14.5234127,2.98430346 L15.1713689,2.33634729 C15.8641306,1.64358564 17.0738785,1.64358564 17.7666402,2.33634729 C18.113021,2.68272811 18.3043059,3.14284593 18.3043059,3.63398292 C18.3043059,4.12511991 18.113021,4.58523772 17.7666402,4.93161855 L17.7666402,4.93161855 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </g>
    </svg>
  </div>
</template>
