@import "../../styles/new-variables.scss";

.customers-component {
    desktop-view {
        display: none;
    }
}

@media (min-width: 960px) {
    .customers-component {
        mobile-view {
            display: none;
        }
        desktop-view {
            display: inline;
        }   
    }
}
