<template>
	<require from="./customers.css"></require>
	<require from="./mobile-view/mobile-view"></require>
	<require from="./desktop-view/desktop-view"></require>

	<div class="customers-component au-animate"  if.bind="customers.length > 0">
    <mobile-view 
      if.bind="isMobile"
			customers.one-way="filteredCustomers"
      router.one-way="router"
      search.two-way="searchQuery"
      is-fetching-more-clients.one-way="isFetchingMoreClients">
		</mobile-view>
    <desktop-view 
      if.bind="!isMobile"
			customers.one-way="filteredCustomers"
			search.two-way="searchQuery"
			customer.two-way="selectedCustomer"
      notes.one-way="notes"
      cards.one-way="cards"
      is-fetching-more-clients.one-way="isFetchingMoreClients"
      router.one-way="router">
		</desktop-view>
	</div>
</template>
