<template>
  <require from="./vano-assistant.css"></require>
  <require from="../../components/vano-message-bubble/vano-message-bubble"></require>

  <div class="vano-assistant-component">
    <div class="vano-assistant-component-header">
        <div class="vano-assistant-component-header--section">
            <h4 class="title">Vano Assistant</h4>
        </div>
        <div class="vano-assistant-component-header--section ">
            <h4 class="close" click.delegate="navigateBack()">X</h4>
        </div>
    </div>
    <div class="vano-assistant-component-body">
          <vano-message-bubble repeat.for="m of messages" text.one-way="m.text" from-bot.one-way="m.fromBot"></vano-message-bubble>
    </div>
    <div class="vano-assistant-component-footer">
        <div class="vano-assistant-component-footer--section vano-assistant--textarea">
            <form submit.trigger="submit()">
                <textarea 
                    placeholder="Write a message" 
                    value.bind="message">
                </textarea>
            </form>
        </div>
        <div class="vano-assistant-component-footer--section vano-assistant--icon" click.delegate="submit()">
            <i class="material-icons">arrow_forward</i>
        </div>
        <div class="vano-assistant-component-footer--section vano-assistant--icon vano-assistant--send">
            <i class="material-icons">mic</i>
        </div>
    </div>
  </div>
</template>
