@import '../../styles/new-variables';

.vano-assistant-component{
    .vano-assistant-component-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: $primary-box-shadow;
        height: 65px;
        position: fixed;
        top: 0;
        width: 100%;
        background: $white;
        z-index: 999;
        .title {
            color: $primary-font-color;
            font-size: .8125rem;
            margin-left: 1rem;
        }
        .close {
            cursor: pointer;
            margin-right: 1rem;
            color: $blue;
            text-shadow: $vano-blue-text-shadow;
        }
    }
    .vano-assistant-component-body {
        border-bottom: solid 3px $blue;
        box-shadow: $vano-bottom-blue-box-shadow;
        height: calc((100vh - 130px) + 1.9rem);
        padding: 1rem .5rem;
        display: flex;
        overflow-y: auto;
        flex-direction: column-reverse;
        -webkit-overflow-scrolling: touch;
        vano-message-bubble {
            .vano-message-bubble-component {
                margin: .3rem 0;
            }
        }
    }
    .vano-assistant-component-footer {
        height: 65px;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 1.25rem;
        background: $white;
        position: fixed;
        bottom: 0;
        width: 100%;
        .vano-assistant-component-footer--section {
            display: flex;
            align-items: center;
            min-width: 50px;
            form{width: 100%;}
            &.vano-assistant--textarea{
                flex: 1;
                textarea {
                    height: 12px;
                    border: none;
                    border-left: solid 2px $blue;
                    display: flex;
                    align-items: center;
                    outline: none;
                    width: 100%;
                    resize: none;
                    &:focus {
                        height: auto;
                        border-left: none;
                        padding-top: 1rem;
                    }
                }    
            }
            &.vano-assistant--icon{
                justify-content: center;
                i{
                    color: $vano-assistant-icon-color;
                }
            }
            &.vano-assistant--send {
                border-left: $primary-border;
                min-width: 65px;
            }
        }
    }
}
