<template>
    <require from="./vano-professionals-accordion-header.css"></require>
    <require from="../../vano-select-dot/vano-select-dot"></require>
    <require from="../../vano-card/vano-card"></require>
    <require from="../../../filters/filters"></require>

    <div class="vano-professionals-accordion-header-component" class.bind="opened ? 'opened': ''">
        <div class="vano-professionals-accordion-header--section data">
            <div class="vano-professionals-edit" click.delegate="navigateToDetails()">
                <div class="vano-professionals-circle-wrapper">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="vano-professionals-accordion-section--section name">
                <vano-select-dot color="blue"></vano-select-dot>
                <span>${fullName | capitalize | stringLength: '19'}</span>
            </div>
            <div class="vano-professionals-accordion-section--section meta">
                <div class="vano-professionals-meta--section email">
                    <div class="vano-meta-icon">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <div class="vano-meta-details">
                        <h6>Email</h6>
                        <a href="mailto:${professional.email}">
                            <h3>${professional.email}</h3>
                        </a>
                    </div>
                </div>
                <div class="vano-professionals-meta--section phone">
                    <div class="vano-meta-icon">
                        <i class="material-icons">phone_iphone</i>
                    </div>
                    <div class="vano-meta-details">
                        <h6>Phone</h6>
                        <a href="sms:${professional.phone_number}">
                            <h3>+1 ${professional.phone_number | phoneNumber}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vano-professionals-accordion-header--section indicator">
            <i class="material-icons">keyboard_arrow_down</i>
        </div>
    </div>
</template>
