@import '../../../styles/new-variables';
.vano-professionals-accordion-header-component {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    &.opened {
        .vano-professionals-accordion-header--section {
            &.indicator {
                .material-icons {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    .vano-professionals-accordion-header--section {
        &.data {
            padding: 1.43rem 1.3rem 0 1.8rem;
            .vano-professionals-edit {
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: center;
                width: 50px;
                height: 50px;
                position: absolute;
                right: 10px;
                align-items: center;
                top: -6px;
                .vano-professionals-circle-wrapper {
                    display: flex;
                    .circle {
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: $vano-light-font-color;
                        margin: 0 .1rem;
                    }
                }
            }
            .vano-professionals-accordion-section--section {
                margin: 1rem 0;
                &.name {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 1rem;
                        font-size: .9375rem;
                        color: $primary-font-color;
                    }
                }
                &.meta {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;
                    .vano-professionals-meta--section {
                        display: flex;
                        &.phone {
                            margin-top:  1rem;
                        }
                    }
                    .material-icons {
                        color: $vano-light-font-color;
                        font-size: 1rem;
                    }
                    .vano-meta-details {
                        margin-left: .8125rem;
                        font-size: .8125rem;
                        color: $primary-font-color;
                        h6 {
                            font-size: .5rem;
                            color: $vano-light-font-color;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
        &.indicator {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            min-height: 60px;
            border-top: $primary-border;
            .material-icons {
                text-shadow: $vano-blue-text-shadow;
                color: $blue;
                transition: transform $vano-main-transition;
            }
        }
    }
}

@media (min-width: 520px) {
    .vano-professionals-accordion-header-component {
        flex-direction: row;
        .vano-professionals-accordion-header--section {
            &.data {
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;
                padding: 1.25rem 4.2rem 1.25rem 1.25rem;
                justify-content: space-between;
                .vano-professionals-accordion-section--section {
                    margin: 0;
                    width: 100%;
                    &.meta {
                        margin-top: 0;
                    }
                }
            }
            &.indicator {
                border: none;
                border-left: $primary-border;
                height: 100%;
                width: $vano-accordion-header-height;
            }
        }
    }
}

@media (min-width: 650px) {
    .vano-professionals-accordion-header-component {
        .vano-professionals-accordion-header--section {
            &.data {
                .vano-professionals-accordion-section--section {
                    &.meta {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .vano-professionals-meta--section {
                            width: 100%;
                            min-width: 9rem;
                            margin: 0 .5rem;
                            &.phone {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
