@import '../../styles/new-variables';

.vano-reminder-card-component{
  box-shadow: $primary-box-shadow;
  background: $white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  .vano-reminder-card--section {
    display: flex;
    align-items: center;
    &.vano-reminder-completed {
      width: 80px;
      justify-content: center;
    }
    &.vano-reminder-text {
      width: 100%;
      flex-wrap: wrap;
      font-size: .9375rem;
      color: $primary-font-color;
      &.completed {
        color: $blue;
        text-decoration: line-through;
      }
    }
    &.vano-reminder-edit {
      width: 75px;
      justify-content: center;
      cursor: pointer;
      border-right: $primary-border;
      i {
        font-size: 1.5rem;
        color: $vano-light-label-color;
      }
    }
    &.vano-reminder-delete {
      cursor: pointer;
      width: 80px;
      justify-content: center;
      i{
        color: $vano-form-red;
      }
    }
  }
}
