<template>
  <require from="./vano-reminder-card.css"></require>
  <require from="../vano-checkbox/vano-checkbox"></require>
  <require from="../vano-close/vano-close"></require>

  <div class="vano-reminder-card-component">
    <div class="vano-reminder-card--section vano-reminder-completed" click.delegate="toggleReminder()">
      <vano-checkbox checked.one-way="completed"></vano-checkbox>
    </div>
    <div class="vano-reminder-card--section vano-reminder-text" class.bind="completed ? 'completed': ''">
      ${title}
    </div>
    <div class="vano-reminder-card--section vano-reminder-edit" click.delegate="edit()">
        <i class="material-icons">&#xE3C9;</i>
    </div>
    <div class="vano-reminder-card--section vano-reminder-delete" click.delegate="delete()">
        <vano-close color="red" size="small"></vano-close>
    </div>
  </div>
</template>
