@import '../../../styles/new-variables';

.vano-onboarding-card-header-component{
    background: $white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 1.25rem;
    .vano-onboarding-card-header--section {
        display: flex;
        align-items: center;
        span {
            margin-left: .5rem;
        }
    }
}