<template>
  <require from="./vano-onboarding-card-header.css"></require>
  <require from="../../vano-select-dot/vano-select-dot"></require>

  <div class="vano-onboarding-card-header-component">
    <div class="vano-onboarding-card-header--section">
      <vano-select-dot color="blue"></vano-select-dot>
      <span>${title}</span>
    </div>
    <div class="vano-onboarding-card-header--section">
      <i class="material-icons">check</i>
    </div>
  </div>
</template>