<template>
    <require from="./vano-sidebar-item.css"></require>
    <require from="../../vano-active-bar/vano-active-bar"></require>

    <div class="vano-sidebar-item-component" 
        click.delegate="navigate()"
        class.bind="active ? 'active' : ''">
        <div class="vano-sidebar-active">
            <vano-active-bar></vano-active-bar>
        </div>
        <div class="vano-sidebar-text" class.bind="icon ? 'icon': ''">
            <span if.bind="icon" class="${icon}"></span> 
            <span class="name">${name}</span>
        </div>
    </div>
</template>