@import '../../../styles/new-variables.scss';

.vano-sidebar-item-component{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 55px;
    cursor: pointer;
    &.active {
        .vano-sidebar-active {
            display: inline;
        }
        .vano-sidebar-text {
            .name{color: $primary-font-color; font-weight: 400}
        }
    }
    .vano-sidebar-active {
        display: none;
    }
    .vano-sidebar-text {
        margin-left: 1rem;
        border-bottom: $primary-border;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .name {
            font-weight: 200;
            color: $grey-font-color;
            font-size: .92rem;
        }
        &.icon {
            border-bottom: none;
            margin-left: -1rem;
            color: $primary-font-color;
            margin-top: .8rem;
            .icon-logout {
                display: flex;
                align-items: center;
                font-weight: 700;
                color: $primary-font-color;
                margin-right: .7rem;
            }
            .name {
                color: $primary-font-color;
            }
        }
    }
}
