<template>
  <require from="./vano-secured-site-stamp.css"></require>

  <div class="vano-secured-site-stamp-component">
      <i class="material-icons">lock</i> 
      <p>Secured Site</p>
  </div>
</template>