@import '../../styles/new-variables';

.vano-secured-site-stamp-component{
    display: flex;
    align-items: center;
    color: $grey-font-color;
    i {
        font-size: .7875rem;
    }
    p{
        margin-left: .3rem;
        font-size: .6875rem;
    }
}