@import '../../styles/new-variables';

.vano-canvas-layout-component {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    background: $white;
    width: 100%;
    .vano-canvas-section {
        &.vano-canvas-body {
            padding: 0 1.875rem 2rem 1.875rem;
        }
        &.vano-canvas-close {
            margin-top: 1rem;
            padding: 0 1.275rem;
        }
        &.vano-canvas-title {
            padding: 0 1.875rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &.vano-canvas-sub-title {
          margin: 0;
          margin-top: 0rem;
          font-size: 1rem;
          font-weight: 200;
          padding: 0 1.875rem;
        }
        &.vano-canvas-footer {
            padding: 0 1.875rem 2rem 1.875rem;
            .vano-button-component {
                .vano-button {
                    border-radius: 0;
                }
            }
        }
    }
}


@media (min-width: 960px) {
    .vano-canvas-layout-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        .vano-canvas-layer-wrapper {
            width: 539px;
        }
    }
}
