<template>
    <require from="./vano-canvas-layout.css"></require>
    <require from="../vano-form-title/vano-form-title"></require>
    <require from="../vano-close/vano-close"></require>

    <div class="vano-canvas-layout-component">
        <div class="vano-canvas-layer-wrapper">
            <div class="vano-canvas-section vano-canvas-close">
                <vano-close click.delegate="navigateBack()"></vano-close>
            </div>
            <div class="vano-canvas-section vano-canvas-title">
                <vano-form-title title.bind="title"></vano-form-title>
                <slot name="right-header">
                  
                </slot>
            </div>
            <div if.bind="subTitle" class="vano-canvas-section vano-canvas-sub-title">
                ${subTitle}
            </div>
            <div class="vano-canvas-section vano-canvas-body">
                <slot name="body"></slot>
            </div>
            <div class="vano-canvas-section vano-canvas-footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</template>
