@import '../../styles/new-variables';

$footer-height: 50px;
@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}


.vano-graph-card-component{
  background: $white;
  box-shadow: $primary-box-shadow;
  .vano-graph-card-body{
    padding: 1.25rem;
    &.fetching {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        height: 0;
        opacity: 0;
        width: 0;
      }
      i {
        color: $icon-grey;
        font-size: 2rem;
        animation: spin .7s infinite;
      }
    }
  }
  .vano-graph-card-footer {
    display: flex;
    justify-content: space-between;
    border-top: $primary-border;
    padding: 0 1rem;
    height: $footer-height;
    overflow-x: auto;
    .vano-graph-card-footer-item {
      min-width: 120px;
      color: $icon-grey;
      font-size: .8125rem;
      display: flex;
      justify-content: center;
      cursor: pointer;
      height: $footer-height;
      align-items: center;
      flex: 1;
      &.selected {
        color: $primary-font-color;
        border-bottom: solid 2px $blue;
        box-shadow: $vano-bottom-blue-box-shadow;
        height: 48px;
      }
    }
  }
}
