<template>
  <require from="./vano-graph-card.css"></require>

  <div class="vano-graph-card-component">
    <div class="vano-graph-card-body" class.bind="isFetching ? 'fetching': ''">
      <div>
          <slot></slot>
      </div>
      <i if.bind="isFetching" class="material-icons loading-icon">autorenew</i>
    </div>
    <div class="vano-graph-card-footer">
      <div 
        class="vano-graph-card-footer-item vano-graph-card-day" 
        if.bind="displayDay"
        class.bind="selected === 'day' ? 'selected' : ''"
        click.delegate="handleItemClick($event, 'day')">
        Day
      </div>
      <div 
        class="vano-graph-card-footer-item vano-graph-card-week" 
        if.bind="displayWeek"
        class.bind="selected === 'week' ? 'selected' : ''"
        click.delegate="handleItemClick($event, 'week')">
        Week
      </div>
      <div 
        class="vano-graph-card-footer-item vano-graph-card-month" 
        if.bind="displayMonth"
        class.bind="selected === 'month' ? 'selected' : ''"
        click.delegate="handleItemClick($event, 'month')">
        Month
      </div>
      <div 
        class="vano-graph-card-footer-item vano-graph-card-three-month"
        if.bind="displayThreeMonth"
        class.bind="selected === 'three-month' ? 'selected' : ''"
        click.delegate="handleItemClick($event, 'three-month')">
        3-Month
      </div>
      <div 
        class="vano-graph-card-footer-item vano-graph-card-six-month"
        if.bind="displaySixMonth"
        class.bind="selected === 'six-month' ? 'selected' : ''"
        click.delegate="handleItemClick($event, 'six-month')">
        6-Month
      </div>
      <div 
        class="vano-graph-card-footer-item vano-graph-card-year" 
        if.bind="displayYear"
        class.bind="selected === 'year' ? 'selected' : ''"
        click.delegate="handleItemClick($event, 'year')">
        Year
      </div>
    </div>
  </div>
</template>
