<template>
    <require from="./mobile-view.css"></require>
    <require from="../../../components/vano-customers-search-bar/vano-customers-search-bar"></require>
    <require from="../../../components/vano-customer-item/vano-customer-item"></require>
    <require from="../../../components/vano-loading-indicator/vano-loading-indicator"></require>

    <div class="customers-mobile-view-component">
        <vano-customers-search-bar search.two-way="search"></vano-customers-search-bar>
        <div class="customers-list">
            <vano-customer-item 
                repeat.for="c of customers" 
                customer.one-way="fullName(c.first_name, c.last_name)"
                letter.one-way="shouldSendLetter(c.first_name[0])"
                click.delegate="viewCustomerDetail(c)">
            </vano-customer-item>
            <vano-loading-indicator if.bind="isFetchingMoreClients"></vano-loading-indicator>
            <div if.bind="filteredCustomers.length == 0" class="no-results">
                <p>No Clients</p>
            </div>
        </div>
    </div>
</template>
