@import '../../../styles/new-variables';

.customers-mobile-view-component{
    .customers-list {
      overflow-y: auto;
       padding: 0 20px;
       -webkit-overflow-scrolling: touch;
       max-height: calc(100vh - 120px);
       .no-results {
           display: flex;
           justify-content: center;
           align-items: center;
           width: 100%;
           margin-top: 1rem;
           p {
               color: $no-more-font-color;
           }
       }
    }
}
