<template>
    <require from="./congratulations.css"></require>
    <require from="../../../filters/filters"></require>

    <div class="merchant-onboarding-congratulations-component">
        <div class="header">
            Congratulations ${authProfessional.first_name | capitalize}!
        </div>
        <div class="message">
            You’re ready to <span>experience</span> everything VANO has to offer! Now that you’re <span>processing payments</span> through VANO, we can more accurately provide analytics for <span>better insight</span> on your business.
        </div>
        <button if.bind="fromOnboarding" class="sb-btn primary" click.delegate="complete('dashboard')">Go To Dashboard</button>
        <button if.bind="!fromOnboarding" class="sb-btn primary" click.delegate="complete('checkout')">Go To Checkout</button>
    </div>
</template>