.merchant-onboarding-congratulations-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    .sb-btn {
        margin-top: 1.5rem;
    }
}

@media (max-width: 768px) {
    .merchant-onboarding-congratulations-component{
        padding: 20px;
    }
}