<template>
    <require from="./vano-reminders.css"></require>
    <require from="../vano-checkbox/vano-checkbox"></require>
    <require from="../vano-card/vano-card"></require>
    <require from="../../filters/filters"></require>
    

    <div class="vano-reminders-component">
        <div class="vano-reminders">
            <div repeat.for="r of reminders" class="reminder" click.delegate="toggleReminder(r)">
                <div class="checkbox">
                    <vano-checkbox checked.two-way="r.completed" reminder.one-way="r"></vano-checkbox>
                    <label></label>
                </div>
                <div class="text" class.bind="r.completed ? 'checked' : ''">
                    <span>${r.text}</span>
                    <span if.bind="r.due_date">${r.due_date | fromNow}</span>
                </div>
            </div>
            <div if.bind="reminders.length < 5 && reminders.length > 0" class="no-more-reminders">
                <p>No More Reminders</p>
            </div>
            <div if.bind="reminders.length >= 5" class="no-more-reminders">
                <p>View All</p>
            </div>
            <vano-card if.bind="reminders.length === 0">
                <div class="no-reminders">
                    <p>No Uncompleted Reminders</p>
                </div>
            </vano-card>
        </div>
    </div>
</template>
