@import '../../styles/new-variables.scss';

.vano-reminders-component{
    background: $white;
    box-shadow: $primary-box-shadow;
    border-radius: 4px;
    .add-reminder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        box-shadow: $bottom-only-shadow;
        padding: 0 20px;
        .input {
            width: 100%;
            input {
                border: none;
                border-left: 2px solid $blue;
                outline: none;
                color: $primary-font-color;
                font-size:  0.8125rem;
                width: 100%;
                &::placeholder{
                    color: $primary-font-color;
                    font-size: 0.8125rem;
                }
            }
        }
        button.icon {
            width: 20px;
            background: none;
            border: none;
            outline: none;
            .blue-plus-icon {
                color: $blue;
                cursor: pointer;
                font-size: 1.5rem;
            }
        }
    }
    .vano-reminders {
        .reminder {
            display: flex;
            align-items: center;
            height: 65px;
            border-bottom: $primary-border;
            padding: 0 20px;
            cursor: pointer;
            .checkbox {
                display: flex;
                align-items: center;
            }
            .text {
                margin-left: 20px;
                font-family: $primary-font-family;
                color: $primary-font-color;
                font-size: 0.8125rem;
                display: flex;
                justify-content: space-between;
                flex: 1;
                &.checked {
                    color: $blue;
                    text-decoration: line-through;
                }
            }
        }
        .no-more-reminders {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 55px;
            p {
                font-size: .9375rem;
                color: $no-more-font-color;
            }
        }
        vano-card {
            .no-reminders {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                height: 75px;
                p {
                    font-size: .9375rem;
                    color: $no-more-font-color;
                }
            }
        }
    }
}
