@import '../../styles/new-variables';

$extra-column-width: 25px;

.vano-customer-services-card-component{
  box-shadow: $primary-box-shadow;
  border: $primary-border;
  background: $white;
  padding: 1.25rem;
  .vano-customer-service--section {
    &.vano-customer-service--section--header {
      form{display: flex; flex: 1;}
      .vano-customer-service-header--section {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0 .5rem;
        vano-input-group {
          width: 100%;
        }
        &.add-customer-service-icon {
          width: auto;
          min-width: $extra-column-width;
          justify-content: center;
          .vano-plus-icon {
            background: $blue;
            cursor: pointer;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.42rem;
            .vano-plus-component {
              svg {
                width: 15px;
              }
            }
          }
        }
      }
    }
    &.vano-customer-service--section--body {
      .customer-services-wrapper {
        .customer-service-result {
          display: flex;
          border-bottom: $primary-border;
          height: 70px;
          align-items: center;
          &:last-child {
            border-bottom: none;
          }
          &:first-child {
            border-bottom: $primary-border;
          }
          .customer-service-result--section {
            width: 100%;
            margin: 0 .5rem;
            h6 {
              font-size: .8375rem;
              margin-top: .5rem; 
            }
            vano-label {
              .vano-label-component {
                font-size: .6rem;
              }
            }
            vano-close {
              .vano-close-component {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                  font-size: 1.2rem;
                }
              }
            }
            &.delete-customer-service-icon {
              min-width: $extra-column-width;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .vano-customer-services-card-component {
    .vano-customer-service--section {
      &.vano-customer-service--section--header {
        .vano-customer-service-header--section {
          &.add-customer-service-icon {
            min-width: 75px;
            .vano-plus-icon {
              width: 40px;
              height: 40px;
              .vano-plus-component {
                svg {
                  width: 12.5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
