<template>
  <require from="./vano-customer-services-card.css"></require>
  <require from="../vano-forms/vano-label/vano-label"></require>
  <require from="../vano-forms/vano-input/vano-input"></require>
  <require from="../vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
  <require from="../vano-forms/vano-input-group/vano-input-group"></require>
  <!-- <require from="../vano-icons/vano-plus/vano-plus"></require> -->
  <require from="../vano-close/vano-close"></require>

  <div class="vano-customer-services-card-component">
    <div class="vano-customer-service--section vano-customer-service--section--header">
        <form submit.trigger="validate()">
          <div class="vano-customer-service-header--section">
              <vano-input-group>
                <vano-label>Services</vano-label>
                <vano-search-dropdown options.one-way="serviceOptions" selected.two-way="selectedService & validate"></vano-search-dropdown>
              </vano-input-group>
          </div>
          <div class="vano-customer-service-header--section">
              <vano-input-group>
                  <vano-label>Duration</vano-label>
                  <vano-input type="tel" value.two-way="duration & validate"></vano-input>
                </vano-input-group>
          </div>
          <div class="vano-customer-service-header--section add-customer-service-icon">
              <div class="vano-plus-icon" click.delegate="validate()">
                  <vano-plus></vano-plus>
              </div>
          </div>
        </form>
    </div>
    <div class="vano-customer-service--section vano-customer-service--section--body">
        <div class="customer-services-wrapper">
          <div class="customer-service-result" repeat.for="s of customerServices">
            <div class="customer-service-result--section">
              <vano-label>Service</vano-label>
              <h6>${idToServiceName(s.service_id)}</h6>
            </div>
            <div class="customer-service-result--section">
                <vano-label>duration</vano-label>
                <h6>${s.length}</h6>
            </div>
            <div class="customer-service-result--section delete-customer-service-icon" click.delegate="deleteCustomerService(s.id)">
              <vano-close color="red"></vano-close>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
