<template>
    <require from="./info.css"></require>
    <require from="../../../components/vano-select-dot/vano-select-dot"></require>
    <require from="../../../components/vano-button/vano-button"></require>
    <require from="../../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card"></require> 
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card-header/vano-onboarding-card-header"></require> 
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card-body/vano-onboarding-card-body"></require> 

    <div class="info-component">
        <vano-onboarding-card state.one-way="state">
            <vano-onboarding-card-header title="Info"></vano-onboarding-card-header>
            <vano-onboarding-card-body>
                <p class="explainer">To better get to know your business, please estimate your annual credit card sales. </p>
                <div class="onboarding-form">
                    <vano-input-group>
                        <vano-label>annual cc sales</vano-label>
                        <vano-select options.one-way="options" selected.two-way="annualCCSales"></vano-select>
                        <div class="helper-text">
                          The average amount of transactions you do on a yearly basis. 
                        </div>
                    </vano-input-group>
                    <vano-button color="primary" click.delegate="continue()">Save and Continue</vano-button>
                </div>
            </vano-onboarding-card-body>
        </vano-onboarding-card>
    </div>
</template>
