<template>
  <require from="./vano-loading-indicator.css"></require>

  <div class="vano-loading-indicator-component">
      <div class="loading-wrapper">
          <div class="loading-bar"></div>
          <div class="loading-bar"></div>
          <div class="loading-bar"></div>
          <div class="loading-bar"></div>
      </div>
  </div>
</template>
