@import '../../styles/new-variables';

.vano-loading-indicator-component{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  .loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: $vano-bubble-blue;
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: $vano-bubble-blue;
    animation-delay: 0.09s;
  }
  .loading-bar:nth-child(3) {
    background-color: $vano-bubble-blue;
    animation-delay: .18s;
  }
  .loading-bar:nth-child(4) {
    background-color: $vano-bubble-blue;
    animation-delay: .27s;
  }  
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
