<template>
	<require from="./services.css"></require>
	<require from="../../filters/filters"></require>
	<require from="../../components/vano-component-label/vano-component-label"></require>
	<require from="../../components/vano-services/vano-services"></require>
	<require from="../../components/vano-title/vano-title"></require>

	<div class="services-component au-animate">
		<vano-title title="Services" sub-title="Click any service to view or edit."></vano-title>
		<vano-component-label title="Services"></vano-component-label>
		<vano-services services.one-way="services" router.one-way="router"></vano-services>
	</div>
</template>
