@import '../../styles/variables.scss';

.services-component{
    padding: 20px;
    vano-title {
        display: none;
    }
}

@media (min-width: 960px) {
    .services-component {
        vano-title {
            display: inline;
        }
        vano-component-label {
            display: none;
        }
    }
}