@import '../../styles/new-variables.scss';

.vano-component-label-component{
    color: $grey-font-color;
    font-size: .875rem;
    font-family: $primary-font-family;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .vano-component-label--link {
        font-size: .75rem;
        text-decoration: underline;
    }
}