<template>
    <require from="./vano-component-label.css"></require>

    <div class="vano-component-label-component">
        <span class="vano-component-label--title">${title}</span>
        <span click.delegate="linkClick()" class="vano-component-label--link">${link}</span>
    </div>
</template>