<template>
  <require from="./vano-service-revenue-graph.css"></require>
  <require from="../../../components/vano-pie-graph/vano-pie-graph"></require>
  <require from="../../../components/vano-graph-card/vano-graph-card"></require>

  <div class="vano-service-revenue-graph-component">
    <vano-graph-card
      display-week="true"
      display-month="true"
      display-three-month="true"
      display-six-month="true"
      display-year="true"
      selected.two-way="graphView"
      is-fetching.one-way="isFetchingData">
        <vano-pie-graph data.one-way="data" labels.one-way="labels" background-color.one-time="backgroundColors"></vano-pie-graph>
        <div class="vano-services-graph-labels">
          <div class="vano-services-graph-labels-wrapper">
            <div 
              class="vano-services-graph-label" 
              repeat.for="d of data"
              if.bind="d > 0">
                <div class="vano-services-graph-label-dot" css="background: ${backgroundColors[$index]}"></div>
                <div class="vano-services-graph-label-name">${labels[$index]}</div>
                <div class="vano-services-graph-label-value">${calcPercentage(d)}%</div>
              </div>
          </div>
        </div>
    </vano-graph-card>
  </div>
</template>
