@import '../../../styles/new-variables';

.vano-service-revenue-graph-component{
  .vano-services-graph-labels {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    .vano-services-graph-labels-wrapper {
      max-width: 400px;
      display: flex;
      flex-wrap: wrap;
      .vano-services-graph-label {
        display: flex;
        width: 130px;
        align-items: center;
        .vano-services-graph-label-dot {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $blue;
        }
        .vano-services-graph-label-name, .vano-services-graph-label-value {
          color: $primary-font-color;
          font-size: .6875rem;
        }
        .vano-services-graph-label-name{
          margin: 0 .5rem;
        }
      }
    }
  }
}
