@import '../../styles/new-variables.scss';

.vano-select-dot-component{
    height: 6px;
    width: 6px;
    background: #333;
    box-shadow: $vano-bottom-only-shadow;
    border-radius: 50%;
    &.red {
        background: $red;
        box-shadow: $vano-bottom-red-box-shadow;
    }
    &.blue {
        background: $blue;
        box-shadow: $vano-dark-blue-box-shadow;
    }
    &.green {
        background: $green;
        box-shadow: $vano-bottom-green-box-shadow;
    }
}