<template>
  <require from="./vano-down-arrow.css"></require>

  <div class="vano-down-arrow-component">
      <svg width="11px" height="19px" viewBox="0 0 11 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="03---Appointments" transform="translate(-378.000000, -355.000000)" fill="#BEC4CD">
                <g id="if_left_1348641-(1)" transform="translate(378.000000, 355.000000)">
                    <g id="Слой_1">
                        <path d="M9.97,18.5247619 C9.661,18.5247619 9.455,18.4244868 9.249,18.2239365 L1.009,10.2019259 C0.597,9.8008254 0.597,9.1991746 1.009,8.79807407 L9.249,0.776063492 C9.661,0.374962963 10.279,0.374962963 10.691,0.776063492 C11.103,1.17716402 11.103,1.77881481 10.691,2.17991534 L3.172,9.5 L10.691,16.8200847 C11.103,17.2211852 11.103,17.822836 10.691,18.2239365 C10.485,18.4244868 10.176,18.5247619 9.97,18.5247619 L9.97,18.5247619 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
      </svg>
  </div>
</template>
