@import '../../../styles/new-variables';

.vano-down-arrow-component{
  cursor: pointer;
  transform: rotateZ(270deg);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $blue;
  path, g {
    fill: $blue;
    color: $blue;
  }
}
