@import '../../../styles/new-variables';

.personal-settings-component{
    padding: 20px 0;
    .vano-card-component {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
    }
    .password-title {
        .vano-component-label-component{
            margin-top: 1rem;
        }
    }
}
