<template>
    <require from="./personal.css" as="scoped"></require>
    <require from="../../../components/vano-card/vano-card"></require>
    <require from="../../../components/vano-button/vano-button"></require>
    <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../../components/vano-title/vano-title"></require>
    <require from="../../../components/vano-forms/vano-toggle/vano-toggle"></require>

    <div class="personal-settings-component au-animate">
        <vano-title title="Personal Information" sub-title="Edit your personal account information."></vano-title>
        <vano-component-label title="Personal Information"></vano-component-label>
        <vano-card>
            <vano-input-group multi="true">
                <vano-input-group first="true">
                    <vano-label>First Name</vano-label>
                    <vano-input value.two-way="firstName & validate"></vano-input>
                </vano-input-group>
                <vano-input-group>
                    <vano-label>Last Name</vano-label>
                    <vano-input value.two-way="lastName & validate"></vano-input>
                </vano-input-group>
            </vano-input-group>

            <vano-input-group>
                <vano-label>Email Address</vano-label>
                <vano-input type="email" value.two-way="email & validate"></vano-input>
            </vano-input-group>

            <vano-input-group>
                <vano-label>Phone Number</vano-label>
                <vano-input type="tel" value.two-way="phoneNumber & validate"></vano-input>
            </vano-input-group>

            <vano-button loading.one-way="isFetching" color="primary" click.delegate="validate()">Save</vano-button>
        </vano-card>

        <vano-component-label class="password-title" title="Password"></vano-component-label>
        <vano-card>
            <vano-input-group>
                <vano-label>Old Password</vano-label>
                <vano-input value.two-way="oldPassword & validate" type="password"></vano-input>
            </vano-input-group>
            <vano-input-group>
                <vano-label>New Password</vano-label>
                <vano-input value.two-way="newPassword & validate" type="password"></vano-input>
            </vano-input-group>
            <vano-input-group>
              <vano-input value.two-way="serverErr & validate" type="hidden"></vano-input>
            </vano-input-group>
            <vano-button loading.one-way="isFetchingPassword" click.delegate="resetPassword()" color="primary">Update Password</vano-button>
        </vano-card>
    </div>
</template>
