<template>
    <require from="./vano-settings-tabs-header.css"></require>

    <div class="vano-settings-tabs-header-component">
        <div class="vano-settings-tabs-header-wrapper">
            <slot></slot>
        </div>
    </div>
</template>