@import '../../styles/new-variables.scss';

.vano-settings-tabs-header-component{
    background: $white;
    height: 50px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    .vano-settings-tabs-header-wrapper {
        max-width: 400px;
        display: flex;
        vano-settings-tabs-header-item {
            width: 100%;
        }
    }
}
