<template>
  <require from="./vano-sales-graph.css"></require>
  <require from="../../../components/vano-line-graph/vano-line-graph"></require>
  <require from="../../../components/vano-graph-card/vano-graph-card"></require>

  <div class="vano-sales-graph-component">
      <vano-graph-card
      display-week="true"
      display-month="true"
      display-three-month="true"
      display-six-month="true"
      display-year="true"
      is-fetching.one-way="isFetchingData"
      selected.two-way="salesView">
          <vano-line-graph
            labels.one-way="labels" 
            data.one-way="data">
        </vano-line-graph>
    </vano-graph-card>   
  </div>
</template>
