@import '../../styles/new-variables.scss';

.vano-sidebar-component{
    position: fixed;
    top: -120px;
    right: 0;
    bottom: -120px;
    left: 0;
    visibility: hidden;
    transition-property: visibility;
    transition: visibility $vano-main-transition;
    background: transparent;
    z-index: 99;
    pointer-events: none;
    &.opened {
        visibility: visible;
        pointer-events: auto;
        .vano-sidebar-container {
            transform: translate3d(0, 0, 0);
        }
    }
    .vano-sidebar-scrim {
        display: inline;
        position: absolute;
        top: $vano-navbar-height;
        right: 0;
        bottom: 0;
        left: 0;
        transition-property: opacity;
        -webkit-transform: translateZ(0);
        transform:  translateZ(0);
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity $vano-main-transition;
        &.opened {
            opacity: 1;
        }
    }
    .vano-sidebar-container {
        position: absolute;
        top: $vano-navbar-height;
        bottom: 0;
        left: 0;
        width: $vano-sidebar-width;
        padding: 120px 0;
        will-change: transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transform: translate3d(-100%, 0, 0);
        background-color: #FFF;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        &.animateable {
            transition: transform $vano-main-transition;
        }
        .vano-sidebar-title{display: none;}
    }
}

@media (min-width: 960px) {
    .vano-sidebar-component{
        &.opened {
            pointer-events: none;
            .vano-sidebar-scrim {
                opacity: 0;
            }   
        }
        .vano-sidebar-scrim {
            opacity: 0;
        }
        .vano-sidebar-container {
            border-right: $primary-border; 
            box-shadow: $vano-sidebar-box-shadow;
            pointer-events: auto;
            top: 0;
            .vano-sidebar-title {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 1.4rem;
                height: $vano-navbar-height;
                border-right: $primary-border;
                background: $white;
                color: $white;
            }
        }
    }
}
