<template>
    <require from="./vano-sidebar.css"></require>

    <div id="vano-sidebar" class="vano-sidebar-component" class.bind="opened ? 'opened': ''">
        <div id="vano-scrim" class="vano-sidebar-scrim" class.bind="opened ? 'opened': ''"></div>
        <div id="vano-sidebar-container" class="vano-sidebar-container" class.bind="!touchingSideBar ? 'animateable': ''">
            <div class="vano-sidebar-title">
                <h4>MENU</h4>
            </div>
            <slot></slot>
        </div>
    </div>
</template>