<template>
    <require from="./vano-dial-pad.css"></require>
    <require from="../../filters/filters"></require>
    <require from="../vano-button/vano-button"></require>
    <require from="../vano-icons/vano-left-arrow/vano-left-arrow"></require>

    <div class="vano-dial-pad-component">
        <div class="amount" class.bind="UIAmount != '0' ? 'active': ''">
            <div class="amount-group">
                <span class="dollar-sign">$</span><span class="digit">${UIAmount}</span>
            </div>
        </div>
        <div class="pad">
            <div class="pad-wrapper">
                <div class="digit-group">
                    <div class="digit no-left" click.delegate="pressPad($event, '1')">
                        <h3>1</h3>
                    </div>
                    <div class="digit" click.delegate="pressPad($event, '2')">
                        <h3>2</h3>
                    </div>
                    <div class="digit no-right" click.delegate="pressPad($event, '3')">
                        <h3>3</h3>
                    </div>
                </div>
                <div class="digit-group">
                    <div class="digit no-left" click.delegate="pressPad($event, '4')">
                        <h3>4</h3>
                    </div>
                    <div class="digit" click.delegate="pressPad($event, '5')">
                        <h3>5</h3>
                    </div>
                    <div class="digit no-right" click.delegate="pressPad($event, '6')">
                        <h3>6</h3>
                    </div>
                </div>
                <div class="digit-group">
                    <div class="digit no-left" click.delegate="pressPad($event, '7')">
                        <h3>7</h3>
                    </div>
                    <div class="digit" click.delegate="pressPad($event, '8')">
                        <h3>8</h3>
                    </div>
                    <div class="digit no-right" click.delegate="pressPad($event, '9')">
                        <h3>9</h3>
                    </div>
                </div>
                <div class="digit-group no-border">
                    <div class="digit orange no-left" click.delegate="pressPad($event, '.')">
                        <div class="blue-circle"></div>
                    </div>
                    <div class="digit" click.delegate="pressPad($event, '0')">
                        <h3>0</h3>
                    </div>
                    <div class="digit orange no-right" click.delegate="pressPad($event, '<')">
                        <vano-left-arrow></vano-left-arrow>
                    </div>
                </div>
                <div class="button">
                    <vano-button loading.one-way="loading" click.delegate="submit()" color="open-blue">Confirm</vano-button>
                </div>
            </div>
        </div>
    </div>
</template>
