@import '../../styles/new-variables';

$border-color: #EFF2F5;
$digit-color: #607D8B;
$digit-font-size: 36px;
$mobile-component-width: 270px;
$amount-color: #CCD4DF;

.vano-dial-pad-component{
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: $primary-box-shadow;
    .amount {
        background: $vano-dial-pad-header-color;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 4.375rem;
        color: $amount-color;
        align-items: center;
        height: 123px;
        .amount-group {
            margin-left: -2.9rem;
            display: flex;
            align-items: center;
            height: 100px;
            .dollar-sign {
                font-size: 1.25rem;
                color: $blue;
                margin-top: -30px;
                font-weight: 900;
            }
            span {
                margin-left: 1rem;
            }
        }
    }
    .pad {
        background: $white;
        display: flex;
        justify-content: center;
        padding: 1rem 1rem 2rem 1rem;
        .pad-wrapper {
            width: 305px;
            .digit-group {
                display: flex;
                flex: 1;
                width: 100%;
                &.no-border {
                    .digit {
                        border-bottom: none;
                    }
                }
                .digit {
                    display: flex;
                    height: 70px;
                    width: 86px;
                    justify-content: center;
                    margin: 0 10px;
                    align-items: center;
                    border-bottom: solid 1px $border-color;
                    cursor: pointer;
                    font-size: $digit-font-size;
                    border-radius: 2px;
                    &.no-left {
                        margin-left: 0;
                    }
                    &.no-right {
                        margin-right: 0;
                    }
                    &.clicked {
                        animation-name: digitHover;
                        animation-duration: .2s;
                        animation-timing-function: ease-in;
                        h3 {
                            color: $white;
                        }
                    }
                    &.orange {
                        color: $grey-font-color;
                    }
                    .blue-circle {
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $blue;
                    }
                    i {
                        color: $blue;
                    }
                    .icon-left-arrow {
                        font-size: 1.5rem;
                    }
                    h3 {
                        font-size: 1.25rem;
                        color: $vano-light-font-color;
                        font-weight: 300;
                        font-family: $primary-font-family;
                    }
                }
            }
            .button {
                marin-top: 1rem;
            }
        }
    }
}

@media (min-width: 960px) {
    .vano-dial-pad-component {
        max-width: calc(100% - 40px);
        width: 664px;
        .pad {
            display: flex;
            justify-content: center;
            .pad-wrapper {
                width: 305px;
            }
        }
    }
}
