<template>
  <require from="./vano-revenue-stat.css"></require>
  <require from="../../../components/vano-analytics-stat-card/vano-analytics-stat-card"></require>
  <require from="../../../components/vano-graph-card/vano-graph-card"></require>
  <require from="../../../filters/filters"></require>

  <div class="vano-revenue-stat-component">
    <vano-graph-card
    display-week="true"
    display-month="true"
    display-three-month="true"
    display-six-month="true"
    display-year="true"
    selected.two-way="statView"
    is-fetching.one-way="isFetchingData">
      <vano-analytics-stat-card
        title.one-way="statTitle"
        sub-title.one-way="statSubTitle"
        value.one-way="totalRevenue | currency">
      </vano-analytics-stat-card>
    </vano-graph-card>
  </div>
</template>
