<template>
    <require from="./vano-customers-search-bar.css"></require>

    <div class="vano-customers-search-bar-component">
        <input class="vano-customers-input" type="search" placeholder="Search" value.bind="search">
    </div>
</template>