@import '../../styles/new-variables.scss';

@mixin placeholder-styles() {
  text-align: center;
  color: $vano-search-placeholder-color;
  font-size: .75rem;
}

.vano-customers-search-bar-component{
    width: 100%;
    display: flex;
    .vano-customers-input {
        width: 100%;
        border: none;
        box-shadow: none;
        background: #fefefe;
        height: 50px;
        border-bottom: $vano-customers-search-border;
        outline: none;
        padding: 0 20px;
        color: $primary-font-color;
        font-size: .75rem;
        &::-webkit-input-placeholder {
            @include placeholder-styles;
        }

        &:-moz-placeholder { /* Firefox 18- */
            @include placeholder-styles;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            @include placeholder-styles;
        }

        &:-ms-input-placeholder {  
            @include placeholder-styles;
        }
    }
}
