@import '../../styles/new-variables.scss';

.vano-stat-card-component{
    background: $white;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 160px;
    box-shadow: $primary-box-shadow;
    border-bottom: solid 2px;
    border-radius: 2px;
    position: relative;
    &.vano-row {
        flex-direction: row-reverse;
        width: 100%;
        border-bottom: none;
        border-left: solid 2px;
        height: 100px;
        .graph {
            height: auto;
        }
        .description {
            border-top: none;
            height: auto;
            border-right: $vano-stat-card-description-border;
        }
    }
    &.red {
        border-color: $red;
    }
    &.blue {
        border-color: $blue;
    }
    &.green {
        border-color: $green;
    }
    &.orange {
        border-color: $orange;
    }
    .graph {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    .description {
        height: 100px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        border-top: $vano-stat-card-description-border;
        p {
            color: $primary-font-color;
            font-size: 16px;
            font-family: $primary-font-family;
            font-weight: 600;
        }
    }
}

