<template>
    <require from="./vano-stat-card.css"></require>
    <require from="../vano-stat-card-graph/vano-stat-card-graph"></require>

    <div class="vano-stat-card-component ${color} ${direction}">
        <div class="graph">
            <vano-stat-card-graph 
                value.bind="value" 
                color.bind="color" 
                direction.bind="direction"
                percentage.one-way="percentage"
                money.one-way="money">
            </vano-stat-card-graph>
        </div>
        <div class="description">
            <p>${description}</p>
        </div>
    </div>
</template>
