@import '../../styles/new-variables';

.vano-customer-notes-component{
    display: flex;
    flex-direction: column;
    background: $white;
    box-shadow: $primary-box-shadow;
    .no-more-notes {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 55px;
        p {
            font-size: .9375rem;
            color: $no-more-font-color;
        }
    }
}