<template>
    <require from="./vano-customer-notes.css"></require>
    <require from="./vano-customer-note/vano-customer-note"></require>
    <require from="../vano-card-add-input/vano-card-add-input"></require>

    <div class="vano-customer-notes-component">
        <form submit.trigger="submit()" >
            <vano-card-add-input 
                value.two-way="newNoteValue & validate"
                keyup.trigger="validate()" 
                placeholder="New note">
            </vano-card-add-input>
        </form>
        <vano-customer-note
            repeat.for="n of notes"
            text.one-way="n.value"
            id.one-way="n.id"
            if.bind="notes.length > 0">
        </vano-customer-note>
        <div class="no-more-notes" if.bind="notes.length === 0">
            <p>No Notes</p>
        </div>
    </div>
</template>
