@import "./card.scss";
@import "./new-variables.scss";
@import "./helpers.scss";
@import "./table.scss";
@import "./button.scss";
@import "./loading.scss";
@import "./form.scss";
@import "./form2.scss";
@import "./margins.scss";
@import "./paddings.scss";
@import "./flex.scss";
@import "./icons.scss";

-webkit-tap-highlight-color {
  background: transparent;
  color: transparent;
}


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Nunito', sans-serif;
}

html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
    color: $primary-font-color;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571428571429;
    background: #f7f8f9;
    min-height: 100vh;
    -ms-overflow-style:none;
}

.logo-font {
  font-family: $logo-font;
}

a{
    color: $primary-font-color;
    text-decoration: none;
}

.alert-wrapper {
    margin: 20px 20px 0 20px;
    ul {
        margin-left: 20px;
    }
}

@keyframes fadeOutRight {
  100% {
    opacity: 0;
    transform: translate(100%, 0%);
  }
  0% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  100% {
    transform: none;
  }
  0% {
    transform: translate(-100%, 0%);
  }
}

.au-enter {
  background: #f7f8f9 !important;
  transform: translate(100%, 0%);
}
.au-enter-active {
  background: #f7f8f9 !important;
  animation: fadeInRight 0.2s ease;
}
