@import './variables.scss';

.bubble 
{
    position: relative;
    max-width: 150px;
    width: 100%;
    height: 30px;
    padding: 0px;
    background: $weird-grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 12px;
}

.bubble:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: transparent $weird-grey;
    display: block;
    width: 0;
    z-index: 1;
    left: -6px;
    top: 8px;
}