@import "./variables.scss";

.sb-btn {
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 2px;
    max-width: 250px;
    &.small {
        font-size: 12px;
        padding: 4px 12px;
         &:hover {
            box-shadow: $primary-box-shadow;
        }
    }
    &.right {
        float: right;
    }
    &.grey{
        color: $white;
         &:hover {
            box-shadow: $primary-box-shadow;
        }
    }
    &.white{
        border: solid 2px #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        background: none;
        font-weight: 300;
        padding: 8px 50px;
        &:hover {
            box-shadow: $primary-box-shadow;
        }
    }
    &.primary{
        background: $accent-color;
        color: $white;
         &:hover {
            box-shadow: $primary-box-shadow;
        }
    }
    &.danger{
        background: #A01F13;
        color: $white;
         &:hover {
            box-shadow: $primary-box-shadow;
        }
    }
    &.success {
        background: #0F7044;
        color: $white;
         &:hover {
            box-shadow: $primary-box-shadow;
        }
    }
    &.funky {
        border-width: 2px;
        border-style: solid;
        -moz-border-image: -moz-linear-gradient(top right,#1fbdf2   0,#fb16f4   100%);
        -webkit-border-image: -webkit-linear-gradient(top right,#1fbdf2   0,#fb16f4   100%);
        border-image: linear-gradient(to bottom right,#1fbdf2   0,#fb16f4   100%);
        border-image-slice: 1; 
        background: #fb16f4;
        background: linear-gradient(to bottom right,#1fbdf2,#fb16f4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: initial;
        padding: 8px 30px;
    }
    &.pink {
        background: $red;
        color: $white;
    }
    &.faded{
        width: 100%;
        border-radius: 5px;
        border: solid 1px $white;
        background: none;
        color: $white;
        font-size: 14px;
        padding: 0 10px;
        height: 35px;
        min-width: 35vw;
    }
    &.rounded{
        border-radius: 3px;
    }
    &.auth {
        background-color: rgba(255, 255, 255, 0.9);
	    border: solid 0.5px #efefef;
	    color: #617e8c;
        &.disabled {
            background-color: rgba(255, 255, 255, 0.9);
	        border: solid 0.5px #efefef;
            opacity: 0.6;
            color: #617e8c;
        }
    }
}



