@import "./variables.scss";
// Styles
.card {
    background: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 20px;
    border-top: $accent-color 5px solid !important;
    &.funky-border {
        &:after {
            background: linear-gradient(to right, #a4dc3f 25%, #ec008c 25%, #ec008c 50%, #499cd3 50%, #499cd3 75%, #f7b53b 75%);
            position: absolute;
            content: '';
            height: 6px;
            right: 0;
            left: 0;
            top: -1px;
            border-radius: 5px 5px 0 0;
        }
    }
    &.accent-one {
        border-top: $accent-color1 5px solid !important;
    }
    &.accent-two {
        border-top: $accent-color2 5px solid !important;
    }
    &.accent-three {
        border-top: $accent-color3 5px solid !important;
    }
    &.blue {
      border-top: $blue 5px solid !important;
    }
    &.green {
      border-top: $green 5px solid !important;
    }
    .card-body {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

.side-card {
    background: $white;
    border-radius: $border-radius;
    padding: 10px;
    border: 1px solid #DBDBDB;
    &.funky-border {
        &:after {
            background: linear-gradient(to right, #a4dc3f 25%, #ec008c 25%, #ec008c 50%, #499cd3 50%, #499cd3 75%, #f7b53b 75%);
            position: absolute;
            content: '';
            height: 6px;
            right: 0;
            left: 0;
            top: -1px;
            border-radius: 5px 5px 0 0;
        }
    }
    &.shadow {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.26);
    }
    &.blue {
      border-left: $blue 5px solid !important;
    }
    &.green {
      border-left: $green 5px solid !important;
    }
    .card-body {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}