@import "./variables.scss";

.contact-list{
    width: 100%;
    .item{
        display: flex;
        flex: 1;
        border-bottom: solid 1px $primary-border-color;
        padding: 1em;
        background: $white;
        align-items: center;
        margin: 1em 0;
        .icon{
            img{
                border-radius: 50%;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            margin: 0 1em;
            justify-content: center;
            .full-name {
                font-weight: bold;
                // border-bottom: solid 1px $primary-border-color;
            }
            .meta-data {
                i {
                    margin-right: .3em;
                }
            }
        }
    }
}