.container-flex {
  display: flex;
}

.flex-hor {
  flex-direction: row;
}
.flex-hor-rev {
  flex-direction: row-reverse;
}

.flex-ver {
  flex-direction: column;
}
.flex-ver-rev {
  flex-direction: column-reverse;
}


.flex-1{
  flex-grow: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  align-items: center;
}

.flex-just-center {
  align-items: center;
}
