@import "./variables.scss";

.contact-card{
    margin: .5em;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
    z-index: 99;
    background: transparent;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .face {
        position: absolute;
        backface-visibility: hidden;
        width: 100%;
        color: white;
        text-align: center;
        border-radius: 8px;
        background: $white;
        .header{
              border-radius: 8px 8px 0 0;
              background: $primary-dark-color;
              background-size: cover;
              text-align: center;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 40px;
              max-height: 40px;
              padding-right: 1em;
              span{
                  cursor: pointer;
              }
          }
     }
     .front{
        background: $white;
        z-index: 10;
          .body{
              padding: 1em;
              color: $primary-font-color;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              .title{
                  padding: 0;
                  margin: .5em;
                  font-size: 16px;
                  font-weight: 400;
              }
              .subtitle{
                  padding: 0;
                  margin: 0;
                  font-size: 14px;
                  font-weight: 300;
              }
          }
          .footer{
              border-top: 1px solid #eee;
              cursor: pointer;
              padding: .5em;
              p{
                  font-size: 12px;
                  color: $primary-font-color;
              }
          }
      }
      .back {
          transform: rotateY(180deg);
          background: $white;
          .body{
              text-align: left;
              padding: 1em;
              p{
                  color: $primary-font-color;
                  i{
                      margin-right: 1em;
                  }
              }
              p.right{
                  display: flex;
                  justify-content: flex-end;
                  padding: 0;
                  margin: 0;
                  cursor: pointer;
                  i {
                      margin: 0;
                  }
              }
          }
       }
}
.contact-card.flipped {
    transform: rotateY( 180deg );
    .front{
        z-index: 0;
    }
}