.vano-input-group {
  .err-msg {
    display: none;
    background-color: #fc8c8c;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    margin-top: 3px;
    .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      
      border-bottom: 6px solid #fc8c8c;
      position: absolute;
      top: -6px;
      left: 90%;
    }
    p {
      color: #fff;
      font-size: 10px;
    }
  }

  &.has-error {
    .err-msg {
      display: block;
    }
  }
}

.vano-input-box {
  display: flex;
  align-items: center;
  height: 40px;
  width: 300px;
  width: calc(100vw - 80px);
  max-width: 400px;
  margin-top: 10px;
  padding: 4px;

  background: rgba(255,255,255,0.32);
  border: 1px solid #EFEFEF;
  

  &.pswd {
        .input-group{
            width: calc(100% - 65px);
        }
        .icon {
            width: 65px;
            display: flex;
            align-items: center;
            span {
                margin-right: 5px;
                font-weight: 200;
                font-size: 14px;
            }
        }
  }

  .input-group {
    float: left;
    width: 265px;
    width: calc(100% - 25px);
    position: relative;

    .label {
      font-size: 10px;
      display: block;
      position: absolute;
      text-align: left;
      top: 0px;
      left: 0px;
      color: #fff;
    }

    .input {
      font-size: 14px;
      background: transparent;
      border: none;
      width: 100%;
      display: block;
      padding-top: 12px;
      padding-left: 10px;
      color: #FFFFFF;

      &:focus {
        outline: none;
      }
    }
  }

  .icon {
    font-family: 'simple-line-icons';
    float: right;
    height: 32px;
    line-height: 32px;
    width: 25px;
    color: #fff;
    padding-right: 10px;
  }
}

.form-container{
  padding: 20px;
}

.vano-input-box-gray{
  color: #A7B0BE;

  .input-group {
    margin-bottom: 10px;

    .label {
      font-size: 12px;
      color: #A7B0BE;
    }
    .input {
      background: #F8F9FB;
      border: 1px solid #ECECEC;
      border-radius: 4px;
      width: 100%;
      max-width: 400px;
      height: 40px;
      padding: 5px 10px;
      color: #A7B0BE;
    }
  }
}

.switch-box {
  margin-bottom: 10px;
  display: flex;
  background: #F8F9FB;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  padding: 5px 10px;
  align-items: center;

  .label {
    font-size: 16px;
    font-weight: 100;
    color: #000000;
    flex: 1;
  }

  .onoffswitch{

  }
}

.segment-container{
  display: flex;
  flex-direction: row;

  .segment{
    flex: 1;
    margin-right: 15px;
  }

  .last {
    margin-right: 0px;
  }
}
