@import "./variables.scss";

.sb-input-group{
    margin: 1rem 0;
    &.has-error {
        .err-msg {
        display: block;
        }
    }
    .err-msg {
        display: none;
        background-color: #fc8c8c;
        padding: 5px 10px;
        border-radius: 3px;
        position: relative;
        margin-top: 8px;
        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;          
            border-bottom: 6px solid #fc8c8c;
            position: absolute;
            top: -6px;
            left: 90%;
        }
        p {
            color: #fff;
            font-size: 10px;
        }
    }
    &.no-margin{
        margin: 0;
    }
    label {
        margin-bottom: 10px;
        font-weight: 400;
    }
    &.flex{
        display: flex;
        flex:1;
        .sb-input-group {
            margin: 0  0 0 10px;
        }
        .sb-input-group:first-child {
            margin: 0;
        }
        .sb-input-control {
            margin: 0  0 0 10px;
        }
        .sb-input-control:first-child {
            margin: 0;
        }
        .icon{
            display: flex;
            flex:1;
            justify-content: center;
            align-items: center;
            padding: 0 1em;
            &.grey{
                background: $grey;
                color: $dark-grey;
            }
        }
    }
}

.sb-input-control {
    width: 100%;
    border: $input-border;
    border-radius: $input-border-radius;
    font-size: 14px;
    padding: 6px 12px;
    height: $input-height;
    background: $white;
    color: $primary-font-color;
    &::-webkit-input-placeholder {
        font-size: 12px;
    }
    &::-moz-placeholder {
        font-size: 12px;
    }
    &:-ms-input-placeholder {
        font-size: 12px;
    }
    &:-moz-placeholder {
        font-size: 12px;
    }
    &.faded{
        background: rgba(255,255,255,0.35);
        color:$white;
        font-size: 14px;
        border: none;
        padding: 0 10px;
        border-radius: 3px;
        min-width: 35vw;
        height: 35px;
    }
    &.faded::-webkit-input-placeholder { 
        color: rgba(255,255,255,0.8);
    }
    &.faded:-ms-input-placeholder { 
        color: rgba(255,255,255,0.8);
    }
    &.faded::-moz-placeholder { 
        color: rgba(255,255,255,0.9);
    }
    &.faded:-moz-placeholder { 
        color: rgba(255,255,255,0.9);
    }
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

textarea.sb-input-control {
    min-height: 150px;
}

@media (max-width: 768px) {
    textarea.sb-input-control {
    min-height: 100px;
}
}

.checkbox-slide {
  width: 120px;
  height: 35px;
  background: $primary-dark-color;
  position: relative;
  border-radius: 5px;
  &:after {
    content: 'CLOSED';
    color: #000;
    position: absolute;
    right: 15px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    top: 4px;
  }
  &:before {
    content: 'OPEN';
    color: $white;
    position: absolute;
    left: 15px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    top: 4px;
  }
  label {
    display: block;
    width: 51px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: $white;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 5px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    top: 4px;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 64.5px;
    }
  }    
}

@media (max-width: 768px) {
    .checkbox-slide {
        width: 100px !important;
        height: 35px;
        background: $primary-dark-color;
        position: relative;
        border-radius: 5px;
        &:after {
            content: 'NO';
        }
        &:before {
            content: 'YES';
        }
        label {
            width: 44px;
        }
        input[type=checkbox] {
            visibility: hidden;
            &:checked + label {
                left: 50px;
            }
        }  
    } 
    .sb-input-group{
        &.has-error{
            width: 60vw;
        }
    }
    .sb-input-control{
        &.faded{
            min-width: 60vw;
        }
    }
}

@media (max-width: 600px) {
    .sb-input-group{
        &.has-error{
            width: 80vw;
        }
    }
    .sb-input-control{
        &.faded{
            min-width: 80vw;
        }
    }
}
