@import "./variables.scss";

.fancy-text {
    font-family: $slick-font;
}

.number-text {
    font-family: $number-font-family;
    font-weight: 300;
}

.none-app-page {
    margin-left: -250px;
    margin-top: -55px;
}

.floating-button {
            background: $accent-color;
            color: $white;
            padding: 1em;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            bottom: 4em;
            right: 50px;
            box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
              cursor: pointer;
            z-index: 90;  
            i{
                font-size: 18px;
            }
}

@media (max-width: 1024px) {
    .none-app-page {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .floating-button{
        bottom: 1em;
        right: 10px;
    }
    .mobile-click-icon{
        font-size: 22px !important;
    }
}