@import "./new-variables";

[class^="icon-"], [class*=" icon-"] {
    min-height: 32px;
    min-width: 32px;
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-visa-card, .icon-mc-card, .icon-amex-card, .icon-discover-card {
  color: $blue;
}
