@import './variables';

@mixin flex-column-center() {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin big-grey-title() {
    color: $big-grey-title-color;
    font-size: 2.8rem;	
    font-weight: 600;
    text-align: center;
    line-height: 100%;
}

@mixin sub-title() {
    color: $primary-font-color;
    font-size: .9375rem;
    text-align: center;
    font-weight: 100;
    margin-top: 1rem;
    span{
      font-weight: 400;
    }
}
