@font-face {
  font-family: 'Futuram';
  font-style: normal;
  font-weight: 400;
  src: url(https://res.cloudinary.com/solabuddy/raw/upload/v1502058473/16020_FUTURAM_d4gnwk.ttf);
}

// colors
$pink: #FC7773;
$vano-form-red: #F27474;
$vano-form-faded-red: #FAD7D7;
$grey-blue: #5F7D8C;
$red: #F40842;
$dark-red: #B1052F;
$dark-blue: #2786FF;
$dark-green: #4BA656;
$success-green: #7DD83E;
$blue: #4786FF;
$green: #4BC856;
$orange: #F59D00;
$light-orange: #F3B029;
$faded-blue: #E7F2FF;
$faded-red: #F6E3E7;
$faded-green: #daefdc;
$faded-orange: #f7e5c5;
$primary-font-color: #45475C;
$icon-grey: #D1D8DE;
$white: #fff;
$grey-font-color: #a5a8af;
$no-more-font-color: #C4CDD4;
$navbar-icon-color: $icon-grey;
$primary-border-color: #edeeef;
$vano-search-placeholder-color: #B9C8D7;
$vano-input-color: #B9C8D7;
$vano-customers-results-font-color: #7890A8;
$vano-light-label-color: #AFC3D3;
$vano-light-font-color: #AFC3D3;
$vano-input-bg-color: #F4F6F8;
$vano-sidebar-item-color: #C1C8CE;
$vano-body-color: #f7f8f9;
$vano-dial-pad-header-color: #F6F9FC;
$vano-calendar-header-labels-color: #BAC3CA;
$vano-assistant-icon-color: #B1C4D4;
$vano-bubble-blue: #008DFF;
$vano-step-indicator-color: #D9DFE5;
$vano-edit-sp-font-color: #919A9D;

// shadows
$vano-blue-box-shadow: 0 2px 4px 0 rgba(106,155,250,0.58);
$vano-dark-blue-box-shadow: 0 2px 4px 0 rgba(106,155,250,0.88);
$vano-blue-text-shadow: 2px 2px 4px  rgba(106,155,250,0.58);
$vano-red-text-shadow: 2px 2px 4px  rgba(244,8,66,0.25);
$vano-dark-blue-text-shadow: 2px 2px 4px  rgba(106,155,250,0.88);
$vano-bottom-blue-box-shadow: 0 4px 4px -2px rgba(106,155,250,0.58);
$vano-red-box-shadow: 0 2px 4px 0 rgba(244,8,66,0.25);
$vano-bottom-red-box-shadow: 0 4px 4px -2px rgba(244,8,66,0.25);
$vano-green-box-shadow: 0 2px 4px 0 rgba(75,200,86,0.34);
$vano-bottom-green-box-shadow: 0 4px 4px -2px rgba(75,200,86,0.34);
$primary-box-shadow: 0 2px 4px 0 rgba(227,232,236,0.50);
$primary-text-shadow: 2px 2px 4px  rgba(227,232,236,0.80);
$bottom-only-shadow: 0 4px 4px -2px rgba(227,232,236,0.50);
$vano-bottom-box-shadow: 0 4px 4px -2px rgba(227,232,236,0.50);
$vano-bottom-only-shadow: 0 4px 4px -2px rgba(227,232,236,0.50);
$vano-stat-card-shadow:  0 2px 4px 0 rgba(227,232,236,0.50);
$vano-table-shadow: 0 2px 4px 0 rgba(227,232,236,0.50);
$vano-checkbox-box-shadow:  $vano-blue-box-shadow;
$vano-sidebar-box-shadow:  2px 0 12px rgba(227,232,236,0.50);

// borders
$primary-border: solid 1px #edeeef;
$vano-sidebar-border: 1px solid #E5E9EB;
$vano-dial-pad-border: 1px solid #FFFFFF;
$vano-stat-card-description-border: solid 1px #edeeef;
$vano-table-header-border: solid 1px #edeeef;
$vano-checkbox-border: 1px solid #D1D8DE;
$vano-customers-search-border: 1px solid #E3E8ED;

// font familes
$nunito: 'Nunito', sans-serif;
$primary-font-family: $nunito;
$abel-font: 'Abel', sans-serif;
$futuram-font: 'Futuram', sans-serif;
$logo-font: $futuram-font;


// Dimensions
$vano-sidebar-width: 250px;
$vano-navbar-height: 80px;
$vano-placeholder-size: .75rem;
$vano-tab-header-height: 65px;
$vano-accordion-header-height: 75px;


// Transitiosn
$vano-main-transition: 0.3s cubic-bezier(0,0,0.3,1);



