@import "./variables.scss";
#calendar{
  padding: 0 20px;
}
.calendar-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #f5f5f5;
  height: 50px;
  border: 1px solid $primary-border-color;
  .section{
    display: flex;
    .today{
      display:flex;
      border-right: solid 1px $primary-border-color;
      padding: 0 1em;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .controls{
      display: flex;
      padding: 1em;
      align-items: center;
      justify-content: center;
      .prev{
        border-right: solid 1px $primary-border-color;
        padding: 0 .6em;
        cursor: pointer;
      }
      .next {
        padding: 0 .6em;
        font-size: 100%;
        cursor: pointer;
      }
      i{
        font-size: 100%;
      }
    }
    .current-date, .dates, .add {
        border-left: solid 1px $primary-border-color;
        padding: 0 1em;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
  }
}

.fc-toolbar{
  display: none;
}
.fc-prev-button.fc-button.fc-state-default {
  float: left;
}
.fc-left div h2{
  color: $primary-font-color;
  font-weight: 400;
  font-size: 20px;
  float: left;
  min-width: 153px;
}
.fc-button{
  background: none;
  box-shadow: none;
  border: none;
  outline: none !important;
}
.fc-day-header{
  background: $white;
  font-weight: 200;
  font-size: 14px;
  color: $dark-font-color;
  border-top: 0;
}
.fc-axis{
  background: $white;
  }
.fc-day{
  background: $white;
}
.fc-day.fc-today{
  background-color: rgba(39,137,228,.06);
  box-shadow: inset 0 0 0 1px #2789e4;
  color: #2789e4;
}
.fc-day.fc-other-month{
  opacity: 0.6;
  background: #E8E7E7;
  cursor: default;
}
.fc-day-number{
  font-weight: 200;
  font-size: 12px;
  color: $primary-font-color;
}
.fc-agendaDay-view{
  .fc-day.fc-today{
    background-color: $white;
    box-shadow: none;
    color: $primary-font-color;
  }
}
.fc-scroller.fc-time-grid-container{
  min-height: 80vh !important;
  border: 0;
}
.fc-content{
  cursor: pointer;
}

@media (max-width: 768px) {
  #calendar{
  padding: 0 0;
}
}

.fc-time-grid .fc-slats .fc-minor td{
  border-top: none;
}
.fc-axis.fc-time.fc-widget-content span {
  font-family: $number-font-family;
  font-weight: 100;
}
// .fc-axis.fc-time.fc-widget-content {
//   border: none;
// }