@import './variables';

.slim-panel{
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: $white;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        color: $primary-font-color;
        border: 1px solid #DBDBDB;
        border-left: solid 3px $accent-color;
        margin: .5rem 0;
        border-radius: $border-radius;
        font-weight: 300;
        font-size: 12px;
        padding: 0 10px;
        cursor: pointer;
        &.grey {
            border-left: solid 3px $main-grey;
        }
        &.red {
            border-left: solid 3px $red;
        }
        &.blue {
            border-left: solid 3px $blue;
        }
        &.no-shadow {
            box-shadow: none;
        }
        &.disabled {
            border-left-color: #CCCCCC;
            box-shadow: none; 
            opacity: .9;
            i {
                color: #CCCCCC;
                font-size: 12px;
            }
        }
        i {
            color: $selected-green;
            font-size: 14px;
        }
}