@import "./variables.scss";

.sb-table{
    width: 100%;
    border-collapse: collapse;
    .sb-table-header{
        border-bottom: solid 2px $primary-border-color;
        th{
            font-size: 1.1em;
            color: $dark-font-color;
            text-align: left;
        }
    }
    .sb-table-body{
        tr{
            border-bottom: solid 1px $primary-border-color;
            padding: 1em;
            td{
                padding: 1em 0;
            }
            .sb-edit{
                cursor: pointer;
            }
        }
        tr:hover {
            background: #f7f7f7;
        }
    }
}

// Iphone 6 plus
@media screen and (max-width: 530px) {
    .sb-table {
        th{
            font-size: .9em !important;
        }
        th.hide{
            display: none;
        }
        td{
            font-size: .8em !important;
        }
        td.hide{
            display: none;
        }
    }
}

// Iphone 6 plus and smaller
@media screen and (max-width: 413px) {
    .sb-table {
        th{
            font-size: .7em !important;
        }
        th.hide{
            display: none;
        }
        td{
            font-size: .7em !important;
        }
        td.hide{
            display: none;
        }
    }
}