@import "./variables.scss";

.vertical-tabs{
    display: flex;
    .titles {
        display: flex;
        flex-direction: column;
        width: 15%;
        .list-titles{
            .title{
                cursor: pointer;
                padding: 1em;
                color: $primary-font-color;
                font-size: 14px;
            }
            .title.active{
                background: $white;
                border: solid 1px #eee;
                border-left: 5px solid $accent-color;;
            }
        }
    }     
    .body{
        display: flex;
        border: solid 1px #eee;
        border-top: none;
        background: $white;
        flex-grow: 1;
        .item{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }
    }   
}

@media (max-width: 768px) {
    .vertical-tabs{
        flex-direction: column;
        .titles{
            display: flex;
            flex: 1;
            flex-direction: row;
            width: 100%;
            background: $white;
            .list-titles{
                display: flex;
                flex: 1;
                 .title{
                    display: flex;
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                    padding: 1em;
                    &.active{
                        border: none;
                        border-bottom: 2px solid $accent-color;
                        background: $white;
                    }
                }
            }
        }
    }
}