// colors
$black: #333;
$blue: #607d8b;
$orange: #f39c12;
$green: #93b5a8;
$primary-dark-color: #607D8B;
$red: #da6d4f;
$light-red: #FAD5D2;
$light-green: #D2F9E7;
$light-blue: #D6F2F5;
$white: #fff;
$grey: #eceeef;
$dark-grey: #55595c;
$primary-font-color: rgba(0, 0, 0, 0.71);
$dark-font-color: rgba(0, 0, 0, 0.87);

$primary-border-color: #eee;
$secondary-border-color: #d9d9d9;
$weird-grey: #b2b2b2;
$primary-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
0 2px 10px 0 rgba(0, 0, 0, 0.12);
// fonts
$primary-font-familiy: 'Raleway', sans-serif;
$number-font-family: 'Raleway', sans-serif;
$slick-font: 'Poiret One', cursive;



/**********************/
// UPDATED //
/**********************/
$border-radius: 2px;

// Colors
$accent-color: $orange;
$accent-color2: $red;
$accent-color1: $blue;
$accent-color3: $green;
$accent-color4: #ecaa40;
$selected-green: #97f13c;

$vano-gradient: linear-gradient(346deg, #a4b7c0, #607d8b);

$main-grey: #DBDBDB;

$big-grey-title-color: #A7B0BE;
$slim-panel-border-color:  $main-grey;

// Form
$input-border-radius: 2px;
$input-height: 35px;
$input-border: 1px solid #CCD4DF;