<template>
    <require from="./vano-appointments-table.css"></require>
    <require from="../../filters/filters"></require>
    <require from="../vano-card/vano-card"></require>

    <div class="vano-appointments-table-component">
        <div class="vano-table" if.bind="appointments.length > 0">
            <div class="header">
                <div class="item">Customer</div>
                <div class="item">Service</div>
                <div class="item">Time</div>
            </div>
            <div class="body">
                <div class="vano-row" repeat.for="a of appointments" click.delegate="viewAppointment(a.id)">
                    <div class="item">${customerIdToFullName(a.customer_id) | capitalize}</div>
                    <div class="item">
                        <div repeat.for="s of a.services">
                            ${s.name}
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            ${a.start_time | dateFormat:'MMM DD'}
                        </div>
                        <div>
                            ${a.start_time | dateFormat:'hh:mm a'}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <vano-card class="no-appointments-card" if.bind="appointments.length === 0">
            <p>No Personal Upcoming Appointments</p>
        </vano-card>
    </div>
</template>
