@import '../../styles/new-variables.scss';

.vano-appointments-table-component{
    box-shadow: $primary-box-shadow;
    background: $white;
    border-radius: 4px;
    .vano-table {
        width: 100%;
        background: $white;
        border-radius: 4px;
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            box-shadow: $bottom-only-shadow;
            position: relative;
            background: $white;
            border-bottom: solid $blue 3px;
            .item {
                border-left: $vano-table-header-border;
                height: 70px;
                width: 33.3%;
                text-align: center;
                color: $primary-font-color;
                font-family: $primary-font-family;
                font-size: 0.8125rem;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(1) {
                    border-left: 0;
                }
            }   
        }
        .body {
            width: 100%;
            display: flex;
            flex-direction: column;
            .vano-row{
                display: flex;
                flex: 1;
                height: 65px;
                cursor: pointer;
                &:nth-child(even) {
                    background: #F7F8F9;
                }
                &:nth-child(odd) {
                    background: $white;
                }
                .item {
                    font-size: .75rem;
                    color: $primary-font-color;
                    font-family: $primary-font-family;
                    width: 33.3%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }
            
        }
    }
    .no-appointments-card {
        .vano-card-component {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
            p {
                font-size: .9375rem;
                color: #C4CDD4;
            }
        }
    }
}
