@import '../../../styles/new-variables';

.vano-tab-header-item-component{
    display: flex;
    width: 100%;
    height: $vano-tab-header-height;
    min-width: 80px;
    justify-content: center;
    align-items: center;
    border-right: $primary-border;
    font-size: .8125rem;
    color: $vano-light-label-color;
    cursor: pointer;
    &.selected {
        border-bottom: 3px solid $blue;
        color: $primary-font-color;
    }
}