<template>
    <require from="./vano-tab-header-item.css"></require>

    <div class="vano-tab-header-item-component" class.bind="selected ? 'selected': ''" click.delegate="handleClick()">
        ${title}
    </div>
</template>