@import '../../styles/new-variables';

.vano-managee-invitation-card-component{
  background: $white;
  box-shadow: $primary-box-shadow;
  .vano-managee-invitation-card--section {
    &.has-bottom-border{
      border-bottom: $primary-border;
    }
    .invitation-details-wrapper {
      padding: 1rem 1.25rem;
      display: flex;
      justify-content: space-between;
    }
    .invited-by-wrapper {
      display: flex;
      align-items: center;
      p {
        margin-left: 1rem;
      }
    }
    .permission-details-wrapper {
      padding: 1.25rem;
      .permission-details--section {
        &.has-margin {
          margin-top: 1rem;
        }
        h4 {
          font-size: .8125rem;
          color: $primary-font-color;
        }
        p {
          font-size: .625rem;
          color: $vano-light-font-color;
        }
      }
    }
  }
}
