<template>
  <require from="./vano-managee-invitation-card.css"></require>
  <require from="../vano-select-dot/vano-select-dot"></require>
  <require from="../vano-forms/vano-toggle/vano-toggle"></require>
  <require from="../vano-component-label/vano-component-label"></require>

  <div class="vano-managee-invitation-card-component">
    <div class="vano-managee-invitation-card--section has-bottom-border">
      <div class="invitation-details-wrapper">
        <div class="invited-by-wrapper">
          <vano-select-dot color="blue"></vano-select-dot>
          <p>Request from: <span>${name}</span></p>
        </div>
        <div class="toggle-accepted-wrapper">
          <vano-toggle checked.two-way="accepted"></vano-toggle>
        </div>
      </div>
    </div>
    <div class="vano-managee-invitation-card--section">
      <div class="permission-details-wrapper">
        <vano-component-label title="Permissions"></vano-component-label>
        <div class="permission-details--section" if.bind="permission.manage_analytics">
          <h4>Manage Analytics</h4>
          <p>Allow ${name} to manage your analytics</p>
        </div>
        <div class="permission-details--section has-margin" if.bind="permission.manage_appointments">
          <h4>Manage Appointments</h4>
          <p>Allow ${name} to manage your appointments</p>
        </div>
      </div>
    </div>
  </div>
</template>
