<template>
    <require from="./forgot-password.css"></require>
    <require from="../../components/vano-card/vano-card"></require>
    <require from="../../components/vano-title/vano-title"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>

    <div class="forgot-password-component">
        <div class="login-component-wrapper">
            <div class="logo-wrapper">
                <img src="https://res.cloudinary.com/solabuddy/image/upload/v1506780699/3_bhhss6.png" alt="VANO logo">
            </div>
            <vano-title title="" logo-font="true" sub-title="Please provide your email to reset your password">
            </vano-title>
            <vano-card>
                <div class="login-form-wrapper">
                    <form submit.trigger="validate()">
                        <vano-input-group class="first">
                            <vano-label>Email Address</vano-label>
                            <vano-input type="email" value.two-way="authenticator & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group class="hidden">
                            <vano-input type="hidden" value.two-way="errMsg"></vano-input>
                        </vano-input-group>
                        <vano-button click.delegate="validate()" loading.one-way="isFetching" color="primary">Submit</vano-button>
                    </form>
                </div>
            </vano-card>
        </div>
    </div>
</template>
