@import '../../styles/new-variables';

.forgot-password-component{
    padding: 1.25rem;
    .login-component-wrapper {
        vano-card {
            .vano-card-component {
              padding: 0 0 2rem 0;
                vano-input-group {
                    &.first {
                        .vano-input-group-component {
                            margin-top: 0;
                        }
                    }
                    &.hidden {
                        .vano-input-group-component {
                            margin: 0;
                        }
                    }
                }
                .vano-button-component {
                    margin-top: 1rem;
                }
                .login-form-wrapper {
                    padding: 2rem;
                    padding-bottom: 0;
                }
                .forgot-password-wrapper {
                    border-top: $primary-border;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2rem;
                    cursor: pointer;
                    p {
                        font-size: .6875rem;
                        color: $vano-customers-results-font-color;
                    }
                }
            }
        }
        .register-wrapper {
            margin-top: 2.5rem;
            display: flex;
            justify-content: center;
            p {
                font-size: .6875rem;
                color: $vano-customers-results-font-color;
                span {
                    color: $blue;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .forgot-password-component{
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-component-wrapper {
            width: 360px;
            max-width: calc(100% - 2.5rem);
        }
    }
}

@media (min-width: 700px) {
    .forgot-password-component{
        height: calc(100vh - 80px);
        justify-content: center;
    }
}
