<template>
  <require from="./vano-professionals-accordion-body.css"></require>
  <require from="../../vano-component-label/vano-component-label"></require>
  <require from="../../vano-button/vano-button"></require>
  <require from="../../vano-permission-card/vano-permission-card"></require>

  <div class="vano-professionals-accordion-body-component">
    <vano-component-label title="Permissions"></vano-component-label>
    <div class="vano-permissions-wapper">
      <div class="vano-permissions-wapper--section">
        <vano-permission-card checked.two-way="professional.permission.manage_professionals" title="Manage Professionals" description="Gives permission to manage your company’s professionals."></vano-permission-card>
        <vano-permission-card checked.two-way="professional.permission.manage_appointments" title="Manage Appointments" description="Gives permission to manage the appointments for your salon and its professionals."></vano-permission-card>
        <vano-permission-card checked.two-way="professional.permission.manage_customers" title="Manage Clients" description="Gives permission to view the salon's clients email and phone number"></vano-permission-card>
      </div>
      <div class="vano-permissions-wapper--section">
          <vano-permission-card checked.two-way="professional.permission.manage_company" title="Manage Company" description="Gives permission to manage your salon's information."></vano-permission-card>
          <vano-permission-card checked.two-way="professional.permission.manage_analytics" title="Manage Analytics" description="Gives permission to view the analytics for your salon and its professionals."></vano-permission-card>
          <vano-permission-card checked.two-way="professional.permission.manage_checkouts" title="Manage Checkouts" description="Gives permission to manage checkouts for your salon and its professionals."></vano-permission-card>
      </div>

    </div>

    <vano-button color="primary" click.delegate="submit()">Submit</vano-button>
  </div>
</template>
