@import '../../../styles/new-variables';

.vano-professionals-accordion-body-component{
    padding: 1.25rem;
    background: $white;
    display: flex;
    flex-direction: column;
    .vano-permissions-wapper {
        padding:  0 0 2rem 0;
        display: flex;
        align-items: center;
        max-width: 600px;
        flex-direction: column;
        vano-button {
            width: 100%;
            max-width: 600px;
        }
        .vano-permissions-wapper--section {
            // margin-left: -1rem;
            // margin-right: -1rem;
            .vano-permission-card-component {
                margin: 1rem;
            }
        }
    }
}

@media (min-width: 525px) {
    .vano-professionals-accordion-body-component{
        .vano-permissions-wapper {
            flex-direction: row;
        }
    }
}
