<template>
    <require from="./vano-fab-menu-item.css"></require>
    <require from="../../vano-select-dot/vano-select-dot"></require>

    <div class="vano-fab-menu-item-component ${randomClass}">
        <div class="vano-fab-menu-item-icon">
            <vano-select-dot color="blue"></vano-select-dot>
        </div>
        <div class="vano-fab-menu-item-text">
            <h3>${title}</h3>
        </div>
    </div>

</template>