@import '../../../styles/new-variables.scss';

.vano-fab-menu-item-component{
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .vano-fab-menu-item-text {
        border-bottom: 1px solid #E5E9EB;
        margin-left: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        width: 200px;
        h3 {
            color: $primary-font-color;
            font-size: 1.2875rem;
            font-weight: 300;
        }
    }
    .vano-fab-menu-item-icon {
        margin-top: .2rem;
    }
}