@import '../../../styles/new-variables.scss';

.vano-settings-tabs-header-item-component{
    color: $icon-grey;
    font-size: .8125rem;
    padding: 0 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    align-items: center;
    cursor: pointer;
    min-width: 65px;
    &.selected {
        color: $primary-font-color;
        border-bottom: solid 2px $blue;
        height: 48px;
    }
}
