<template>
    <require from="./vano-settings-tabs-header-item.css"></require>

    <div class="vano-settings-tabs-header-item-component ${title.toLowerCase()}" class.bind="selected ? 'selected': ''">
        ${title}
    </div>
</template>