<template>
    <require from="./vano-app-body-layout.css"></require>

    <div class="vano-app-body-layout-component ${hasNotification ? 'has-notification': ''}" class.bind="sidebarOpen ? 'sidebar-open': ''">
        <slot></slot>
    </div>
</template>
