@import '../../styles/new-variables.scss';

.vano-app-body-layout-component{
    position: relative;
    height: 100%;
    padding-top: $vano-navbar-height;
    &.has-notification {
      padding-top: 110px;
    }
}

@media (min-width: 960px) {
    .vano-app-body-layout-component{
        transition: margin-left $vano-main-transition;
        margin-left: 0;
        &.sidebar-open {
            margin-left: $vano-sidebar-width;
        }
    }
}
