<template>
    <require from="./vano-fab-menu.css"></require>
    <require from="../vano-float-button/vano-float-button"></require>

    <div class="vano-fab-menu-component ${sidebarDynamicClass()}" id="vano-fab-menu" class.bind="!TouchingFabMenu ? 'animateable': ''">
         <div id="vano-fab-menu-scrim" class="vano-fab-menu-scrim" class.bind="opened ? 'opened': ''"></div> 
        <vano-float-button id="vano-fab-button" class.bind="opened ? 'opened': ''" z-index="9999"></vano-float-button>
        <div class="vano-fab-menu-wrapper" class.bind="opened ? 'opened': ''">
            <div class="vano-fab-menu-container">
                <slot></slot>
            </div>
        </div>
    </div>
</template>