@import '../../styles/new-variables.scss';

.vano-fab-menu-component{
    overflow: hidden;
    &.animateable {
        .vano-fab-menu-wrapper {
            transition: transform $vano-main-transition;
        }        
    }
    vano-float-button {
        &.opened {
            .vano-float-button-component {
                transform: translate3d(calc(100vw - 80px), calc(-100vh + 160px), 0) rotate(45deg);
            }
        }
        .vano-float-button-component {
            transition-property: transform;
            top: auto;
            right: auto;
            left: auto;
            transition: transform $vano-main-transition;
            transform: translate3d(calc(100vw - 80px), 0, 0) rotate(0deg);
        }
    }   
    .vano-fab-menu-scrim {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition-property: opacity;
        -webkit-transform: translateZ(0);
        transform:  translateZ(0);
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity $vano-main-transition;
        pointer-events: none;
        &.opened {
            opacity: 1;
            z-index: 99;
        }
    }
    .vano-fab-menu-wrapper {
        overflow: hidden;
        background: $white;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-height: calc(100vh - 80px);
        width: 100%;
        z-index: 1000;
        will-change: transform;
        transition-property: transform;
        transform: translate3d(100%, 100%, 0);
        &.opened {
            transform: translate3d(0, 0, 0);
            overflow-y: auto;
        }
    }
}

@media (min-width: 960px) {
    .vano-fab-menu-component {
        vano-float-button {
            &.opened {
                .vano-float-button-component {
                    transform: translate3d(0, calc(-100vh + 160px), 0) rotate(45deg);
                }
            }
            .vano-float-button-component {
                top: auto;
                left: auto;
                bottom: 24px;
                right: 24px;
                transform: none;
            }
        }
    }
}