@import '../../styles/new-variables';

.vano-month-calendar-header-component{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 1.375rem 0;
    background: $white;
    .vano-month-calendar-header-section {
        display: flex;
        justify-content: center;
        align-items: center;
        &.nav {
            cursor: pointer;
            color: $grey-font-color;
            width: 55px;
            i {
                font-size: 2.2rem;
                &.point-right {
                    transform: rotate(180deg);
                }
            }
        }
        &.month-title {
            color: $primary-font-color;
            font-size: 1.5625rem;
            flex: 1;
            font-family: $primary-font-family;
            font-weight: 700;
        }
    }
}

@media (max-width: 374px) {
  .vano-month-calendar-header-component {
    .vano-month-calendar-header-section {
      &.month-title {
        font-size: 1.1625rem;
      }
    }
  }
}
