<template>
    <require from="./vano-month-calendar-header.css"></require>
    <require from="../vano-icons/vano-left-arrow/vano-left-arrow"></require>
    <require from="../vano-icons/vano-right-arrow/vano-right-arrow"></require>

    <div class="vano-month-calendar-header-component">
        <div class="vano-month-calendar-header-section nav prev" click.delegate="prev()">
            <vano-left-arrow></vano-left-arrow>
        </div>
        <div class="vano-month-calendar-header-section month-title">
            ${title}
        </div>
        <div class="vano-month-calendar-header-section nav next" click.delegate="next()">
            <vano-right-arrow></vano-right-arrow>
        </div>
    </div>
</template>   
