@import '../../../styles/new-variables';

.independents-component{
  display: flex;
  justify-content: center;
  .independents-component-wrapper {
      max-width: 620px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      vano-professionals-accordion {
          width: 100%;
          .vano-professionals-accordion-component {
              margin: .5rem 0;  
          }
      }
  }
}
