@import '../../../styles/new-variables';

.vano-tab-header-component{
    display: flex;
    height: $vano-tab-header-height;
    box-shadow: $primary-box-shadow;
    background: $white;
    position: relative;
    border-bottom: $primary-border;
    border-radius: 4px 4px 0 0;
    vano-tab-header-item{width: 100%;}
}