@import '../../styles/new-variables';

.vano-topbar-notification-component{
  background: $blue;
  height: 30px;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
  padding: .2rem;
  a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
  .underline {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}
