<template>
        <require from="./vano-appointment-selected-service.css"></require>
        <require from="../../../filters/filters"></require>
        <require from="../../vano-modal/vano-modal"></require>
        <require from="../../vano-button/vano-button"></require>
        <require from="../../vano-forms/vano-input/vano-input"></require>
        <require from="../../vano-forms/vano-label/vano-label"></require>
        <require from="../../vano-forms/vano-input-group/vano-input-group"></require>
        <require from="../../vano-icons/vano-pencil/vano-pencil"></require>

        <div class="vano-appointment-selected-service-component">
            <vano-modal opened.one-way="updatingServiceLength">
                <div class="vano-update-service-length-wrapper">
                    <h1 class="vano-update-service-length-title">Update Service Length</h1>
                    <vano-input-group>
                      <vano-label>Service Length (in minutes)</vano-label>
                      <vano-input type="tel" value.two-way="newLength & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group multi="true">
                      <vano-input-group><vano-button color="primary" click.delegate="updateServiceLength()">Update</vano-button></vano-input-group>
                      <vano-input-group><vano-button color="danger" click.delegate="cancel($event)">Cancel</vano-button></vano-input-group>
                    </vano-input-group>
                </div>
              </vano-modal>
            <div class="vano-selected-service--section vano-selected-service-name">
                ${service.name}
            </div>
            <div class="vano-selected-service--section vano-selected-service-length" click.delegate="openModal()">
                ${service.length}/MIN
                <vano-pencil></vano-pencil>
            </div>
            <div class="vano-selected-service--section vano-selected-service-price">
                ${service.price | currency}
            </div>
            <div class="vano-selected-service--section vano-selected-service-close" click.delegate="removeService()">
                <span>X</span>
            </div>
        </div>
    </template>
