@import '../../../styles/new-variables';
.vano-update-service-length-wrapper {
  padding: 1.5rem 1.25rem;
}
.vano-appointment-selected-service-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0 -.5rem;
    .vano-modal-component .vano-modal-body .vano-modal-body-wrapper {
      max-width: 400px;
    }
    .vano-selected-service--section {
        font-size: .75rem;
        color: $primary-font-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 0 .5rem;
        &.vano-selected-service-close {
            justify-content: flex-end;
            width: 40px;
            cursor: pointer;
            span {
                font-size: .9rem;
                color: $vano-form-red;
                font-weight: 800;
            }
        }
        &.vano-selected-service-name {
            justify-content: flex-start;
            border-right: 1px solid #BEC4CD;
            min-width: 120px;
        }
        &.vano-selected-service-length {
            border-right: 1px solid #BEC4CD;
            min-width: 75px;
            cursor: pointer;
            .vano-pencil-component {
              display: flex;
              align-items: center;
            }
            svg {
              width: 50px;
              height: 15px;
            }
        }
    }
}
