@import '../../../styles/new-variables';


.checkout-review-component{
    vano-title {
        display: none;
    }
    .checkout-review-button-wrapper {
        margin-top: 1.5rem;
    }
    .checkout-review-wrapper--section {
        &.total {
            margin-top: 1rem;
            vano-card {
                .vano-card-component {
                    height: 85px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .total-price {
                font-size: 1.875rem;
                margin-left: .4rem;
            }
            .dollar-sign {
                color: $blue;
                font-size: 1rem;
                font-weight: 700;
                margin-top: -1.3rem;
            }
        }
        .service-wrapper {
            margin-top: 1rem;
            .vano-checkout-service-card-component {
                margin: 1rem 0;
            }
        }
    }
}


@media (min-width: 960px) {
    .checkout-review-component{
        display: flex;
        align-items: center;
        flex-direction: column;
        .checkout-review-wrapper--section {
            &.total {
                margin-top: 1rem;
                vano-card {
                    .vano-card-component {
                        height: 192px;
                    }
                }
            }
        }
        vano-title {
            display: inline;
        }
        .checkout-review-wrapper {
            display: flex;
            width: 657px;
            .checkout-review-wrapper--section {
                width: 100%;
                &.total {
                    width: 192px;
                    min-width: 192px;
                    margin-left: 1rem;
                    margin-top: 0;
                    .card-wrapper {
                        vano-card {
                            .vano-card-component {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
        .checkout-review-button-wrapper {
            width: 657px;
        }
    }
}
    