<template>
    <require from="./review.css"></require>
    <require from="../../../filters/filters"></require>
    <require from="../../../components/vano-title/vano-title"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-checkout-customer-card/vano-checkout-customer-card"></require>
    <require from="../../../components/vano-checkout-service-card/vano-checkout-service-card"></require>
    <require from="../../../components/vano-card/vano-card"></require>
    <require from="../../../components/vano-button/vano-button"></require>

    <div class="checkout-review-component au-animate">
        <vano-title title="Order Review" sub-title="Make sure your payment information is correct."></vano-title>
        <div class="checkout-review-wrapper">
            <div class="checkout-review-wrapper--section">
                <vano-component-label title="Order Review"></vano-component-label>
                <vano-checkout-customer-card customer.bind="fullName | capitalize"></vano-checkout-customer-card>

                <div class="service-wrapper">
                    <vano-component-label title="Services"></vano-component-label>
                    <vano-checkout-service-card 
                      repeat.for="s of checkout.appointment.services" 
                      service.one-way="s.name" 
                      price.two-way="s.price"
                      editing.two-way="s.is_editing">
                    </vano-checkout-service-card>
                </div>
            </div>
            <!-- <div class="checkout-review-wrapper--section add-tip">
                <vano-component-label title="Tip"></vano-component-label>
                <div class="card-wrapper">
                    <vano-card>
                        <span class="dollar-sign">$</span>
                        <span class="total-price">${total | currency: false}</span>
                    </vano-card>
                </div>
            </div> -->
            <div class="checkout-review-wrapper--section total">
                <vano-component-label title="Order Total"></vano-component-label>
                <div class="card-wrapper">
                    <vano-card>
                        <span class="dollar-sign">$</span>
                        <span class="total-price">${total | currency: false}</span>
                    </vano-card>
                </div>
            </div>
        </div>

        <div class="checkout-review-button-wrapper">
            <vano-button loading.one-way="isFetching" color="primary" click.delegate="submit()">Submit</vano-button>
        </div>
        
    </div>
</template>
