<template>
  <div class="vano-calendar-component">
    <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="06---Checkout" transform="translate(-869.000000, -398.000000)" fill="#D1D8DE">
              <path d="M924.773452,402.747657 L918.412513,402.747657 L918.412513,399.382813 C918.412513,398.619106 917.793406,398 917.0297,398 C916.265993,398 915.646887,398.619106 915.646887,399.382813 L915.646887,402.747657 L906.059384,402.747657 L906.059384,399.382813 C906.059384,398.619106 905.440278,398 904.676572,398 C903.912865,398 903.293759,398.619106 903.293759,399.382813 L903.293759,402.747657 L893.706256,402.747657 L893.706256,399.382813 C893.706256,398.619106 893.08715,398 892.323443,398 C891.559737,398 890.940631,398.619106 890.940631,399.382813 L890.940631,402.747657 L881.353128,402.747657 L881.353128,399.382813 C881.353128,398.619106 880.734022,398 879.970315,398 C879.206609,398 878.587502,398.619106 878.587502,399.382813 L878.587502,402.747657 L872.226563,402.747657 C870.444582,402.747657 869,404.192239 869,405.974221 L869,453.773452 C869,455.555433 870.444582,457.000015 872.226563,457.000015 L912.789074,457.000015 C912.880416,456.999801 912.971512,456.990537 913.061027,456.972359 L913.180871,456.935484 C913.277809,456.914037 913.369988,456.874978 913.452824,456.820249 L913.558839,456.764937 C913.635161,456.713742 913.70619,456.655067 913.770871,456.589781 L927.598999,442.761652 C927.664285,442.696971 927.722961,442.625943 927.774156,442.549621 C927.774156,442.517355 927.806421,442.485089 927.824859,442.452824 C927.879919,442.36849 927.918982,442.27474 927.940093,442.176261 C927.940093,442.134777 927.967749,442.097902 927.976968,442.051808 C927.993004,441.965164 928.000721,441.877186 928.000015,441.789074 L928.000015,441.789074 L928.000015,405.974221 C928.000015,404.192239 926.555433,402.747657 924.773452,402.747657 L924.773452,402.747657 Z M914.171887,443.171887 L923.280014,443.171887 L914.171887,452.280014 L914.171887,443.171887 Z M872.226563,405.513283 L878.587502,405.513283 L878.587502,408.878128 C878.587502,409.641834 879.206609,410.260941 879.970315,410.260941 C880.734022,410.260941 881.353128,409.641834 881.353128,408.878128 L881.353128,405.513283 L890.940631,405.513283 L890.940631,408.878128 C890.940631,409.641834 891.559737,410.260941 892.323443,410.260941 C893.08715,410.260941 893.706256,409.641834 893.706256,408.878128 L893.706256,405.513283 L903.293759,405.513283 L903.293759,408.878128 C903.293759,409.641834 903.912865,410.260941 904.676572,410.260941 C905.440278,410.260941 906.059384,409.641834 906.059384,408.878128 L906.059384,405.513283 L915.646887,405.513283 L915.646887,408.878128 C915.646887,409.641834 916.265993,410.260941 917.0297,410.260941 C917.793406,410.260941 918.412513,409.641834 918.412513,408.878128 L918.412513,405.513283 L924.773452,405.513283 C925.028021,405.513283 925.234389,405.719652 925.234389,405.974221 L925.234389,412.565629 L871.765626,412.565629 L871.765626,405.974221 C871.765626,405.719652 871.971995,405.513283 872.226563,405.513283 L872.226563,405.513283 Z M871.765626,453.773452 L871.765626,415.331254 L925.234389,415.331254 L925.234389,440.406261 L912.789074,440.406261 C912.025367,440.406261 911.406261,441.025367 911.406261,441.789074 L911.406261,454.234389 L872.226563,454.234389 C871.971995,454.234389 871.765626,454.028021 871.765626,453.773452 L871.765626,453.773452 Z" id="Shape"></path>
          </g>
      </g>
    </svg>
  </div>
</template>
