<template>
  <div class="vano-shopping-cart-component">
    <svg width="66px" height="54px" viewBox="0 0 66 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="06---Checkout" transform="translate(-515.000000, -400.000000)" fill="#D1D8DE">
              <path d="M578.640494,412.763636 C577.335048,411.290909 575.54006,410.309091 573.581891,410.309091 L548.452055,410.309091 C547.636151,410.309091 546.820247,410.963636 546.820247,411.945455 C546.820247,412.927273 547.636151,413.581818 548.452055,413.581818 L573.581891,413.581818 C574.560976,413.581818 575.54006,414.072727 576.192783,414.727273 C576.845506,415.545455 577.171868,416.527273 576.845506,417.509091 L575.376879,425.690909 L557.426996,425.690909 C556.611093,425.690909 555.795189,426.345455 555.795189,427.327273 C555.795189,428.309091 556.611093,428.963636 557.426996,428.963636 L574.887337,428.963636 L573.41871,436.818182 C573.25553,437.963636 572.113264,438.781818 570.970999,438.781818 L539.640294,438.781818 C538.498029,438.781818 537.518944,437.963636 537.192583,436.818182 L530.828533,401.309091 C530.665352,400.490909 530.012629,400 529.196726,400 L516.631808,400 C515.815904,400 515,400.654545 515,401.636364 C515,402.618182 515.815904,403.272727 516.631808,403.272727 L527.89128,403.272727 L534.092148,437.636364 C534.41851,439.927273 536.050317,441.563636 538.171667,442.218182 C537.355763,443.363636 536.70304,444.836364 536.70304,446.472727 C536.70304,450.563636 539.966656,453.836364 544.046174,453.836364 C548.125693,453.836364 551.389308,450.563636 551.389308,446.472727 C551.389308,445 550.899766,443.527273 550.083862,442.381818 L560.037888,442.381818 C559.221985,443.527273 558.732442,445 558.732442,446.472727 C558.732442,450.563636 561.996057,453.836364 566.075576,453.836364 C570.155095,453.836364 573.41871,450.563636 573.41871,446.472727 C573.41871,444.836364 572.929168,443.363636 572.113264,442.218182 C574.234614,441.727273 576.029602,439.927273 576.519145,437.636364 L580.109121,418.327273 C580.435483,416.363636 579.945941,414.4 578.640494,412.763636 L578.640494,412.763636 Z M548.125693,446.309091 C548.125693,448.6 546.330705,450.4 544.046174,450.4 C541.761644,450.4 539.966656,448.6 539.966656,446.309091 C539.966656,444.018182 541.761644,442.218182 544.046174,442.218182 C546.330705,442.218182 548.125693,444.018182 548.125693,446.309091 L548.125693,446.309091 Z M566.238757,450.4 C563.954227,450.4 562.159238,448.6 562.159238,446.309091 C562.159238,444.018182 563.954227,442.218182 566.238757,442.218182 C568.523288,442.218182 570.318276,444.018182 570.318276,446.309091 C570.318276,448.6 568.523288,450.4 566.238757,450.4 L566.238757,450.4 Z" id="Shape"></path>
          </g>
      </g>
    </svg>
  </div>
</template>
