@import '../../styles/new-variables';

.vano-clock-in-card-component{
  display: flex;
  background: $white;
  box-shadow: $primary-box-shadow;
  &.clocked-in {
    .vano-clock-in-card--section {
      &.vano-clock-in--hours {
        .vano-clock-in--hours--section {
          .vano-clock-in-title {
            &.clock-out {
              color: $blue;
            }
            &.clock-in {
              color: #000;
            }
          }
        }
      }
      &.vano-clock-in--action {
        background: $blue;
      }
    }
  }
  .vano-clock-in-card--section {
    &.vano-clock-in--hours {
      display: flex;
      flex-direction: column;
      flex: 1;
      .vano-clock-in--hours--section {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 1rem;
        justify-content: space-between;
        &:first-child {
          border-bottom: $primary-border;
        }
        .vano-clock-in-title {
          color: #000;
          font-size: .6rem;
          font-weight: 800;
          text-transform: uppercase;
          span {
            font-size: .6rem;
            font-weight: 800;
            text-transform: uppercase;
          }
          &.clock-in {
            color: $blue;
          }
        }
        .vano-clock-in-info {
          display: flex;
          flex-direction: column;
          .time {
            font-size: .6875rem;
            font-weight: bold;
            text-align: right;
            color: $vano-edit-sp-font-color;
          }
          .helper-text {
            font-weight: 200;
            color: $vano-edit-sp-font-color;
            font-size: .6rem;
          }
        }
      }
    }
    &.vano-clock-in--action {
      cursor: pointer;
      display: flex;
      border-left: $primary-border;
      width: 95px;
      min-width: 95px;
      .vano-clock-in--action-wrapper {
        display: flex;
        flex:1 ;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
