<template>
  <require from="./vano-clock-in-card.css"></require>
  <require from="../../filters/filters"></require>

  <div class="vano-clock-in-card-component" class.bind="isClockedIn ? 'clocked-in' : ''">
    <div class="vano-clock-in-card--section vano-clock-in--hours">
      <div class="vano-clock-in--hours--section">
        <div class="vano-clock-in-title clock-in">
          <span if.bind="!isClockedIn">Clock In</span>
          <span if.bind="isClockedIn">Clocked In At</span>
        </div>
        <div class="vano-clock-in-info">
          <span class="time" if.bind="!isClockedIn">${currentTime}</span>
          <span class="time" if.bind="isClockedIn">${lastClockIn.cloc_in_time | dateFormat: 'hh:mm a'}</span>
          <span class="helper-text" if.bind="!isClockedIn">(Tap the clock to start)</span>
        </div>
      </div>
      <div class="vano-clock-in--hours--section">
        <div class="vano-clock-in-title clock-out">
          Clock Out
        </div>
        <div class="vano-clock-in-info">
          <span class="time">${currentTime}</span>
          <span class="helper-text" if.bind="isClockedIn">(Tap the clock to stop)</span>
        </div>
      </div>
    </div>
    <div class="vano-clock-in-card--section vano-clock-in--action" click.delegate="toggleClockIn()">
      <div class="vano-clock-in--action-wrapper">
        <svg if.bind="!isClockedIn" width="31px" height="36px" viewBox="0 0 31 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="01.1_Clicker" transform="translate(-1302.000000, -20.000000)">
                  <g id="if_37.Stopwatch_290113" transform="translate(1302.000000, 20.000000)">
                      <g id="Layer_1">
                          <path d="M27.0268333,10.2822857 C29.48875,13.014 31,16.6122857 31,20.5714286 C31,29.0922857 24.0603056,36 15.5,36 C6.93969444,36 0,29.0922857 0,20.5714286 C0,12.9282857 5.58861111,6.60085714 12.9166667,5.37428571 L12.9166667,1.71428571 L11.1944444,1.71428571 C10.71825,1.71428571 10.3333333,1.33028571 10.3333333,0.857142857 C10.3333333,0.384 10.71825,0 11.1944444,0 L19.8055556,0 C20.28175,0 20.6666667,0.384 20.6666667,0.857142857 C20.6666667,1.33028571 20.28175,1.71428571 19.8055556,1.71428571 L18.0833333,1.71428571 L18.0833333,5.37 C21.0343611,5.868 23.7012222,7.19057143 25.8376389,9.09857143 L27.8431667,7.10228571 C28.17125,6.77571429 28.7034167,6.77571429 29.0323611,7.10228571 C29.3604444,7.42885714 29.3604444,7.95942857 29.0323611,8.286 L27.0268333,10.2822857 L27.0268333,10.2822857 Z M16.3611111,1.71428571 L14.6388889,1.71428571 L14.6388889,5.18657143 C14.9256389,5.17028571 15.2089444,5.14285714 15.5,5.14285714 C15.7910556,5.14285714 16.0743611,5.16771429 16.3611111,5.18314286 L16.3611111,1.71428571 L16.3611111,1.71428571 Z M15.5,6.85714286 C7.89122222,6.85714286 1.72222222,12.9968571 1.72222222,20.5714286 C1.72222222,28.146 7.89122222,34.2857143 15.5,34.2857143 C23.1096389,34.2857143 29.2777778,28.146 29.2777778,20.5714286 C29.2777778,12.9977143 23.1096389,6.85714286 15.5,6.85714286 L15.5,6.85714286 Z" id="Shape" fill="#B0C4D4"></path>
                          <path d="M15.5,24 C13.5978056,24 12.0555556,22.4648571 12.0555556,20.5714286 C12.0555556,19.9294286 12.2441389,19.3354286 12.5532778,18.822 L7.99541667,14.286 C7.66733333,13.9594286 7.66733333,13.4288571 7.99541667,13.1022857 C8.32436111,12.7757143 8.85652778,12.7757143 9.18461111,13.1022857 L13.7424722,17.6382857 C14.2591389,17.3305714 14.8550278,17.1428571 15.5,17.1428571 C17.4021944,17.1428571 18.9444444,18.678 18.9444444,20.5714286 C18.9444444,22.4648571 17.4021944,24 15.5,24 Z M15.5,18.8571429 C14.5493333,18.8571429 13.7777778,19.6251429 13.7777778,20.5714286 C13.7777778,21.5177143 14.5493333,22.2857143 15.5,22.2857143 C16.4506667,22.2857143 17.2222222,21.5177143 17.2222222,20.5714286 C17.2222222,19.6251429 16.4506667,18.8571429 15.5,18.8571429 Z" id="Combined-Shape" fill="#4786FF"></path>
                      </g>
                  </g>
              </g>
          </g>
        </svg>
        <svg if.bind="isClockedIn" width="31px" height="36px" viewBox="0 0 31 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="01.3_Clicker" transform="translate(-1302.000000, -20.000000)">
                  <g id="if_37.Stopwatch_290113" transform="translate(1302.000000, 20.000000)">
                      <g id="Layer_1">
                          <path d="M27.0268333,10.2822857 C29.48875,13.014 31,16.6122857 31,20.5714286 C31,29.0922857 24.0603056,36 15.5,36 C6.93969444,36 0,29.0922857 0,20.5714286 C0,12.9282857 5.58861111,6.60085714 12.9166667,5.37428571 L12.9166667,1.71428571 L11.1944444,1.71428571 C10.71825,1.71428571 10.3333333,1.33028571 10.3333333,0.857142857 C10.3333333,0.384 10.71825,0 11.1944444,0 L19.8055556,0 C20.28175,0 20.6666667,0.384 20.6666667,0.857142857 C20.6666667,1.33028571 20.28175,1.71428571 19.8055556,1.71428571 L18.0833333,1.71428571 L18.0833333,5.37 C21.0343611,5.868 23.7012222,7.19057143 25.8376389,9.09857143 L27.8431667,7.10228571 C28.17125,6.77571429 28.7034167,6.77571429 29.0323611,7.10228571 C29.3604444,7.42885714 29.3604444,7.95942857 29.0323611,8.286 L27.0268333,10.2822857 L27.0268333,10.2822857 Z M16.3611111,1.71428571 L14.6388889,1.71428571 L14.6388889,5.18657143 C14.9256389,5.17028571 15.2089444,5.14285714 15.5,5.14285714 C15.7910556,5.14285714 16.0743611,5.16771429 16.3611111,5.18314286 L16.3611111,1.71428571 L16.3611111,1.71428571 Z M15.5,6.85714286 C7.89122222,6.85714286 1.72222222,12.9968571 1.72222222,20.5714286 C1.72222222,28.146 7.89122222,34.2857143 15.5,34.2857143 C23.1096389,34.2857143 29.2777778,28.146 29.2777778,20.5714286 C29.2777778,12.9977143 23.1096389,6.85714286 15.5,6.85714286 L15.5,6.85714286 Z" id="Shape" fill="#92B6FC"></path>
                          <path d="M15.5,24 C13.5978056,24 12.0555556,22.4648571 12.0555556,20.5714286 C12.0555556,19.9294286 12.2441389,19.3354286 12.5532778,18.822 L7.99541667,14.286 C7.66733333,13.9594286 7.66733333,13.4288571 7.99541667,13.1022857 C8.32436111,12.7757143 8.85652778,12.7757143 9.18461111,13.1022857 L13.7424722,17.6382857 C14.2591389,17.3305714 14.8550278,17.1428571 15.5,17.1428571 C17.4021944,17.1428571 18.9444444,18.678 18.9444444,20.5714286 C18.9444444,22.4648571 17.4021944,24 15.5,24 Z M15.5,18.8571429 C14.5493333,18.8571429 13.7777778,19.6251429 13.7777778,20.5714286 C13.7777778,21.5177143 14.5493333,22.2857143 15.5,22.2857143 C16.4506667,22.2857143 17.2222222,21.5177143 17.2222222,20.5714286 C17.2222222,19.6251429 16.4506667,18.8571429 15.5,18.8571429 Z" id="Combined-Shape" fill="#FFFFFF"></path>
                      </g>
                  </g>
              </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</template>
