<template>
  <require from="./vano-new-appointment-stat.css"></require>
  <require from="../../../components/vano-analytics-stat-card/vano-analytics-stat-card"></require>
  <require from="../../../components/vano-graph-card/vano-graph-card"></require>

  <div class="vano-new-appointment-stat-component">
      <vano-graph-card
      display-week="true"
      display-month="true"
      display-year="true"
      selected.two-way="statView"
      is-fetching.one-way="isFetchingData">
        <vano-analytics-stat-card
          title.one-way="statTitle"
          sub-title.one-way="statSubTitle"
          value.one-way="newAppointments">
        </vano-analytics-stat-card>
      </vano-graph-card>
  </div>
</template>
