<template>
  <require from="./appointments-v2.css"></require>
  <require from="../../components/vano-calendar/vano-calendar"></require>

  <div class="appointments-v2-component">
      <vano-calendar
        events.one-way="currentEvents"
        options.one-way="calOptions"
        loading.one-way="isFetchingPersonalData"
        initial-date.one-way="initialDate">
    </vano-calendar>
  </div>
</template>
