@import '../../styles/new-variables';

.vano-no-results-card-component{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 4px;
    box-shadow: $primary-box-shadow;
    p {
        font-size: .9375rem;
        color: $vano-light-font-color;
    }
}