<template>
  <require from="./vano-feature-card.css"></require>
  <require from="../vano-select-dot/vano-select-dot"></require>
  <require from="../vano-forms/vano-toggle/vano-toggle"></require>
  <require from="../vano-component-label/vano-component-label"></require>
  <require from="../../filters/filters"></require>

  <div class="vano-feature-card-component" if.bind="display">
    <div class="vano-feature-card--section has-bottom-border">
      <div class="feature-details-wrapper">
        <div class="invited-by-wrapper">
          <vano-select-dot color="blue"></vano-select-dot>
          <p>${cleanTitle(feature.name)}</p>
        </div>
        <div class="toggle-accepted-wrapper">
          <vano-toggle checked.two-way="enabled"></vano-toggle>
        </div>
      </div>
    </div>
    <div class="vano-feature-card--section">
      <div class="permission-details-wrapper">
        <div class="vano-feature-card-body--section vano-feature-info--section">
          <p class="description">The <span class="blue-text">${cleanTitle(feature.name)} &nbsp;</span>power up ${feature.description}</p>
          <div class="permission-details--section">
            <h4>Benefits</h4>
            <p>
              ${feature.benefits}</p>
          </div>
          <div class="permission-details--section has-margin" >
            <h4>For Who?</h4>
            <p>
              ${feature.for_who}</p>
          </div>
        </div>
        <div class="vano-feature-card-body--section vano-feature-price--section">
          <p class="vano-feature-price crossed">${feature.price | currency}/mo</p>
          <p class="vano-feature-price free">free</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
