@import '../../styles/new-variables';

.vano-feature-card-component{
  background: $white;
  box-shadow: $primary-box-shadow;
  margin: 2rem 0;
  .vano-feature-card--section {
    &.has-bottom-border{
      border-bottom: $primary-border;
    }
    .feature-details-wrapper {
      padding: 1rem 1.25rem;
      display: flex;
      justify-content: space-between;
    }
    .invited-by-wrapper {
      display: flex;
      align-items: center;
      p {
        margin-left: 1rem;
      }
    }
    .permission-details-wrapper {
      padding: 1.25rem;
      display: flex;
      .vano-feature-card-body--section {
        display: flex;
        &.vano-feature-price--section {
          min-width: 75px;
          flex-direction: column;
          align-items: flex-end;
          .vano-feature-price {
            font-size: .75rem;
            font-weight: bold;
            color: $primary-font-color;
            &.crossed {
              text-decoration: line-through;
              font-weight: 600;
            }
            &.free {
              color: $blue;
              text-transform: uppercase;
            }
          }
        }
        &.vano-feature-info--section {
          flex-direction: column;
        }
      }
      .description {
        font-weight: 200;
        font-size: .6875rem;
        color: $primary-font-color;
        margin-bottom: 1rem;
        .blue-text {
          font-weight: 600;
          color: $blue;
        }
      }
      .permission-details--section {
        &.has-margin {
          margin-top: 1rem;
        }
        h4 {
          font-size: .8125rem;
          color: $primary-font-color;
        }
        p {
          font-size: .625rem;
          color: $vano-light-font-color;
        }
      }
    }
  }
}


@media (min-width: 600px) {
  .vano-feature-card-component{
    .vano-feature-card--section {
      .permission-details-wrapper {
        .vano-feature-card-body--section {
          &.vano-feature-price--section {
            min-width: 130px;
          }
        }
      }
    }
  }
}
