<template>
  <require from="./vano-customer-note.css"></require>
  <require from="../../vano-button/vano-button"></require>
  <require from="../../vano-forms/vano-input/vano-input"></require>
  <require from="../../vano-icons/vano-pencil/vano-pencil"></require>

  <div class="vano-customer-note-component">
    <div class="vano-customer-note-wrapper" if.bind="!isEditing">
      <div class="vano-customer-note-component--section text">
        ${text}
      </div>
      <div class="vano-customer-note-component--section edit" click.delegate="toggleEdit($event)">
        <vano-pencil class="icon-pencil pencil-icon"></vano-pencil>
      </div>
    </div>


    <div class="vano-customer-note-wrapper is-editing" if.bind="isEditing">
      <div class="vano-customer-note-component--section text">
        <vano-input type="text" value.two-way="text"></vano-input>
      </div>
      <div class="vano-customer-note-component--section edit">
        <vano-button color="primary" click.delegate="update($event)">Update</vano-button>
        <vano-button color="danger" click.delegate="delete($event)">Delete</vano-button>
      </div>
    </div>
  </div>
</template>
