@import '../../../styles/new-variables';

.vano-customer-note-component{
    border-bottom: $primary-border;
    .vano-customer-note-wrapper {
      display: flex;
      padding: 0 1.25rem;
      justify-content: space-between;
      align-items: center;
      height: 67px;
      &.is-editing {
        .vano-customer-note-component--section {
          &.edit {
            width: auto;
            cursor: auto;
            vano-button {
              margin: 0 .5rem;
              .vano-button-component {
                .vano-button {
                  padding: 0 1rem;
                }
              }
            }
          }
        }
      }
    }
    .vano-customer-note-component--section{
        &.text {
            color: $primary-font-color;
            font-size: .75rem;
        }
        &.edit {
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
            .pencil-icon {
                font-size: 2rem;
                color: $vano-light-font-color;
            }
        }
    }
}
