@import '../../styles/new-variables';

.vano-title-component{
    text-align: center;
    .title {
        color: $primary-font-color;
        font-size: 1.5625rem;
        margin: 0;
        margin-top: 1rem;
        &.logo-font {
          font-family: $logo-font;
          letter-spacing: .5925rem;
          font-size: 1.75rem;
          font-weight: 100;
      }
    }
    .sub-title {
        margin: 0;
        margin-top: 0rem;
        font-size: 1.1875rem;
        font-weight: 200;
        margin-bottom: 1.8rem;
    }
    .description {
        font-size: .8125rem;
        font-weight: 200;
        margin-bottom: 1.8rem;
    }
}
