<template>
  <require from="./vano-title.css"></require>

  <div class="vano-title-component">
    <h3 class="title" class.bind="logoFont ? 'logo-font': ''">${title}</h3>
    <h6 class="sub-title">${subTitle}</h6>
    <p class="description" if.bind="description">${description}</p>
  </div>
</template>
