<template>
  <require from="./features.css"></require>
  <require from="../../components/vano-card/vano-card"></require>
  <require from="../../components/vano-title/vano-title"></require>
  <require from="../../components/vano-forms/vano-toggle/vano-toggle"></require>
  <require from="../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../components/vano-component-label/vano-component-label"></require>
  <require from="../../components/vano-feature-card/vano-feature-card"></require>

  <div class="features-component au-animate">
    <div class="feature-component-wrapper">
      <vano-title title="Power Ups" sub-title="Personalize your Vano experience with our Power Ups."></vano-title>
      <div class="features-results">
        <vano-feature-card 
          repeat.for="f of authProfessional.features"
          feature.one-way="f">
        </vano-feature-card>
      </div>
    </div>
  </div>
</template>
