@import '../../styles/new-variables';

.features-component{
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  .feature-component-wrapper {
    width: 590px;
    max-width: calc(100% - 2.5rem);
    .feature-card{
      .vano-card-component {
        // margin-top: 1rem;
      }
    }
  }
  .personal-requirements-vano-label{
    .vano-component-label-component{
      margin-top: 1rem;
    }
  }
  .personal-requirements-vano-card {
    .vano-card-component {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      padding: 1rem;
      .personal-requirements--section-toggle {
        min-width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        vano-toggle {
          .vano-toggle-component {
            margin-top: .5rem;
          }
        }
      }
      .personal-requirements--section-text {
        margin-left: 1.25rem;
        p {
          font-size: .75rem;
          font-weight: 300;
          .blue-text {
            color: $blue;
          }
        }
      }
    }
  }
  
}
