<template>
    <require from="./settings.css"></require>
    <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header"></require>
    <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header-item/vano-settings-tabs-header-item"></require>
    <require from="../../components/vano-settings-tabs-body/vano-settings-tabs-body"></require>

    <div class="settings-component au-animate">
        <vano-settings-tabs-header>
            <vano-settings-tabs-header-item 
              title="Personal" 
              selected.one-way="router.currentInstruction.fragment === 'personal'" 
              click.delegate="goTo('app.settings.personal')">
            </vano-settings-tabs-header-item>
            <vano-settings-tabs-header-item 
              if.bind="authProfessional.permission.manage_company"
              title="Company" 
              selected.one-way="router.currentInstruction.fragment === 'company'" 
              click.delegate="goTo('app.settings.company')">
            </vano-settings-tabs-header-item>
            <vano-settings-tabs-header-item 
              if.bind="authProfessional.permission.manage_company"
              title="Salon" 
              selected.one-way="router.currentInstruction.fragment === 'salon'"
              click.delegate="goTo('app.settings.salon')">
            </vano-settings-tabs-header-item>
            <vano-settings-tabs-header-item 
              title="Schedules" 
              selected.one-way="router.currentInstruction.fragment === 'schedules'"
              click.delegate="goTo('app.settings.schedules')">
            </vano-settings-tabs-header-item>
        </vano-settings-tabs-header>
        <div class="settings-component-wrapper">
            <vano-settings-tabs-body>
                <router-view></router-view>
            </vano-settings-tabs-body>
        </div>
    </div>
</template>
