.settings-component {
  display: flex;
  align-items: center;
  flex-direction: column;
    vano-title {
        display: none;
    }
    vano-settings-tabs-header {
      width: 100%;
  }
    .settings-component-wrapper {
      width: 590px;
      max-width: calc(100% - 2.5rem);
    }
}

@media (min-width: 960px) {
    .settings-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        vano-settings-tabs-header {
            width: 100%;
        }
        vano-title {
            display: inline;
            .vano-title-component {
                margin-top: 1.35rem;
            }
        }
    }
}
