<template>
  <require from="./simple.css"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="../../../components/vano-card/vano-card"></require>
  <require from="../../../components/vano-button/vano-button"></require>
  <require from="../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../../components/vano-forms/vano-textarea/vano-textarea"></require>
  <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../../components/vano-forms/vano-toggle/vano-toggle"></require>

  <div class="simple-component au-animate">
    <vano-title title="Simple Service" sub-title="Add multiple steps to your services."></vano-title>
    <div class="add-simple-service-form-wrapper">
      <form>
        <vano-card>
          <vano-input-group>
            <vano-label>Name</vano-label>
            <vano-input value.two-way="name & validate"></vano-input>
          </vano-input-group>
          <vano-input-group>
            <vano-label>Description</vano-label>
            <vano-textarea value.two-way="description & validate"></vano-textarea>
          </vano-input-group>
          <vano-input-group multi="true">
            <vano-input-group>
              <vano-label>Service Length</vano-label>
              <vano-input type="tel" value.two-way="length & validate"></vano-input>
            </vano-input-group>
            <vano-input-group>
              <vano-label>Price</vano-label>
              <vano-input type="tel" value.two-way="price & validate" class="price-input"></vano-input>
            </vano-input-group>
          </vano-input-group>
          <vano-input-group>
            <vano-label>Require Consultation</vano-label>
            <p class="form-helper-text">Require your clients to call in for a consultation before being able to book this service.</p>
            <vano-toggle checked.two-way="requirePhoneCall"></vano-toggle>
          </vano-input-group>
          <vano-button  click.delegate="validate()" loading.one-way="isFetching" color="primary">Add Service</vano-button>
        </vano-card>
      </form>
    </div>
  </div>
</template>
