@import '../../../styles/new-variables';

.simple-component{
  .add-simple-service-form-wrapper {
    vano-card {
      .vano-card-component {
        padding: 1.25rem 2rem;
        padding-bottom: 2rem;
      }
    }
    .vano-button-component {
      margin-top: 2rem;
    }
  }
}
