<template>
  <require from="./vano-toggle.css"></require>

  <div class="vano-toggle-component">
    <label class="switch">
        <input type="checkbox" checked.bind="checked">
        <span class="slider round"></span>
    </label>
  </div>
</template>
