@import '../../styles/new-variables';

.vano-form-title-component{
    display: flex;
    align-items: center;
    .vano-form-title {
        font-size: 1.375rem;
        color: $primary-font-color;
        margin-left: 1.25rem;
    }
}