<template>
    <require from="./vano-form-title.css" as="scoped"></require>
    <require from="../vano-select-dot/vano-select-dot"></require>

    <div class="vano-form-title-component">
        <vano-select-dot color="blue"></vano-select-dot>
        <div class="vano-form-title">${title}</div>
    </div>
</template>