<template>
  <require from="./vano-plus.css"></require>
  
  <div class="vano-plus-component">
    <svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="03---Appointments" transform="translate(-1339.000000, -1087.000000)" fill="#FFFFFF">
              <g id="Group" transform="translate(1307.000000, 1055.000000)">
                  <g id="if_add_134224" transform="translate(32.000000, 32.000000)">
                      <g id="Layer_1">
                          <path d="M17.6428571,8.14285714 L10.8571429,8.14285714 L10.8571429,1.35714286 C10.8571429,0.608 10.2491429,0 9.5,0 C8.75085714,0 8.14285714,0.608 8.14285714,1.35714286 L8.14285714,8.14285714 L1.35714286,8.14285714 C0.608,8.14285714 0,8.75085714 0,9.5 C0,10.2491429 0.608,10.8571429 1.35714286,10.8571429 L8.14285714,10.8571429 L8.14285714,17.6428571 C8.14285714,18.392 8.75085714,19 9.5,19 C10.2491429,19 10.8571429,18.392 10.8571429,17.6428571 L10.8571429,10.8571429 L17.6428571,10.8571429 C18.392,10.8571429 19,10.2491429 19,9.5 C19,8.75085714 18.392,8.14285714 17.6428571,8.14285714 L17.6428571,8.14285714 Z" id="Shape"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
    </svg>
  </div>
</template>
