@import '../../styles/new-variables';

.vano-admin-calendar-header-component{
    background: $white;
    border-bottom: $primary-border;
    .vano-admin-calendar-header-wrapper {
        display: flex;
        .vano-admin-calendar-header--section {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 1.25rem;
            width: 100%;
            &.name {
                border-right: $primary-border;
                h4 {
                    margin-top: .5rem;
                }
            }
            &.search {
                vano-search-dropdown {
                    margin-top: .5rem;
                }
            }
        }
    }
}