<template>
    <require from="./vano-admin-calendar-header.css"></require>
    <require from="../vano-forms/vano-label/vano-label"></require>
    <require from="../vano-forms/vano-search-dropdown/vano-search-dropdown"></require>

    <div class="vano-admin-calendar-header-component">
        <div class="vano-admin-calendar-header-wrapper">
            <div class="vano-admin-calendar-header--section name">
                <vano-label>Schedule</vano-label>
                <h4>${title}</h4>
            </div>
            <div class="vano-admin-calendar-header--section search">
                <vano-label>Filter by professional</vano-label>
                <vano-search-dropdown 
                  options.one-way="professionalOpts"
                  selected.two-way="selectedProfessional">
                </vano-search-dropdown>
            </div>
        </div>
    </div>
</template>
