@import '../../styles/new-variables';

.vano-message-bubble-component{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &.from-bot {
        justify-content: flex-start;
        .vano-message-bubble-wrapper {
            border-radius: 8px 8px 8px 0;
            background: $primary-font-color;
        }
    } 
    .vano-message-bubble-wrapper {
        background: $vano-bubble-blue;
        border-radius: 8px 8px 0 8px;
        padding: .5rem 1rem;
        max-width: calc(100% - 100px);
        color: $white;
    }
}