<template>
  <require from="./vano-message-bubble.css"></require>

  <div class="vano-message-bubble-component" class.bind="fromBot ? 'from-bot': ''">
        <div class="vano-message-bubble-wrapper">${text}</div>
  </div>
</template>