@import '../../styles/new-variables';

.vano-close-component{
    display: flex;
    justify-content: flex-end;
    &.small {
      p {
        font-size: 1.2rem;
        margin-top: 1.42rem;
      }
    }
    p {
        text-shadow: $vano-blue-text-shadow;
        font-size: 2rem;
        color: $blue;
        height: 48px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        &.red {
          text-shadow: $vano-red-text-shadow;
          color: $red;
        }
    }
}
