<template>
    <require from="./vano-services.css"></require>
    <require from="../vano-info-card/vano-info-card"></require>
     <require from="../../filters/filters"> </require>

    <div class="vano-services-component">
         <vano-info-card 
                repeat.for="s of services"
                title.one-way="s.name"
                sub-title.one-way="s.description | stringLength: '24'"
                bubble-text.one-way="s.length + '/MIN'"
                color.one-way="randomColor()"
                click.delegate="clickService(s.id)">
        </vano-info-card>
    </div>
</template>
