.vano-services-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    vano-info-card {
        width: 100%;
        .vano-info-card-component {
            margin: 1rem 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    .vano-services-component {
        flex-direction: row;
        flex-wrap: wrap;
        vano-info-card{
            max-width: calc(33.3% - 2rem);
            margin: 1rem;
        }
    }
}
