<template>
  <require from="./card.css"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="../../../components/vano-checkbox/vano-checkbox"></require>
  <require from="../../../components/vano-button/vano-button"></require>
  <require from="../../../components/vano-card/vano-card"></require>
  <require from="../../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../../components/vano-forms/vano-cc-input/vano-cc-input"></require>
  <require from="../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../../components/vano-cc-card/vano-cc-card"></require>

  <div class="checkout-card-component">
      <div class="checkout-card-wrapper">
        <vano-title
          title="Payment Information"
          sub-title="Select a saved card or enter payment information.">
        </vano-title>
        <div class="select-card-wrapper">
            <vano-component-label title="Saved Cards">
              </vano-component-label>
              <div class="selectable-cards" if.bind="cards.length > 0">
                  <vano-cc-card 
                    repeat.for="c of cards" 
                    selectable="true"
                    selected.two-way="c.is_selected"
                    click.delegate="toggleSelected(c)"
                    last-four.one-way="c.last_four"
                    icon.one-way="c.method"
                    ></vano-cc-card>
                    <vano-button 
                      click.delegate="next()" 
                      color="primary"
                      if.bind="selectedCard">
                      Continue
                    </vano-button>
              </div>
              <vano-card class="no-cards" if.bind="cards.length === 0">
                <div class="no-cards-wrapper">
                  <p>No Saved Cards</p>
                </div>  
              </vano-card>
        </div>
        <div class="create-card-wrapper">
            <vano-component-label title="Payment Information">
              </vano-component-label>
              <vano-card>
                <form>
                    <vano-input-group>
                      <vano-label>Credit Card Number</vano-label>
                      <vano-cc-input value.two-way="cardNumber & validate"></vano-cc-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Name on Card</vano-label>
                        <vano-input 
                          value.two-way="cardHolder & validate"
                          placeholder="Name on Card">
                        </vano-input>
                      </vano-input-group>
                    <vano-input-group multi="true">
                      <vano-input-group>
                          <vano-label>Exp</vano-label>
                          <vano-input value.two-way="cardExp & validate" mask="99 / 99" placeholder="MM/YY"></vano-input>
                      </vano-input-group>
                      <vano-input-group>
                          <vano-label>CVC</vano-label>
                          <vano-input value.two-way="cardCvv & validate" limit="4" placeholder="CVV"></vano-input>
                      </vano-input-group>
                    </vano-input-group>
                    <div class="vano-checkbox-wrapper">
                      <vano-checkbox checked.two-way="saveCard"></vano-checkbox>
                      <span click.delegate="toggleSaveCard()">Save card information</span>
                    </div>
                    <vano-button loading.one-way="isFetching" click.delegate="validate()" type="submit" color="primary">Submit</vano-button>
                </form>
              </vano-card>
        </div>
      </div>
  </div>
</template>
