@import '../../../styles/new-variables';

.checkout-card-component{
    .create-card-wrapper {
        margin-top: 1.25rem;
    }
    .select-card-wrapper {
        vano-card.no-cards {
            .vano-card-component {
                padding: 0;
            }
        }
        .no-cards-wrapper {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            height: 75px;
            p {
                font-size: .9375rem;
                color: #C4CDD4;
            }
        }
        .selectable-cards {
            .vano-cc-card-component {
                margin: 1rem 0;
            }
            .vano-button-component {
                margin-top: 1rem;
            }
        }
    }
    vano-title {
        display: none;
    }
    vano-card {
        .vano-card-component {
            padding: 1rem 1.35rem 1.35rem 1.35rem;
        }
    }
    .vano-checkbox-wrapper {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        span {
            margin-left: 1.25rem;
            color: $primary-font-color;
            font-size: .8125rem;
        }
    }
}

@media (min-width: 960px) {
    .checkout-card-component{
        display: flex;
        justify-content: center;
        .checkout-card-wrapper {
            max-width: calc(100% - 2.55rem);
            width: 525px;
        }
        vano-title {
            display: inline;
        }
    }
}