<template>
  <require from="./desktop-view.css"></require>
  <require from="../../../components/vano-customers-search-bar/vano-customers-search-bar"></require>
  <require from="../../../components/vano-customer-item/vano-customer-item"></require>
  <require from="../../../filters/filters"></require>
  <require from="../../../components/vano-cc-card/vano-cc-card"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../components/vano-customer-activity-card/vano-customer-activity-card"></require>
    <require from="../../../components/vano-customer-notes/vano-customer-notes"></require>
    <require from="../../../components/vano-card/vano-card"></require>
    <require from="../../../components/vano-no-results-card/vano-no-results-card"></require>
    <require from="../../../components/vano-loading-indicator/vano-loading-indicator"></require>
    <require from="../../../components/vano-customer-services-card/vano-customer-services-card"></require>

  <div class="customers-desktop-view-component">
    <div class="customers-desktop-view-wrapper">
      <div class="customers-desktop-view--section customers-list-section">
        <div class="customer-search-bar">
          <vano-customers-search-bar search.two-way="search">
          </vano-customers-search-bar>
        </div>
        <div class="customers-list">
          <vano-customer-item 
            repeat.for="c of customers" 
            click.delegate="selectCustomer(c)"
            customer.one-way="fullName(c.first_name, c.last_name)" letter.one-way="shouldSendLetter(c.first_name[0])">
          </vano-customer-item>
          <vano-loading-indicator if.bind="isFetchingMoreClients"></vano-loading-indicator>
          <div if.bind="filteredCustomers.length == 0" class="no-results">
            <p>No Clients</p>
          </div>
        </div>
      </div>
      <div class="customers-desktop-view--section customer-detail">
        <div class="customers-detail--section customer-detail-title">
          <h3>Client Information</h3>
          <i class="material-icons icon-pencil" click.delegate="updateCustomer()">&#xE3C9;</i>
        </div>
        <div class="customers-detail--section customer-detail-details">
          <div class="customer-detail-details--section customer-profile">
            <div class="vano-avatar">
            </div>
            <div class="fullname">
              ${fullName(customer.first_name, customer.last_name) | capitalize}
            </div>
          </div>
          <div class="customer-detail-details--section customer-data">
            <div class="vano-customer-metadata">
              <div class="vano-customer-meta-section mobile">
                <div class="vano-customer-meta-icon">
                  <i class="material-icons">phone_iphone</i>
                </div>
                <div class="vano-customer-meta-details">
                  <h6>MOBILE SMS</h6>
                  <a href="sms:${customer.phone_number}">
                    <h3 if.bind="authProfessional.permission.manage_customers">+1 ${customer.phone_number | phoneNumber}</h3>
                    <h3 if.bind="!authProfessional.permission.manage_customers">***********</h3>
                  </a>
                </div>
              </div>
              <div class="vano-customer-meta-section">
                <div class="vano-customer-meta-icon">
                  <i class="material-icons">phone</i>
                </div>
                <div class="vano-customer-meta-details">
                  <h6>Telephone</h6>
                  <a href="tel:${customer.phone_number}">
                    <h3 if.bind="authProfessional.permission.manage_customers">+1 ${customer.phone_number | phoneNumber}</h3>
                    <h3 if.bind="!authProfessional.permission.manage_customers">***********</h3>
                  </a>
                </div>
              </div>
              <div class="vano-customer-meta-section">
                <div class="vano-customer-meta-icon">
                  <i class="material-icons">mail_outline</i>
                </div>
                <div class="vano-customer-meta-details">
                  <h6>EMAIL</h6>
                  <a href="mailto:${customer.email}">
                    <h3 if.bind="authProfessional.permission.manage_customers">${customer.email}</h3>
                    <h3 if.bind="!authProfessional.permission.manage_customers">*************</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="customers-detail--section customer-billing">
          <vano-component-label title="Billing"></vano-component-label>
          <vano-cc-card 
            if.bind="cards.length > 0"
            repeat.for="c of cards"
            last-four.one-way="c.last_four" 
            icon.one-way="c.method"
            id.one-way="c.id">
          </vano-cc-card>
          <vano-no-results-card text="No Saved Cards" if.bind="cards.length === 0"></vano-no-results-card>
        </div>
        <div class="customers-detail--section customer-notes">
          <vano-component-label title="Notes"></vano-component-label>
          <vano-customer-notes notes.bind="notes" value.two-way="noteValue"></vano-customer-notes>
        </div>
        <div class="customers-detail--section customer-services" if.bind="feature.customer_service_times">
          <vano-component-label title="Custom Service Times"></vano-component-label>
          <vano-customer-services-card customer.one-way="customer"></vano-customer-services-card>
        </div>
        <div class="customers-detail--section customer-activity">
          <vano-component-label title="Activity"></vano-component-label>
          <vano-customer-activity-card
            repeat.for="a of appointments"
            appointment.one-way="a"
            post-appointment.one-way="a.post_appointment"
            services.one-way="a.services"
            date.one-way="a.start_time" 
            if.bind="appointments.length > 0">
          </vano-customer-activity-card>
          <vano-no-results-card text="No Recent Activity" if.bind="appointments.length === 0"></vano-no-results-card>
        </div>
      </div>
    </div>
  </div>
</template>
