@import '../../../styles/new-variables';
$customers-list-section-width: 275px;
$vano-avatar-dimensions: 90px;
.customers-desktop-view-component {
    display: flex;
    justify-content: center;
    padding: 30px;
    vano-no-results-card {
      .vano-no-results-card-component {
        border: $primary-border;
      }
    }
    .customers-desktop-view-wrapper {
        display: flex;
        flex: 1;
        width: calc(100% - 60px);
        max-width: 940px;
        .customers-desktop-view--section {
            display: flex;
            flex-direction: column;
            &.customers-list-section {
                width: $customers-list-section-width;
                border-right: $primary-border;
                background: $white;
                padding-bottom: 30px;
                max-height: 900px;
                .customer-search-bar {
                    box-shadow: $primary-box-shadow;
                    position: relative;
                }
                .customers-list {
                    background: $white;
                    padding: 0 1rem;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    position: relative;
                    vano-customer-item {
                        .vano-customer-item-component {
                            border-bottom: $vano-customers-search-border;
                            .vano-customer-full-name {
                                font-weight: 200;
                                font-size: .93rem;
                            }
                        }
                    }
                }
            }
            &.customer-detail {
                width: 100%;
                background: $white;
                .customers-detail--section {
                    &.customer-detail-title {
                        height: 50px;
                        background: $white;
                        padding: 0 1.3rem;
                        display: flex;
                        align-items: center;
                        border-bottom: $primary-border;
                        display: flex;
                        justify-content: space-between;
                        h3 {
                            color: $grey-font-color;
                            font-size: .875rem;
                        }
                        i {
                          font-size: 2rem;
                          color: $vano-light-font-color;
                          cursor: pointer;
                          height: 50px;
                          width: 50px;
                        }
                    }
                    &.customer-detail-details {
                        display: flex;
                        height: 200px;
                        border-bottom: $primary-border;
                        .customer-detail-details--section {
                            &.customer-profile {
                                padding: 2rem;
                                display: flex;
                                align-items: center;
                                border-right: $primary-border;
                                width: 100%;
                            }
                            &.customer-data {
                                padding: 1rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                min-width: 200px;
                                .vano-customer-meta-section {
                                    display: flex;
                                    flex: 1;
                                    margin: 1rem 0;
                                    .vano-customer-meta-icon {
                                        i {
                                            color: $vano-light-font-color;
                                            font-size: 1.25rem;
                                        }
                                    }
                                    .vano-customer-meta-details {
                                        display: flex;
                                        flex-direction: column;
                                        margin-left: 1rem;
                                        h6 {
                                            color: $vano-light-label-color;
                                            font-size: .5625rem;
                                        }
                                        h3 {
                                            color: $primary-font-color;
                                            font-family: $primary-font-family;
                                            font-size: .8125rem;
                                            margin-top: 5px;
                                        }
                                    }
                                }
                            }
                        }
                        .vano-avatar {
                            height: $vano-avatar-dimensions;
                            width: $vano-avatar-dimensions;
                            background: #ccc;
                            border-radius: 50%;
                            border: solid 4px $white;
                        }
                        .fullname {
                            color: $primary-font-color;
                            font-weight: 700;
                            font-size: 1.3125rem;
                            margin-left: 1.35rem;
                        }
                    }
                    &.customer-billing {
                        padding: 1rem 2rem;
                        border-bottom: $primary-border;
                        vano-cc-card {
                            .vano-cc-card-component {
                                margin: 1rem 0;
                                border: $primary-border;
                            }
                        }
                    }
                    &.customer-notes {
                        padding: 1rem 2rem;
                        border-bottom: $primary-border;
                        min-height: 120px;
                        vano-customer-notes {
                            .vano-customer-notes-component {
                                border: $primary-border;
                            }
                        }
                    }
                    &.customer-services {
                      padding: 1rem 2rem 2rem 2rem;
                      border-bottom: $primary-border;
                      min-height: 120px;
                    }
                    &.customer-activity {
                        padding: 1rem 2rem;
                        border-bottom: $primary-border;
                        vano-customer-activity-card{
                            .vano-customer-activity-card-component {
                                margin: 1rem 0;
                                border: $primary-border;
                            }
                        }
                        vano-card {
                            .vano-card-component{
                                border: $primary-border;
                            }
                            .no-activity {
                                height: 75px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $no-more-font-color;
                                font-size: .9375rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


