<template>
  <require from="./reports.css"></require>
  <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header"></require>
  <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header-item/vano-settings-tabs-header-item"></require>
  <require from="../../components/vano-settings-tabs-body/vano-settings-tabs-body"></require>

  <div class="reports-component au-animate">
      <vano-settings-tabs-header>
          <vano-settings-tabs-header-item 
            title="Analytics" 
            selected.one-way="router.currentInstruction.fragment === 'analytics'" 
            click.delegate="goTo('app.reports.analytics')">
          </vano-settings-tabs-header-item>
          <vano-settings-tabs-header-item 
            if.bind="feature.cloc_in"
            title="Work Hours" 
            selected.one-way="router.currentInstruction.fragment === 'times'" 
            click.delegate="goTo('app.reports.times')">
          </vano-settings-tabs-header-item>
      </vano-settings-tabs-header>
      <div class="reports-component-wrapper">
          <vano-settings-tabs-body>
              <router-view></router-view>
          </vano-settings-tabs-body>
      </div>
  </div>
</template>



<!-- <template>
  <require from="./analytics.css"></require>
  <require from="./vano-services-graph/vano-services-graph"></require>
  <require from="./vano-service-revenue-graph/vano-service-revenue-graph"></require>
  <require from="./vano-transactions-history/vano-transactions-history"></require>
  <require from="./vano-revenue-stat/vano-revenue-stat"></require>
  <require from="./vano-new-appointment-stat/vano-new-appointment-stat"></require>
  <require from="./vano-clients-stat/vano-clients-stat"></require>
  <require from="./vano-sales-graph/vano-sales-graph"></require>
  <require from="../../components/vano-graph-card/vano-graph-card"></require>
  <require from="../../components/vano-title/vano-title"></require>
  <require from="../../components/vano-component-label/vano-component-label"></require>
  <require from="../../filters/filters"></require>

  <div class="analytics-component au-animate">
    <div class="analytics-component-wrapper">
      <vano-title title="Analytics" sub-title="View and keep track of your business analytics, services and new clients."></vano-title>
      <div class="sales-graph-wrapper">
        <vano-component-label title="Sales Report"></vano-component-label>
        <vano-sales-graph></vano-sales-graph>
      </div>
      <div class="services-breakdown-graphs-wrapper">
        <div class="services-breakdown-graph services-breakdown-graph--services">
          <vano-component-label title="Services Breakdown"></vano-component-label>
          <vano-services-graph></vano-services-graph>
        </div>
        <div class="services-breakdown-graph services-breakdown-graph--service-revenue">
            <vano-component-label title="Service Revenue Breakdown"></vano-component-label>
            <vano-service-revenue-graph></vano-service-revenue-graph>
          </div>
      </div>
      <div class="analytics-quick-analytics-wrapper">
          <div class="quick-analytics-item">
              <vano-component-label title="Total Revenue"></vano-component-label>
              <vano-revenue-stat></vano-revenue-stat>
          </div>
          <div class="quick-analytics-item">
              <vano-component-label title="New Clients"></vano-component-label>
              <vano-clients-stat></vano-clients-stat>
          </div>
          <div class="quick-analytics-item">
              <vano-component-label title="New Appointments"></vano-component-label>
              <vano-new-appointment-stat></vano-new-appointment-stat>
          </div>
      </div>
      <div class="sales-feed-wrapper">
          <vano-component-label title="Transactions History"></vano-component-label>
        <vano-transactions-history></vano-transactions-history>
      </div>
    </div>
  </div>
</template> -->
