@import "../../styles/variables.scss";

.reports-component {
  .reports-component-wrapper {
    width: 100%;
  }
  .vano-settings-tabs-header-item-component {
    height: 48px;
    min-width: 90px;
  }
}

@media (min-width: 960px) {
  .reports-component {
      display: flex;
      flex-direction: column;
      align-items: center;
      vano-settings-tabs-header {
          width: 100%;
      }
      vano-title {
          .vano-title-component {
              margin-top: 1.35rem;
          }
      }
  }
}





