@import '../../styles/new-variables';
@import '../../libs/toastr/toastr';

.service-details-v2-component{
  display: flex;
  justify-content: center;
  .vano-modal-component .vano-modal-body .vano-modal-body-wrapper {
    width: 590px;
    max-width: calc(100% - 2.5rem);
    .modal-edit-step-wrapper {
      padding: 2rem 1.25rem;
    }
    .edit-buttons-wrapper {
      display: flex;
      vano-button {
        width: 100%;
        &:nth-child(2) {
          margin-left: 1rem;
        }
      }
    }
  }
  .service-details-wrapper {
    width: 590px;
    max-width: calc(100% - 2.5rem);
    vano-card {
      .vano-card-component {
        padding: 1.25rem;
        .form-helper-text {
          font-size: .75rem;
          color: #a8b6bd;
          font-weight: 100;
          margin-top: -.5rem;
          margin-bottom: 1rem;
        }
        .section-divider-title {
          display: flex;
          align-items: center;
          margin: 1rem 0;
          .title-text {
            font-size: .8375rem;
            font-weight: 600;
            color: $vano-light-font-color;
            text-transform: uppercase;
          }
          .title-line {
            margin-left: 1rem;
            height: 1px;
            display: flex;
            flex: 1;
            background: $primary-border-color;
          }
        }
        .submit-btns {
          display: flex;
          margin-top: 1rem;
          vano-button {
            width: 100%;
            &.left {
              margin-left: 1rem;
            }
          }
        }
        .service-step-item {
          display: flex;
          box-shadow: $primary-box-shadow;
          background: $white;
          margin: .5rem 0;
          min-height: 70px;
          border: $primary-border;
          align-items: center;
          justify-content: space-between;
          .service-step-item--section {
            display: flex;
            &.info {
              width: 175px;
              border-right: $primary-border;
              height: 50px;
              align-items: center;
              padding-left: 1.24rem;
            }
            &.length {
              width: 75px;
              padding-left: 1.24rem;
            }
            &.action {
              flex :1;
              justify-content: flex-end;
              align-items: center;
              .service-step-item-actions {
                display: none;
              }
            }
          }
          .service-step-item-name {
            font-size: .875rem;
          }
          .service-step-item-edit {
            min-width: 50px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: $primary-border;
            cursor: pointer;
            .vano-pencil-component {
              svg {
                height: 15px;
              }
            }
          }
          .service-step-item-delete {
            min-width: 50px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .service-step-item-is-gap {
            font-size: .75rem;
            color: #b1c4d4;
          }
          .service-step-item-length{
            font-size: .75rem;
            color: $blue;
            .text {
              font-weight: 600;
              font-size: .875rem;
              text-align: center;
            }
            .label {
              font-size: .75rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .service-details-v2-component {
    .service-details-wrapper {
      vano-card {
        .vano-card-component {
          .service-step-item {
            flex-direction: column-reverse;
            height: 100px;
            justify-content: center;
            .service-step-item--section {
              &.action {
                display: flex;
                flex: 1;
                position: relative;
                width: 100%;
                height: 20px;
                .service-step-item-actions {
                  display: flex;
                  position: absolute;
                  height: 50px;
                  width: 50px;
                  top: 0;
                  right: 1rem;
                  justify-content: center;
                  cursor: pointer;
                }
                .circle-dot {
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  background: #b1c4d4;
                  margin: 0 .1rem;
                }
                .service-step-item-delete {
                  display: none;
                }
                .service-step-item-edit {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    
  }
}
