<template>
  <require from="./service-details-v2.css"></require>
  <require from="../../components/vano-title/vano-title"></require>
  <require from="../../components/vano-card/vano-card"></require>
  <require from="../../components/vano-button/vano-button"></require>
  <require from="../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
  <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../components/vano-forms/vano-toggle/vano-toggle"></require>
  <require from="../../components/vano-modal/vano-modal"></require>

  <div class="service-details-v2-component au-animate">
    <vano-modal id.one-way="edit-step-id" opened.two-way="modalOpened">
      <div class="modal-edit-step-wrapper">
          <div class="section-divider-title">
              <div class="title-text">Edit ${editingStepName}</div>
              <div class="title-line"></div>
            </div>
            <div class="add-service-step-form-wrapper">
              <vano-input-group>
                <vano-label>Step Name</vano-label>
                <vano-input value.two-way="editingStepName & validate"></vano-input>
              </vano-input-group>
              <vano-input-group>
                <vano-label>Step Length (in minutes)</vano-label>
                <vano-input type="tel" pattern="[0-9.]+" value.two-way="editingStepLength & validate"></vano-input>
              </vano-input-group>
              <vano-input-group>
                <vano-label>Allow Booking</vano-label>
                <p class="form-helper-text">Allow your clients to book during this step.</p>
                <vano-toggle checked.two-way="editingStepGap"></vano-toggle>
              </vano-input-group>
              <div class="edit-buttons-wrapper">
                  <vano-button class="add-step-btn" color="grey" click.delegate="updateStep()">Update Step</vano-button>
                  <vano-button class="add-step-btn" color="danger" click.delegate="removeStep(editingStepId)">Delete Step</vano-button>
              </div>
            </div>
      </div>
    </vano-modal>
    <div class="service-details-wrapper">
      <vano-title title="Update Service" sub-title="Add multiple steps to your services."></vano-title>
      <div class="add-advanced-service-form-wrapper">
        <form>
          <vano-card class="service-options-card">
            <div class="vano-first-step-wrapper">
              <div class="section-divider-title">
                <div class="title-text">Service Information</div>
                <div class="title-line"></div>
              </div>
              <vano-input-group>
                <vano-label>Service Name</vano-label>
                <vano-input value.two-way="serviceName & validate"></vano-input>
              </vano-input-group>
              <vano-input-group>
                <vano-label>Service Description</vano-label>
                <vano-textarea value.two-way="serviceDescription & validate"></vano-textarea>
              </vano-input-group>
              <vano-input-group if.bind="!steps || steps.length === 0">
                  <vano-label>Service Length (in minutes)</vano-label>
                  <vano-input value.two-way="serviceLength & validate"></vano-input>
              </vano-input-group>
              <vano-input-group>
                <vano-label>Service Price</vano-label>
                <vano-input value.two-way="servicePrice & validate" class="price-input"></vano-input>
              </vano-input-group>
              <vano-input-group>
                <vano-label>Require Consultation</vano-label>
                <p class="form-helper-text">Require your clients to call in for a consultation before being able to book this service.</p>
                <vano-toggle checked.two-way="requiresConsultation"></vano-toggle>
              </vano-input-group>
            </div>
            <div class="vano-second-step-wrapper" if.bind="service.steps.length > 0">
              <div class="add-steps--section">
                <div class="section-divider-title">
                  <div class="title-text">Add Steps</div>
                  <div class="title-line"></div>
                </div>
                <div class="add-service-step-form-wrapper">
                  <vano-input-group>
                    <vano-label>Step Name</vano-label>
                    <vano-input value.two-way="stepName & validate"></vano-input>
                  </vano-input-group>
                  <vano-input-group>
                    <vano-label>Step Length (in minutes)</vano-label>
                    <vano-input type="tel" pattern="[0-9.]+" value.two-way="stepLength & validate"></vano-input>
                  </vano-input-group>
                  <vano-input-group>
                    <vano-label>Allow Booking</vano-label>
                    <p class="form-helper-text">Allow your clients to book during this step.</p>
                    <vano-toggle checked.two-way="stepIsGap"></vano-toggle>
                  </vano-input-group>
                  <vano-button class="add-step-btn" color="grey" click.delegate="addStep()">Add Step</vano-button>
                </div>
              </div>
              <div class="added-steps--section" if.bind="steps.length !== 0">
                <div class="section-divider-title">
                  <div class="title-text">Service Steps</div>
                  <div class="title-line"></div>
                </div>
                <div class="service-steps-wrapper">
                  <div class="service-step-item" repeat.for="step of steps">
                    <div style="display: flex; align-items: center;">
                      <div class="service-step-item--section info">
                        <div>
                          <div class="service-step-item-name">
                            ${step.name}
                          </div>
                          <div class="service-step-item-is-gap">
                            <span if.bind="!step.is_gap">Booking is NOT allowed</span>
                            <span if.bind="step.is_gap">Booking allowed</span>
                          </div>
                        </div>
                      </div>
                      <div class="service-step-item--section length">
                        <div class="service-step-item-length">
                          <div>
                            <div class="text">
                              ${step.length}
                            </div>
                            <div class="label">
                              Minutes
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="display: flex; width: 100%;">
                      <div class="service-step-item--section action">
                        <div class="service-step-item-actions" click.delegate="edit(step)">
                          <div class="circle-dot"></div>
                          <div class="circle-dot"></div>
                          <div class="circle-dot"></div>
                        </div>
                        <div class="service-step-item-edit" click.delegate="edit(step)">
                          <vano-pencil></vano-pencil>
                        </div>
                        <div class="service-step-item-delete" click.delegate="removeStep(step.id)">
                          <vano-close size="small" color="red"></vano-close>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="no-service-steps" if.bind="steps.length === 0">No service steps yet.</div>
                </div>
              </div>

            </div>
            <div class="submit-btns">
                <vano-button loading.one-way="isFetching" color="primary" click.delegate="validate()">Update</vano-button>
                <vano-button class="left" color="danger" click.delegate="delete()">Delete</vano-button>
            </div>
          </vano-card>
        </form>
      </div>
    </div>
</template>
