@import '../../styles/new-variables';

.add-service-component {
    .price-input {
        background: $vano-input-bg-color;
        height: 45px;
        // width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 2px;
        outline: none;
        color: $vano-input-color;
        font-size: $vano-placeholder-size;
        padding-left: 1.25rem;
        font-family: $primary-font-family;
    }
    .price-input::placeholder {
            color: $vano-input-color;
            font-size: $vano-placeholder-size;
            font-family: $primary-font-family;
    }
    vano-textarea {
        .vano-textarea-component {
            textarea {
                height: 8px;
            }
        }
    }
    .require-phone-call-input-group {
      p {
        font-weight: 200;
        font-size: .7rem;
        margin-top: -.5rem;
        margin-bottom: .7rem;
      }
    }
}
