<template>
  <require from="./vano-permission-card.css"></require>
  <require from="../vano-checkbox/vano-checkbox"></require>

  <div class="vano-permission-card-component">
    <div class="vano-permission-card-component--section checkbox">
        <vano-checkbox checked.two-way="checked"></vano-checkbox>
    </div>
    <div class="vano-permission-card-component--section details">
        <h3 class="title">${title}</h3>
        <p class="description">${description}</p>
    </div>
  </div>
</template>