@import '../../styles/new-variables';

.vano-permission-card-component {
    display: flex;
    .vano-permission-card-component--section {
        display: flex;
        flex-direction: column;
        &.details {
            margin-left: 1rem;
            .title {
                color: $primary-font-color;
                font-size: .85rem;
            }
            .description {
                color: $vano-light-font-color;
                font-size: .65rem;
            }
        }
    }
}