<template>
    <require from="./vano-button.css"></require>

    <div class="vano-button-component" class.bind="loading ? 'loading': ''">
        <button 
          disabled.bind="disabled || loading" 
          class="vano-button ${color} ${disabled ? 'disabled': ''}" 
          class.bind="rounded ? 'rounded': ''">
            <slot></slot>
            <i if.bind="loading" class="material-icons loading-icon">autorenew</i>
        </button>
    </div>
</template>
