@import '../../styles/new-variables';

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.vano-button-component{
    .vano-button {
        border: none;
        box-shadow: $primary-box-shadow;
        width: 100%;
        height: 47px;
        font-family: $primary-font-family;
        color: $white;
        font-size: .8125rem;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        .loading-icon{
            font-size: 1.1rem;
            margin-left: .3rem;
            animation: spin .7s infinite;
        }
        &.disabled {
          opacity: .8;
        }
        &.rounded {
            border-radius: 4px;
        }
        &.primary {
            background: $blue;
            box-shadow: $vano-blue-box-shadow;
        }
        &.danger {
            background: $red;
            box-shadow: $vano-red-box-shadow;
        }
        &.success {
            background: $green;
            box-shadow: $vano-green-box-shadow;
        }
        &.faded-blue {
            border: solid 1px $blue;
            color: $blue;
            background: #D5E2F9;
        }
        &.white {
            background: $white;
            border: solid 1px $vano-light-font-color;
            color: $vano-light-font-color;
        }
        &.open-blue {
            background: $white;
            border: solid 1px $blue;
            color: $primary-font-color;
            border-radius: 4px;
        }
        &.grey {
          background: #4E5064;
          border: solid 1px #4E5064;
          color: $white;
      }
    }
}
