@import "../../../styles/variables.scss";

.analytics-component {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  .analytics-component-wrapper {
    width: 660px;
    max-width: calc(100% - 2.50rem);
    .sales-feed-wrapper {
      margin-top: 1rem;
    }
    .quick-analytics-item {
      margin-top: 1rem;
      width: 100%;
    }
    .analytics-quick-analytics-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .services-breakdown-graphs-wrapper {
      margin-top: 1rem;
    }
    .services-breakdown-graph--service-revenue {
      margin-top: 1rem;
    }
  }
}

@media (min-width: 680px) {
  .analytics-component {
    .analytics-component-wrapper {
      .quick-analytics-item{
        width: 325px;
        &:nth-child(even) {
          margin-left: .6rem;
        }
      }
      .services-breakdown-graphs-wrapper {
        display: flex;
        justify-content: space-between;
        .services-breakdown-graph {
          width: 325px;
          &:nth-child(2) {
            margin-left: .6rem;
          }
        }
      }
      .services-breakdown-graph--service-revenue {
        margin-top: 0;
      }
    }
  }
}
