<template>
    <require from="./appointment-details.css" as="scoped"></require>
    <require from="../../filters/filters"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-card/vano-card"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>
    <require from="../../components/vano-appointment-selected-services/vano-appointment-selected-services"></require>
    <require from="../../components/vano-appointment-selected-services/vano-appointment-selected-service/vano-appointment-selected-service"></require>

    <div class="appointment-details-component au-animate">
        <vano-canvas-layout title="Appointment Details" router.one-way="router" route.one-way="getBackRouteURL()">
            <div slot="body">
                <form 
                    submit.trigger="validate()" 
                    keyup.trigger="handleKeyup($event)">
                    <vano-input-group>
                      <vano-label>Professionals</vano-label>
                      <vano-card>
                        ${professionalName}
                      </vano-card>
                    </vano-input-group>
                    <vano-input-group >
                        <vano-label>Client</vano-label>
                        <vano-search-dropdown 
                            options.one-way="customerOptions" 
                            selected.two-way="customerSelected & validate" 
                            placeholder="Select client"
                            click.delegate="removeError('customerSelected')"
                            search.two-way="customerSearchQuery"
                            filterable.one-time="false">
                        </vano-search-dropdown>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Services</vano-label>
                        <vano-search-dropdown 
                            options.bind="serviceOptions" 
                            selected.two-way="serviceSelected" 
                            multi="true"
                            placeholder.one-way="servicesSearchPlaceholder"
                            value.bind="servicesSelected & validate"
                            click.delegate="removeError('servicesSelected')">
                        </vano-search-dropdown>
                        <div class="selected-services-wrapper">
                            <vano-appointment-selected-services>
                                <vano-appointment-selected-service
                                    repeat.for="s of servicesSelected"
                                    service.one-way="s">
                                </vano-appointment-selected-service>
                            </vano-appointment-selected-services>
                        </div>
                    </vano-input-group>
                    <vano-input-group multi="true">
                        <vano-input-group>
                            <vano-label>Date</vano-label>
                            <vano-input 
                                type="date" 
                                placeholder="MM/DD/YYYY" 
                                value.two-way="stringDate & validate"
                                click.delegate="removeError('stringDate')">
                            </vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Time</vano-label>
                            <vano-select 
                                disabled.one-way="timeDisabled"
                                options.one-way="timeOptions"
                                selected.two-way="selectedTime & validate"
                                click.delegate="removeError('selectedTime')"
                                class.bind="timeDisabled ? 'disabled': ''">
                            </vano-select>
                        </vano-input-group>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Appointment Notes</vano-label>
                        <vano-textarea placeholder="These are personal notes. The client will not see them" value.two-way="notes"></vano-textarea>
                    </vano-input-group>
                    <vano-input-group if.bind="feature.require_credit_card && company.merchant_integrated" click.delegate="goToNoShow()">
                      <p class="appointment-no-show">No Show</p>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <div class="double-buttons">
                    <vano-button click.delegate="validate()" color="primary" rounded="false">Update</vano-button>
                    <vano-button click.delegate="cancelAppointment()" color="danger" rounded="false">Cancel</vano-button>
                </div>
            </div>
        </vano-canvas-layout>
    </div>
</template>
