@import '../../styles/new-variables.scss';

.appointment-details-component {
    vano-card {
      .vano-card-component {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 1.25rem;
      }
    }
    .double-buttons {
        display: flex;
        justify-content: space-between;
        margin: 0 -.5rem;
        margin-top: -1rem;
        vano-button {
            width: 100%;
            margin: 0 .5rem;
            .vano-button-component {
                margin-top: 1rem;
            }
        }
    }
    .appointment-no-show {
      text-decoration: underline;
      color: $vano-form-red;
      font-size: .75rem;
      font-weight: 700;
      cursor: pointer;
    }
}
