<template>
    <require from="./add-appointment.css" as="scoped"></require>
    <require from="../../filters/filters"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-forms/vano-toggle/vano-toggle"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>
    <require from="../../components/vano-appointment-selected-services/vano-appointment-selected-services"></require>
    <require from="../../components/vano-appointment-selected-services/vano-appointment-selected-service/vano-appointment-selected-service"></require>

    <div class="add-appointment-component au-animate">
        <vano-canvas-layout title="New Appointment" router.bind="router" route.one-way="getBackRouteURL()">
            <div slot="body">
                <form submit.trigger="validate()" keyup.trigger="handleKeyup($event)">
                    <vano-input-group>
                        <vano-label>Client</vano-label>
                        <vano-search-dropdown 
                          options.bind="customerOptions" 
                          selected.two-way="customerSelected & validate"
                          placeholder="Select client"
                          click.delegate="removeError('customerSelected')"
                          search.two-way="customerSearchQuery"
                          filterable.one-time="false">
                        </vano-search-dropdown>
                        <div class="add-appointment-new-customer-wrapper" click.delegate="createNewClient()">
                          <p>Create new client</p>
                        </div>
                    </vano-input-group>
                    <vano-input-group if.bind="authProfessional.permission.manage_appointments && professionals.length > 1">
                        <vano-label>Professional</vano-label>
                        <vano-search-dropdown 
                          options.one-way="professionalOpts" 
                          selected.two-way="professionalSelected & validate" 
                          placeholder="Select professional"
                          click.delegate="removeError('professionalSelected')">
                        </vano-search-dropdown>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label if.bind="professionalSelected.length > 0">Services</vano-label>
                        <vano-label if.bind="!professionalSelected">Services (must select professional first)</vano-label>
                        <vano-search-dropdown 
                          options.one-way="serviceOptions" 
                          selected.two-way="serviceSelected" 
                          multi="true" 
                          placeholder.one-way="servicesSearchPlaceholder"
                          value.bind="servicesSelected & validate" 
                          click.delegate="removeError('servicesSelected')">
                        </vano-search-dropdown>
                        <div class="selected-services-wrapper">
                            <vano-appointment-selected-services>
                                <vano-appointment-selected-service repeat.for="s of servicesSelected" service.one-way="s">
                                </vano-appointment-selected-service>
                            </vano-appointment-selected-services>
                        </div>
                    </vano-input-group>
                    <vano-input-group multi="true">
                        <vano-input-group>
                            <vano-label>Date</vano-label>
                            <vano-input type="date" placeholder="MM/DD/YYYY" value.two-way="stringDate & validate" click.delegate="removeError('stringDate')">
                            </vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Time <span if.bind="servicesSelected.length === 0">(must select valid service first)</span></vano-label>
                            <vano-select disabled.one-way="timeDisabled" if.bind="hasAvailableTimes" options.one-way="timeOptions" selected.two-way="selectedTime & validate" click.delegate="removeError('selectedTime')"
                                class.bind="timeDisabled ? 'disabled': ''">
                            </vano-select>
                            <vano-input if.bind="!hasAvailableTimes" value="No available times"></vano-input>
                        </vano-input-group>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Appointment Notes</vano-label>
                        <vano-textarea placeholder="These are personal notes. The client will not see them" value.two-way="notes"></vano-textarea>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <vano-button click.delegate="validate()" loading.one-way="isFetching" color="primary" rounded="false">Add Appointment</vano-button>
            </div>
        </vano-canvas-layout>
    </div>
</template>
