@import '../../styles/new-variables';

.add-appointment-component {
    .right-canvas-header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      vano-toggle {
        margin-top: .5rem;
      }
    }
    .add-appointment-new-customer-wrapper {
      margin-top: .5rem;
      cursor: pointer;
      p {
        font-weight: 700;
        color: $green;
        font-size: .75rem;
        text-decoration: underline;
      }
    }
}
