.appointments-component{
  max-height: calc(100vh - 80px);
  overflow: hidden;
  background: #f7f8f9;
    vano-appointments-header {
    }
    vano-title {
        display: none;
    }
    .appointments-component-wrapper {
      max-height: calc(100vh - 80px);
      overflow: hidden;
      .vano-calendar-component {
        max-height: calc(100vh - 80px);
        overflow: hidden;
        &.day {
          transform: translateX(105vw);
          position: fixed;
        }
      }
    }
    .upcoming-appointments {
        padding: 0 20px;
        margin-top: 1rem;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // flex: 1;
        vano-info-card {
            .vano-info-card-component {
                margin: .7rem 0;
            }
        }
    }
    .agenda-upcoming-appointments {
        padding: 0 20px;
        margin-top: 1rem;
        vano-info-card {
            .vano-info-card-component {
                margin: .7rem 0;
            }
        }
    }
}

@media (min-width: 960px) {
    .appointments-component {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        vano-appointments-header {
            width: 100%;
        }
        .appointments-component-wrapper {
          width: 100%;
        }
    }
}
