<template>
    <require from="./appointments.css"></require>
    <require from="../../components/vano-appointments-header/vano-appointments-header"></require>
    <require from="../../components/vano-title/vano-title"></require>
    <require from="./professionals-calendar/professionals-calendar"></require>
    <require from="./admin-calendar/admin-calendar"></require>

    <div class="appointments-component au-animate">
        <!-- <vano-appointments-header selected.two-way="selectedDisplay">
        </vano-appointments-header> -->
        <div class="appointments-component-wrapper">
            <professionals-calendar
              if.bind="!authProfessional.permission.manage_appointments"
              events.one-way="events"
              upcoming-events.one-way="upcomingEvents"
              selected-display.one-way="selectedDisplay"
              event-data-loaded.one-way="dataLoaded"
              upcoming-event-data-loaded.one-way="upcomingDataLoaded"
              router.one-way="router">
            </professionals-calendar>
            <admin-calendar
              if.bind="authProfessional.permission.manage_appointments"
              events.one-way="companyEvents"
              upcoming-events.one-way="companyUpcomingEvents"
              selected-display.one-way="selectedDisplay"
              event-data-loaded.one-way="companyDataLoaded"
              upcoming-event-data-loaded.one-way="companyUpcomingDataLoaded"
              router.one-way="router"
              professionals.one-way="professionals"
              selected-professional.two-way="selectedProfessional">
            </admin-calendar>
        </div>
    </div>
</template>
