@import '../../styles/new-variables.scss';

.vano-checkout-card-component{
    background: $white;
    box-shadow: $primary-box-shadow;
    border-bottom: $primary-border;
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: 200px;
    &.center {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    &.blue {
        border-bottom: 2px solid $blue;
        box-shadow: $vano-bottom-blue-box-shadow;
    }
    &.red {
        border-bottom: 2px solid $red;
        box-shadow: $vano-bottom-red-box-shadow;
    }
    &.green {
        border-bottom: 2px solid $green;
        box-shadow: $vano-bottom-green-box-shadow;
    }
    .icon {
        i {
            font-size: 5rem;
            color: $icon-grey;
            font-weight: 500;
            &.icon-calendar {
                font-size: 7rem;
            }
        }
    }
    .title {
        padding-bottom: 40px;
        h2 {
            font-size: 1rem;
            color: $primary-font-color;
            font-family: $primary-font-family;
            font-weight: 600;
        }
    }
}