<template>
    <require from="./vano-checkout-card.css"></require>
    <require from="../vano-icons/vano-shopping-cart/vano-shopping-cart"></require>
    <require from="../vano-icons/vano-calendar/vano-calendar"></require>

    <div class="vano-checkout-card-component ${color}" class.bind="center ? 'center': ''">
        <div class="spacing">
        </div>
        <div class="icon">
            <vano-shopping-cart if.bind="icon === 'icon-shopping-cart'"></vano-shopping-cart>
            <vano-calendar if.bind="icon === 'icon-calendar'"></vano-calendar>
        </div>
        <div class="title">
            <h2>${title}</h2>
        </div>
    </div>
</template>
