<template>
  <require from="./vano-amex-card.css"></require>

  <div class="vano-amex-card-component">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="225px" height="225px" viewBox="0 0 225 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
          <title>18</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="18" fill="#D1D8DE">
                  <g id="Group-2" transform="translate(42.000000, 66.000000)">
                      <g id="if_Sed-28_2200540">
                          <g id="Icons">
                              <g id="Group">
                                  <path d="M90.612396,38.4371325 L90.612396,43.5409725 L105.139452,43.5409725 C105.139452,43.5409725 105.473424,49.1999295 105.139452,49.1999295 L90.612396,49.1999295 L90.612396,54.7479375 L106.809405,54.7479375 L114.657209,46.5928605 L107.143097,38.437179 L90.612396,38.437179 L90.612396,38.4371325 Z" id="Shape"></path>
                                  <polygon id="Shape" points="18.9767446 48.5164725 27.9512083 48.5164725 23.4641164 37.862997"></polygon>
                                  <path d="M130.406699,0.2667705 L11.593301,0.2667705 C5.40206117,0.2667705 0.365704615,5.286864 0.365704615,11.455833 L0.365704615,81.5418885 C0.365704615,87.713136 5.40206117,92.7332295 11.593301,92.7332295 L130.406652,92.7332295 C136.597892,92.7332295 141.634249,87.713136 141.634249,81.5418885 L141.634249,11.455833 C141.634249,5.286864 136.597892,0.2667705 130.406699,0.2667705 L130.406699,0.2667705 Z M134.861602,60.1406355 L126.902443,60.1406355 L118.775901,51.308379 L110.48277,60.1406355 L84.0444522,60.1406355 L84.0444522,32.858481 L110.816742,32.858481 L118.887489,41.8766445 L127.236415,32.858481 L135.084499,32.858481 L123.006135,46.4993955 L134.861602,60.1406355 L134.861602,60.1406355 Z M28.4167817,32.8585275 L39.7130012,58.512717 L39.7130012,32.8585275 L50.6883109,32.8585275 L59.2245851,51.411702 L67.3758983,32.8585275 L77.965967,32.8585275 L77.965967,60.1122705 L71.4834406,60.1122705 L71.4834406,39.0002475 C71.4834406,39.0002475 62.5619254,60.048147 62.1125864,60.1122705 C61.6632941,60.175836 55.8871983,60.1122705 55.8871983,60.1122705 L46.3882414,38.8081095 L46.3882414,60.140682 L32.9098449,60.140682 L30.3421003,54.290424 L16.3506401,54.290424 L14.1040851,60.140682 L6.91573452,60.112317 L18.7252976,32.858574 L28.4167817,32.858574 L28.4167817,32.8585275 Z" id="Shape"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
  </div>
</template>
