<template>
  <require from="./vano-step-indicator.css"></require>

  <div class="vano-step-indicator-component" class.bind="progress ? 'progress': ''">
    <div class="vano-step-indicator-wrapper">
        <div 
            repeat.for="i of 6"
            class="vano-step-indicator ${color}"
            class.bind="$index == active ? 'active': ''"
            if.bind="$index < length">
        </div>
    </div>
  </div>
</template>