@import '../../styles/new-variables';

.vano-step-indicator-component{
    width: 100%;
    display: flex;
    justify-content: center;
    .vano-step-indicator-wrapper {
        display: flex;
        .vano-step-indicator{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $vano-step-indicator-color;
            margin: 0 .35rem;
            &.active {
                background: $blue;
                box-shadow: $vano-blue-box-shadow;
                &.red {
                    background: $red;
                    box-shadow: $vano-red-box-shadow;
                }
            }
        }
    }
}