<template>
    <require from="./vano-float-button.css"></require>
    <require from="../vano-icons/vano-plus/vano-plus"></require>

    <div class="vano-float-button-component ${position}">
        <button class="vano-float-button ${color}" id="vano-float-button">
             <vano-plus></vano-plus>
        </button>
    </div>
</template>
