@import '../../styles/new-variables.scss';

.vano-float-button-component{
    z-index: 51;
    position: fixed;
    cursor: pointer;
    &.bottom-right {
        right: 24px;
        bottom: 24px;
    }
    .vano-float-button {
        height: 56px;
        width: 56px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        background: $blue;
        border: none;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        i {
            font-size: 1.3rem;
        }
    }
}
