@import '../../../styles/new-variables';

.vano-input-group-component {
    margin: 1rem 0;
    width: 100%;
    &.multi {
        display: flex;
        vano-input-group {
            width: 100%;
            .vano-input-group-component {
                margin: 0;
                width: auto;
            }
        }
        vano-input-group:nth-child(2) {
            .vano-input-group-component {
                margin-left: 1rem;
            }
        }
    }
    &.has-error {
        input, select, textarea {
            background: $vano-form-faded-red;
            color: $vano-form-red;
            border: solid 1px $vano-form-red;
        }
        .vano-validation-message {
            font-size: .6rem;
            color: $vano-form-red;
        }
    }
    .vano-label-component {
        margin-bottom: .75rem;
    }
}
