.checkout-express-component {
    vano-title {
        display: none;
    }
    .sb-btn {
        max-width: 318px;
        width: 100%;
    }
    vano-card {
        .vano-card-component {
            padding: 1rem 1.35rem 1.55rem 1.35rem;
        }
    }
}

@media (min-width: 960px) {
    .checkout-express-component {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        vano-title {
            display: inline;
        }
    }
}