<template>
    <require from="./express.css"></require>
    <require from="../../../components/vano-dial-pad/vano-dial-pad"></require>
    <require from="../../../components/vano-title/vano-title"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-title/vano-title"></require>
    <require from="../../../components/vano-button/vano-button"></require>
    <require from="../../../components/vano-card/vano-card"></require>
    <require from="../../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../../components/vano-forms/vano-cc-input/vano-cc-input"></require>
    <require from="../../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../../components/vano-cc-card/vano-cc-card"></require>

    <div class="checkout-express-component">
        <vano-title title="Express Checkout" if.bind="!displayDialpad" sub-title="Enter your payment information."></vano-title>
        <vano-title title="Express Checkout" if.bind="displayDialpad" sub-title="Enter your total and confirm to checkout."></vano-title>
        <vano-dial-pad 
            amount.two-way="total" 
            if.bind="displayDialpad"
            loading.one-way="isFetching">
        </vano-dial-pad>
        <div class="create-card-wrapper" if.bind="!displayDialpad">
            <vano-component-label title="Payment Information">
            </vano-component-label>
            <vano-card>
                <form>
                    <vano-input-group>
                        <vano-label>Credit Card Number</vano-label>
                        <vano-cc-input value.two-way="cardNumber & validate"></vano-cc-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Name on Card</vano-label>
                        <vano-input value.two-way="cardHolder & validate" placeholder="Name on Card">
                        </vano-input>
                    </vano-input-group>
                    <vano-input-group multi="true">
                        <vano-input-group>
                            <vano-label>Exp</vano-label>
                            <vano-input value.two-way="cardExp & validate" mask="99 / 99" placeholder="MM/YY"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>CVC</vano-label>
                            <vano-input value.two-way="cardCvv & validate" limit="4" placeholder="CVV"></vano-input>
                        </vano-input-group>
                    </vano-input-group>
                    <vano-button  click.delegate="validate()" type="submit" color="primary">Submit</vano-button>
                </form>
            </vano-card>
        </div>
    </div>
</template>
