<template>
  <require from="./vano-work-hours-card.css"></require>
  <require from="../../components/vano-forms/vano-range-date-picker/vano-range-date-picker"></require>
  <require from="../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../components/vano-no-results-card/vano-no-results-card"></require>
  <require from="../../filters/filters"></require>

  <div class="vano-work-hours-card-component">
    <div class="vano-work-hours-card-header">
      <div class="vano-work-hours-card-header--section vano-work-hours-card-header--section__info">
        <h1>Work Hours</h1>
        <vano-range-date-picker></vano-range-date-picker>
      </div>
      <div class="vano-work-hours-card-header--section vano-work-hours-card-header--section__results">
          <svg width="31px" height="36px" viewBox="0 0 31 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="01.2_Analytics-(timer)" transform="translate(-879.000000, -331.000000)">
                    <g id="Group-4" transform="translate(879.000000, 331.000000)">
                        <path d="M27.0268333,10.2822857 C29.48875,13.014 31,16.6122857 31,20.5714286 C31,29.0922857 24.0603056,36 15.5,36 C6.93969444,36 0,29.0922857 0,20.5714286 C0,12.9282857 5.58861111,6.60085714 12.9166667,5.37428571 L12.9166667,1.71428571 L11.1944444,1.71428571 C10.71825,1.71428571 10.3333333,1.33028571 10.3333333,0.857142857 C10.3333333,0.384 10.71825,0 11.1944444,0 L19.8055556,0 C20.28175,0 20.6666667,0.384 20.6666667,0.857142857 C20.6666667,1.33028571 20.28175,1.71428571 19.8055556,1.71428571 L18.0833333,1.71428571 L18.0833333,5.37 C21.0343611,5.868 23.7012222,7.19057143 25.8376389,9.09857143 L27.8431667,7.10228571 C28.17125,6.77571429 28.7034167,6.77571429 29.0323611,7.10228571 C29.3604444,7.42885714 29.3604444,7.95942857 29.0323611,8.286 L27.0268333,10.2822857 L27.0268333,10.2822857 Z M16.3611111,1.71428571 L14.6388889,1.71428571 L14.6388889,5.18657143 C14.9256389,5.17028571 15.2089444,5.14285714 15.5,5.14285714 C15.7910556,5.14285714 16.0743611,5.16771429 16.3611111,5.18314286 L16.3611111,1.71428571 L16.3611111,1.71428571 Z M15.5,6.85714286 C7.89122222,6.85714286 1.72222222,12.9968571 1.72222222,20.5714286 C1.72222222,28.146 7.89122222,34.2857143 15.5,34.2857143 C23.1096389,34.2857143 29.2777778,28.146 29.2777778,20.5714286 C29.2777778,12.9977143 23.1096389,6.85714286 15.5,6.85714286 L15.5,6.85714286 Z" id="Shape" fill="#B0C4D4"></path>
                        <path d="M14.7506458,24.1426429 C12.8484514,24.1426429 11.3062014,22.6075 11.3062014,20.7140714 C11.3062014,20.0720714 11.4947847,19.4780714 11.8039236,18.9646429 L7.2460625,14.4286429 C6.91797917,14.1020714 6.91797917,13.5715 7.2460625,13.2449286 C7.57500694,12.9183571 8.10717361,12.9183571 8.43525694,13.2449286 L12.9931181,17.7809286 C13.5097847,17.4732143 14.1056736,17.2855 14.7506458,17.2855 C16.6528403,17.2855 18.1950903,18.8206429 18.1950903,20.7140714 C18.1950903,22.6075 16.6528403,24.1426429 14.7506458,24.1426429 Z M14.7506458,18.9997857 C13.7999792,18.9997857 13.0284236,19.7677857 13.0284236,20.7140714 C13.0284236,21.6603571 13.7999792,22.4283571 14.7506458,22.4283571 C15.7013125,22.4283571 16.4728681,21.6603571 16.4728681,20.7140714 C16.4728681,19.7677857 15.7013125,18.9997857 14.7506458,18.9997857 Z" id="Combined-Shape" fill="#78DCC9"></path>
                    </g>
                </g>
            </g>
          </svg>
        <h2>${totalHours}</h2>
      </div>
    </div>
    <div class="vano-work-hours-card-header-footer" click.delegate="showBody()">
      <p>Hours breakdown</p><i class="material-icons" class.bind="displayBody ? 'opened': ''">keyboard_arrow_down</i>
    </div>
    <div class="vano-work-hours-card-body" if.bind="displayBody">
      <vano-no-results-card if.bind="sanitizedClockIns.length === 0" text="No work hours"></vano-no-results-card>
      <div class="vano-clock-in-card-component" if.bind="sanitizedClockIns.length > 0" repeat.for="c of sanitizedClockIns">
        <div class="vano-clock-in-card--section vano-clock-in-card--section__date">
          <h1>${c.cloc_in_time | dateFormat:'DD'}</h1>
          <h2>${c.cloc_in_time | dateFormat:'MMMM'}</h2>
        </div>
        <div class="vano-clock-in-card--section vano-clock-in-card--section__info">
          <div class="clock-in">
            <vano-label>Clock In</vano-label>
            <p>${c.cloc_in_time | dateFormat:'h:mm a'}</p>
          </div>
          <div class="clock-out">
              <vano-label>Clock Out</vano-label>
              <p>${c.cloc_out_time | dateFormat:'h:mm a'}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
