@import '../../styles/new-variables';

.vano-work-hours-card-component{
  background: $white;
  box-shadow: $primary-box-shadow;
  padding: 1.25rem 2rem;
  padding-bottom: 0;
  .vano-work-hours-card-header {
    display: flex;
    justify-content: space-between;
    .vano-work-hours-card-header--section {
      &.vano-work-hours-card-header--section__info {
        h1{
          font-size: .9375rem;
          line-height: 1.25rem;
          color: $primary-font-color;
        }
        vano-range-date-picker {
          .vano-range-date-picker-component {
            margin-top: .3rem;
          }
        }
      }
      &.vano-work-hours-card-header--section__results {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          margin-top: .3rem;
          font-size: .9375rem;
        }
      }
    }
  }
  .vano-work-hours-card-header-footer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-top: $primary-border;
    align-items: center;
    padding: 1.25rem 0;
    margin-top: 1.25rem;
    i {
      margin-left: .5rem;
      text-shadow: 2px 2px 4px rgba(106, 155, 250, 0.58);
      color: #4786FF;
      transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
      &.opened {
        transform: rotate(-180deg);
      }
    }
  }
  .vano-work-hours-card-body {
    padding-bottom: 2rem;
  }
}

.vano-clock-in-card-component {
  display: flex;
  flex-direction: column;
  border: $primary-border;
  margin: 1rem 0;
  padding: 1.25rem;
  .vano-clock-in-card--section {
    &.vano-clock-in-card--section__date {
      border-bottom: $primary-border;
      padding-bottom: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        color: $blue;
        font-size: 1.25rem;
        font-weight: bold;
      }
      h2 {
        color: $blue;
        font-size: .75rem;
      }
    }
    &.vano-clock-in-card--section__info {
      display: flex;
      justify-content: space-between;
      padding-top: 1.25rem;
      p {
        font-size: .8375rem;
      }
    }
  }
}

@media (min-width: 620px) {
  .vano-clock-in-card-component {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 50px;
    .vano-clock-in-card--section {
      &.vano-clock-in-card--section__date {
        border-left: $primary-border;
        border-bottom: none;
        padding: 1.25rem;
        padding-right: 0;
        justify-content: center;
      }
      &.vano-clock-in-card--section__info {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding-right: 1.25rem; 
      }
    }
  }
}
