<template>
  <require from="./vano-hour-display-card.css"></require>
  <require from="../vano-forms/vano-input/vano-input"></require>
  <require from="../vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../vano-forms/vano-toggle/vano-toggle"></require>

  <div class="vano-hour-display-card-component">
    <div class="vano-hour-display-card--section date">
      ${date}
    </div>
    <div class="vano-hour-display-card--section open time">
      <vano-form-group>
        <vano-input type="time" required.one-time="true" value.two-way="openTime"></vano-input>
      </vano-form-group>
    </div>
    <div class="vano-hour-display-card--section close time">
        <vano-form-group>
            <vano-input type="time" required.one-time="true" value.two-way="closeTime"></vano-input>
        </vano-form-group>
    </div>
    <div class="vano-hour-display-card--section operating">
      <vano-toggle checked.two-way="operating"></vano-toggle>
    </div>
  </div>
</template>
