@import '../../styles/new-variables';

.vano-hour-display-card-component{
  padding: .5rem 0;
  box-shadow: $primary-box-shadow;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: $white;
  .vano-hour-display-card--section {
    margin: 0 .5rem;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    &.date {
      color: $primary-font-color;
      font-size: .75rem;
    }
  }
}
