@import '../../styles/new-variables';

.add-professional-component{
  .independent-sp-input-group {
    p {
      font-weight: 200;
      font-size: .7rem;
      margin-top: -.5rem;
      margin-bottom: .7rem;
    }
  }
}
