<template>
        <require from="./add-professional.css" as="scoped"></require>
        <require from="../../filters/filters"></require>
        <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
        <require from="../../components/vano-forms/vano-label/vano-label"></require>
        <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
        <require from="../../components/vano-forms/vano-input/vano-input"></require>
        <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
        <require from="../../components/vano-button/vano-button"></require>
        <require from="../../components/vano-forms/vano-toggle/vano-toggle"></require>
        <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>
    
        <div class="add-professional-component au-animate">
            <vano-canvas-layout 
                title="New Professional" 
                router.bind="router">
                <div slot="body">
                    <form 
                        submit.trigger="validate()" 
                        keyup.trigger="handleKeyup($event)">
                        <vano-input-group>
                            <vano-label>First Name</vano-label>
                            <vano-input value.two-way="firstName & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Last Name</vano-label>
                            <vano-input value.two-way="lastName & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Phone Number</vano-label>
                            <vano-input 
                                value.two-way="phoneNumber & validate" 
                                type="tel"
                                mask="(999) 999-9999">
                            </vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Email Address</vano-label>
                            <vano-input 
                                value.two-way="email & validate" 
                                type="email"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-input 
                                type="hidden"
                                value.two-way="serverError & validate">
                            </vano-input>
                        </vano-input-group>
                        <vano-input-group class="independent-sp-input-group">
                          <vano-label>Independent Professional</vano-label>
                          <p>Turn this on if this professional is an independent that manages their own business.</p>
                          <vano-toggle checked.two-way="independent"></vano-toggle>
                        </vano-input-group>
                    </form>
                </div>
                <div slot="footer">
                    <vano-button 
                        click.delegate="validate()" 
                        color="primary" 
                        rounded="false"
                        loading.one-way="isFetching">
                        Add Professional
                    </vano-button>
                </div>
            </vano-canvas-layout>
        </div>
    </template>
