.checkout-component{
    padding: 20px;
    height: calc(100vh - 120px); // need this for swipe gesture
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    .vano-step-indicator-component {
        margin-top: 2rem;
    }
}

@media (min-width: 960px) {
    .checkout-component{
       padding: 30px;
    }
}