<template>
    <require from="../../components/vano-step-indicator/vano-step-indicator"></require>
    <require from="./checkout.css"></require> 

    <div class="checkout-component au-animate">
        <router-view></router-view>
        <vano-step-indicator
            length.one-way="stepsLength"
            active.one-way="activeStep"
            color="red">
        </vano-step-indicator>
    </div>
</template>