<template>
    <require from="./add-reminder.css" as="scoped"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>

    <div class="add-reminder-component au-animate">
        <vano-canvas-layout title="New Reminder" router.bind="router">
            <div slot="body">
                <form 
                    submit.trigger="validate()"
                    class="submissionForm">
                    <vano-input-group>
                        <vano-label>Title</vano-label>
                        <vano-input value.two-way="title & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group multi="true">
                        <vano-input-group>
                            <vano-label>Date</vano-label>
                            <vano-input type="date" value.two-way="date & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Time</vano-label>
                            <vano-select options.one-way="options" selected.two-way="time & validate" placeholder="Select time"></vano-select>
                        </vano-input-group>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Description</vano-label>
                        <vano-textarea value.two-way="description & validate"></vano-textarea>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <vano-button loading.one-way="isFetching" color="primary" rounded="false" click.delegate="validate()">Add Reminder</vano-button>
            </div>
        </vano-canvas-layout>
    </div>
</template>
