<template>
    <require from="./company.css"></require>
    <require from="../../../components/vano-professionals-accordion/vano-professionals-accordion"></require>
    <require from="../../../components/vano-no-results-card/vano-no-results-card"></require>
    <require from="../../../components/vano-title/vano-title"></require>

    <div class="company-component au-animate">
        <div class="company-component-wrapper">
          <vano-title
              title="Manage Employees"
              sub-title="Click on the three dots to update or delete an employee. Click the arrow to update the professional's permissions.">
          </vano-title>
            <vano-professionals-accordion if.bind="professionals.length > 0" repeat.for="p of professionals" professional.one-way="p" router.one-way="router">
            </vano-professionals-accordion>
            <vano-no-results-card
              if.bind="professionals.length === 0"
              text="No employees to manage">
            </vano-no-results-card>
        </div>
    </div>
</template>
