@import '../../../styles/new-variables';

.company-component{
    display: flex;
    justify-content: center;
    .company-component-wrapper {
        max-width: 620px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        vano-professionals-accordion {
            width: 100%;
            .vano-professionals-accordion-component {
                margin: .5rem 0;  
            }
        }
    }
}

@media (min-width: 1024px) {
    .company-component {
        // padding: 2rem 1.875rem;
    }
}
