<template>
    <require from="./login.css"></require>
    <require from="../../components/vano-card/vano-card"></require>
    <require from="../../components/vano-title/vano-title"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>

    <div class="login-component">
        <div class="login-component-wrapper">
            <div class="logo-wrapper">
                <img src="https://res.cloudinary.com/solabuddy/image/upload/v1506780699/3_bhhss6.png" alt="VANO logo">
            </div>
            <vano-title sub-title="Welcome back. Login so I can assist you.">
            </vano-title>
            <vano-card>
                <div class="login-form-wrapper">
                    <form submit.trigger="validate()">
                        <vano-input-group class="first">
                            <vano-label>Email Address</vano-label>
                            <vano-input type="email" value.two-way="authenticator & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group>
                            <vano-label>Password</vano-label>
                            <vano-input type="password" value.two-way="password & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group class="hidden">
                            <vano-input type="hidden" value.two-way="errMsg & validate"></vano-input>
                        </vano-input-group>
                        <vano-button click.delegate="validate()" loading.one-way="isFetching" color="primary">Login</vano-button>
                    </form>
                </div>
                <div class="forgot-password-wrapper" click.delegate="navigate('forgot.password')">
                    <p>Forgot your Password?</p>
                </div>
            </vano-card>
            <div class="register-wrapper">
                <p>Not a member?&nbsp;<span>Register Now</span></p>
            </div>
        </div>
    </div>
</template>
