<template>
    <require from="./vano-textarea.css"></require>

    <div class="vano-textarea-component">
        <textarea placeholder.bind="placeholder" value.bind="value"></textarea>
    </div>
</template>