@import '../../../styles/new-variables';

.vano-textarea-component {
    display: flex;
    flex: 1;
    width: 100%;
    textarea {
        background: $vano-input-bg-color;
        height: 80px;
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 2px;
        outline: none;
        color: $primary-font-color;
        font-size: $vano-placeholder-size;
        padding: 1.25rem;
    }
    textarea::placeholder {
        color: $vano-input-color;
        font-size: $vano-placeholder-size;
        font-family: $primary-font-family;
    }
}