<template>
  <require from="./vano-range-date-picker.css"></require>

  <div class="vano-range-date-picker-component">
    <input id="${randomID}" placeholder="Select date range">
  </div>
</template>
