
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

@import '../../styles/new-variables';


// Colors
$border-color: #edeeef;
$white: #fff;
$pink: #FC7773;
$grey-blue: #5F7D8C;
$red: #F40842;
$dark-red: #B1052F;
$dark-blue: #2786FF;
$dark-green: #4BA656;
$success-green: #7DD83E;
$blue: #4786FF;
$green: #4BC856;
$orange: #F59D00;
$light-orange: #F3B029;
$faded-blue: #E7F2FF;
$faded-red: #F6E3E7;
$faded-green: #daefdc;
$faded-orange: #f7e5c5;
$black: #45475C;


// Borders
$primary-border: solid 1px $border-color;

// Fonts
$primary-font-color: $black;
$light-font-color: #AFC3D3;
$week-block-height: 48px;

.vano-calendar {
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: $white;
    .vano-month-calendar-wrapper {
        color: $black;
        font-family: 'Lato', sans-serif;
        max-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .vano-month-header {
          display: flex;
          flex: 1;
          border: $primary-border;
          border-right: none;
          .vano-month-header-label {
            display: flex;
            height: 30px;
            min-height: 30px;
            align-items: center;
            flex: 1;
            border-right: $primary-border;
            justify-content: center;
            font-size: .8375rem;
          }
        }
        .vano-month-body {
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }
        .vano-month-row{
            display: flex;
            flex: 1;
            .vano-month-day {
                background: white;
                border-left: $primary-border;
                border-bottom: $primary-border;
                display: flex;
                flex: 1;
                flex-direction: column;
                padding: .25rem;
                min-height: 75px;
                &.vano-today {
                    background: $faded-blue;
                }
                &.vano-other-month {
                  background: #f6f6f6;
                  border-left-color: #eee;
                  border-bottom-color: #eee;
                }
                .vano-month-day-number {
                    height: 20px;
                    font-weight: 400;
                    font-size: .65rem;
                    display: flex;
                    align-items: center;
                }
                .vano-month-day-events {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    .vano-event {
                        height: 15px;
                        font-size: .6rem;
                        // border-radius: 8px;
                        background: #f9f9f9;
                        margin: .05rem;
                        padding:  0 .3rem;
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;
                        align-items: center;
                        color: $primary-font-color;
                        z-index: 1;
                        box-shadow: $primary-box-shadow;
                        cursor: pointer;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                    .vano-more-events {
                        height: 12px;
                        font-size: .65rem;
                        font-weight: 500;
                        color: $light-font-color;
                        margin-top: .25rem;
                        margin-left: .35rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    .vano-week-calendar-wrapper {
        font-family: 'Lato', sans-serif;
        color: $black;
        border: $primary-border;
        max-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .vano-week-header {
            display: flex;
            flex: 1;
            border-bottom: $primary-border;
            background: $white;
            min-height: 80px;
            position: relative;
            .vano-week-header-hour-block-padding {
                width: 50px;
                border-right: $primary-border;
            }
            .vano-week-header-row {
                display: flex;
                flex: 1;
                border-right: $primary-border;
                flex-direction: column;
                position: relative;
                padding: .5rem;
                .vano-header-date-name {
                    font-size: .75rem;
                    color: $black;
                }
                .vano-header-date-number {
                    font-size: 2.5rem;
                    color: $vano-customers-results-font-color;
                }
            }
        }
        .vano-week-body {
            display: flex;
            position: relative;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            .vano-week-hours-wrapper {
                width: 50px;
                .vano-hour-block {
                    height: $week-block-height;
                    border-right: $primary-border;
                    display: flex;
                    justify-content: center;
                    border-bottom: solid 1px transparent;  
                    span {
                        position: relative;
                        top: -.55rem;
                        color: $black;
                        font-size: .75rem;
                    }
                }
            }
            .vano-week-body-wrapper {
                display: flex;
                flex: 1;
                .vano-week-row {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    position: relative;
                    .vano-event {
                        position: absolute;
                        min-width: 42%;
                        max-width: calc(100% - 1.5rem);
                        background: #f9f9f9;
                        font-size: .6rem;
                        // border-radius: 4px;
                        color: $white;
                        z-index: 1;
                        color: $primary-font-color;
                        cursor: pointer;
                        box-shadow: $primary-box-shadow;
                        overflow: hidden;
                        overflow-y: scroll;
                        .vano-event-title {
                          padding: .1rem .25rem;
                        }
                    }
                    .vano-week-row-hour-block {
                        display: flex;
                        flex: 1;
                        min-height: $week-block-height;
                        border-bottom: $primary-border;
                        border-right: $primary-border;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
  .vano-calendar .vano-week-calendar-wrapper .vano-week-header .vano-week-header-row .vano-header-date-number {
    font-size: 1.51rem;
  }
}



@media (min-width: 768px) {
  .vano-calendar {
    .vano-month-calendar-wrapper {
      .vano-month-row {
        .vano-month-day {
          min-height: 100px;
        }
      }
    }
  }
}
