<template>
  <require from="./vano-modal.css"></require>

  <div class="vano-modal-component" class.bind="opened ? 'opened': ''">
    <div class="vano-modal-body">
        <div class="vano-modal-body-wrapper">
          <slot></slot>
        </div>
    </div>
  </div>
</template>
