@import '../../styles/new-variables';

.vano-modal-component{
  display: none;
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  right: 0; 
  bottom: 0; 
  overflow-y: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(24,30,36,0.87);
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  -webkit-overflow-scrolling: touch;
  &.opened {
    display: block;
  }
  .vano-modal-body {
    display: flex;
    justify-content: center;
    .vano-modal-body-wrapper {
      width: 990px;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      box-shadow: 0px 2px 14px 0px rgba(12,17,22,0.50);
      min-height: 50px;
      max-width: calc(100% - 1.25rem);
      background: $white;
      border-radius: .94rem;
    }
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@media (min-width: 768px) {
  .vano-modal-component {
    .vano-modal-body {
      .vano-modal-body-wrapper{
        max-width: calc(100% - 2.5rem);
      }
    }
  }
}

@media (min-width: 1080px) {
  .vano-modal-component {
    .vano-modal-body {
      .vano-modal-body-wrapper{
        max-width: calc(100% - 5rem);
      }
    }
  }
}
