<template>
  <require from="./vano-discover-card.css"></require>

  <div class="vano-discover-card-component">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="225px" height="225px" viewBox="0 0 225 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
          <title>17</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="17" fill="#D1D8DE">
                  <g id="if_Sed-29_2200544" transform="translate(46.000000, 75.000000)">
                      <g id="Icons">
                          <g id="Group">
                              <path d="M18.2223495,38.6400585 L18.2223495,50.552847 C18.8943441,50.552847 19.5283929,50.586327 20.1578621,50.546058 C21.5583026,50.4558015 22.8794869,50.124582 23.9693051,49.1624505 C26.4712932,46.9529565 26.6127486,42.7573545 24.2747869,40.35828 C22.5874169,38.626155 20.4359595,38.5890015 18.2223495,38.6400585 L18.2223495,38.6400585 Z" id="Shape"></path>
                              <path d="M122.136217,38.8359165 C121.128506,38.323905 120.044108,38.393748 118.947701,38.431785 L118.947701,43.88298 C120.062053,43.883817 121.163321,43.954218 122.169864,43.39938 C123.096824,42.8879265 123.425437,42.0475785 123.413708,41.0391795 C123.402586,40.067097 123.032101,39.290547 122.136217,38.8359165 L122.136217,38.8359165 Z" id="Shape"></path>
                              <path d="M130.508111,0.2667705 L11.4895993,0.2667705 C5.28995867,0.2667705 0.244905625,5.286864 0.244905625,11.4581115 L0.244905625,81.544167 C0.244905625,87.713136 5.28995867,92.7332295 11.4895993,92.7332295 L130.508111,92.7332295 C136.710041,92.7332295 141.755094,87.713136 141.755094,81.544167 L141.755094,11.4581115 C141.755094,5.286864 136.710041,0.2667705 130.508111,0.2667705 L130.508111,0.2667705 Z M14.6501702,53.6577915 L14.6501702,35.5893795 C14.7206409,35.5720815 14.7850832,35.541717 14.8498059,35.542275 C16.8620511,35.5567365 18.8811659,35.476152 20.8854201,35.612676 C24.0973486,35.831226 26.7904206,37.1302035 28.4241899,40.0072515 C31.6415392,45.6727185 28.1306712,52.7555985 21.7690602,53.50569 C20.1694982,53.6935965 18.539187,53.62008 16.9222409,53.654955 C16.1792617,53.6708115 15.4356749,53.6577915 14.6501702,53.6577915 L14.6501702,53.6577915 Z M31.2793257,53.635053 L31.2793257,35.572872 L34.7861747,35.572872 L34.7861747,53.635053 C33.6047634,53.635053 32.4567649,53.635053 31.2793257,53.635053 L31.2793257,53.635053 Z M44.9929219,47.8452915 C44.8468869,47.1882465 44.4638313,46.6873485 43.8739901,46.393608 C43.2094258,46.0629465 42.5080373,45.8049645 41.8223505,45.51606 C41.0850257,45.2058585 40.3294758,44.9319735 39.6135539,44.578341 C37.3209214,43.444485 36.6184114,41.4654915 37.2718537,38.9977365 C37.8180479,36.934113 39.7125305,35.4892185 42.0547915,35.282898 C44.2612983,35.0876445 46.2253637,35.7199515 47.9344169,37.1271345 C47.9768956,37.161498 48.0099813,37.20744 48.0778817,37.2803985 C47.450936,38.095218 46.8465614,38.8802775 46.2273264,39.68403 C45.5473408,38.9628615 44.8291758,38.3816115 43.8533817,38.257875 C42.8767932,38.1346965 41.9626376,38.2933545 41.2367152,39.015918 C40.4540611,39.795258 40.5453272,40.9586415 41.4817268,41.5367295 C42.1095137,41.923563 42.8200148,42.1784295 43.4931309,42.492351 C44.5216378,42.9733935 45.5852398,43.39287 46.5707072,43.950591 C47.9951207,44.756343 48.6371606,46.0601565 48.7022105,47.6778915 C48.7877753,49.818705 48.1366228,51.6302985 46.35308,52.9244865 C45.0071282,53.9010795 43.4600452,54.1741275 41.8265563,54.078756 C39.3405502,53.9340015 37.5148092,52.7050995 36.1936716,50.7354525 C36.9258559,49.9561125 37.6420582,49.1943495 38.3302685,48.461835 C38.7755233,48.972963 39.1289046,49.48809 39.5866834,49.882038 C40.6092087,50.7618645 41.8251076,51.049095 43.138301,50.7246645 C44.4721027,50.3953515 45.273309,49.1073945 44.9929219,47.8452915 L44.9929219,47.8452915 Z M55.7946973,49.597272 C58.025738,51.307263 61.1364,51.219843 63.2661742,49.3863945 C63.4450145,49.2322935 63.6226865,49.076472 63.8819512,48.85197 L63.8819512,49.4973435 C63.8816708,50.5621935 63.8759696,51.62709 63.8865308,52.692498 C63.889101,52.9187205 63.81835,53.0379 63.6067044,53.1386655 C59.2615912,55.20201 53.9367585,53.794827 51.3506075,49.817775 C47.780718,44.327985 50.6053384,36.8233965 57.4555707,35.35209 C59.5733817,34.89825 61.6287131,35.1241935 63.5750674,36.1110165 C63.7011482,36.17514 63.8660158,36.3295665 63.8679785,36.4447935 C63.8884935,37.730193 63.88111,39.0167085 63.88111,40.350933 C63.3095408,39.9249465 62.8211998,39.495798 62.2729961,39.1637415 C60.1583628,37.88262 57.4415981,38.1820335 55.533984,39.8715645 C52.6866056,42.39405 52.8189483,47.317098 55.7946973,49.597272 L55.7946973,49.597272 Z M65.9292915,44.5121715 C65.9572368,39.722253 69.914154,35.9469645 74.8961666,35.916042 C79.9711744,35.8853985 83.9306618,39.853383 83.8496299,44.6143785 C83.9309422,49.4332665 79.9449114,53.367771 74.8921477,53.3600985 C69.8060647,53.3526585 65.9004584,49.5847635 65.9292915,44.5121715 L65.9292915,44.5121715 Z M83.9169695,35.5399965 C85.1611409,35.5399965 86.368488,35.5297665 87.5755548,35.5561785 C87.6882237,35.558457 87.8405206,35.7710085 87.8995889,35.916042 C89.1542747,39.0342855 90.3972778,42.1582485 91.6440193,45.2801655 C91.9500619,46.0470435 92.2595159,46.813038 92.5969618,47.652828 C92.682807,47.462085 92.746969,47.3323965 92.8011771,47.1993135 C94.3237262,43.4328135 95.8476772,39.667197 97.3616277,35.8984185 C97.463455,35.6455515 97.5766847,35.5249305 97.875297,35.5306035 C99.0144633,35.55018 100.154237,35.538555 101.360463,35.538555 C101.291721,35.71851 101.243214,35.856987 101.186202,35.9917905 C98.6799147,41.9132865 96.1708234,47.832783 93.6739757,53.7573945 C93.5553252,54.038952 93.4110192,54.1357185 93.1154912,54.1186995 C92.7084625,54.094845 92.2969008,54.1343235 91.8916012,54.1014015 C91.7481364,54.0897765 91.5407901,53.9745495 91.4908812,53.8536495 C88.9658078,47.818926 86.4555482,41.7779715 83.9446811,35.7372495 C83.9294935,35.7008865 83.9323908,35.6566185 83.9169695,35.5399965 L83.9169695,35.5399965 Z M112.748341,42.618552 L112.748341,45.700758 L106.557252,45.700758 L106.557252,50.564472 L113.014755,50.564472 L113.014755,53.6214285 L102.994512,53.6214285 L102.994512,35.5595265 L113.002185,35.5595265 L113.002185,38.6144835 L106.561551,38.6144835 L106.561551,42.6185055 C108.621135,42.618552 110.668756,42.618552 112.748341,42.618552 L112.748341,42.618552 Z M126.274218,53.6577915 C125.739146,53.6577915 125.203466,53.6402145 124.669842,53.6643015 C124.377212,53.677647 124.216036,53.567535 124.059159,53.332803 C122.578575,51.118473 121.083691,48.913815 119.599087,46.7017635 C119.447631,46.4761455 119.306457,46.2837285 118.943916,46.4278785 L118.943916,53.6287755 L115.389448,53.6287755 L115.389448,35.5762665 C115.457348,35.5598055 115.496976,35.5422285 115.536604,35.5427865 C117.54885,35.55669 119.562543,35.5376715 121.572826,35.606073 C122.277626,35.6302065 122.9978,35.799048 123.672926,36.0187605 C125.964717,36.7651785 127.238236,38.725758 127.086219,41.126832 C126.999813,42.497373 126.650965,43.7447355 125.616149,44.7272805 C124.978081,45.332943 124.212251,45.695643 123.376837,45.9348855 C123.255616,45.969528 123.134115,46.0010085 122.959855,46.048392 C124.859151,48.576597 126.737651,51.077832 128.675454,53.6576985 C127.809338,53.6577915 127.041497,53.6577915 126.274218,53.6577915 L126.274218,53.6577915 Z" id="Shape"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
  </div>
</template>
