@import "../../styles/new-variables.scss";

$reminder-left-margin: 10px;

.dashboard-component {
    padding: 20px;
    background: #f7f8f9 !important;
    .stats-wrapper {
        .stats {
            display: flex;
            overflow-x: auto;
            margin-left: -0.25rem;
            margin-right: -0.25rem;
            vano-stat-card{
                margin: 0 .25rem;
                width: 100%;
            }
        }
    }
    .data-wrapper {
        .upcoming-appointments, .reminders {
            margin-top: 2rem;
        }
        .dashboard-clock-in-section {
          margin-top: 2rem;
        }
    }
}

@media (min-width: 960px) {
    .dashboard-component {
        padding: 30px;
        .stats-wrapper {
            .stats {
                overflow: visible;
            }
        }
        .data-wrapper {
            display: flex;
            .upcoming-appointments {
                width: calc(70% - 10px);
            }
            .reminders {
                margin-left: $reminder-left-margin;
                width: 30%;
            }
        }
    }
}


