<template>
    <require from="./dashboard.css"></require>
    <require from="../../components/vano-stat-card/vano-stat-card"></require>
    <require from="../../components/vano-appointments-table/vano-appointments-table"></require>
    <require from="../../components/vano-reminders/vano-reminders"></require>
    <require from="../../components/vano-component-label/vano-component-label"></require>
    <require from="../../components/vano-clock-in-card/vano-clock-in-card"></require>

    <div class="dashboard-component au-animate">
        <div class="stats-wrapper">
            <vano-component-label title="Analytics"></vano-component-label>
            <div class="stats">
                <vano-stat-card 
                    value.bind="analytics.day.appointments_left" 
                    description="Appointments left today" 
                    color="red" 
                    direction.bind="statDirection">
                </vano-stat-card>
                <vano-stat-card 
                    value.bind="analytics.week.new_appointments" 
                    description="New appointments this week" 
                    color="green" 
                    direction.bind="statDirection">
                </vano-stat-card>
                <vano-stat-card 
                    value.bind="roundPercentage(analytics.week.percentage_booked)" 
                    description="Booked upcoming seven days" 
                    color="orange"
                    percentage="true"
                    direction.bind="statDirection">
                </vano-stat-card>
                <vano-stat-card 
                    value.bind="analytics.month.new_customers" 
                    description="New customers previous 30 days" 
                    color="blue" 
                    direction.bind="statDirection">
                </vano-stat-card>
            </div>
        </div>

        <div class="data-wrapper">
            <div class="upcoming-appointments">
                <vano-component-label 
                  title="Personal Appointments" 
                  link="View all"
                  router.one-way="router"
                  route="app.appointments">
                 </vano-component-label>
                <vano-appointments-table appointments.one-way="appointments" customers.one-way="customers"></vano-appointments-table>
                <div class="dashboard-clock-in-section" if.bind="feature.clock_in">
                  <vano-component-label title="Clock In / Clock Out"></vano-component-label>
                  <vano-clock-in-card></vano-clock-in-card>
                </div>
            </div>
            <div class="reminders">
                <vano-component-label 
                    title="Reminders">
                </vano-component-label>
                <vano-reminders 
                    reminders.one-way="reminders">
                </vano-reminders>
            </div>
        </div>
    </div>
</template>
