@import '../../styles/new-variables';

.managee-invitation-component{
  display: flex;
  align-items: center;
  flex-direction: column;
  .managee-invitations-wrapper {
    width: 620px;
    max-width: calc(100% - 1.25rem);
  }
}
