<template>
  <require from="./managee-invitation.css"></require>
  <require from="../../components/vano-title/vano-title"></require>
  <require from="../../components/vano-no-results-card/vano-no-results-card"></require>
  <require from="../../components/vano-managee-invitation-card/vano-managee-invitation-card"></require>

  <div class="managee-invitation-component">
    <vano-title title="Requests awaiting for your approval" sub-title="Accept or decline your requests below, your always free to change your mind."></vano-title>

    <div class="managee-invitations-wrapper" if.bind="dataLoaded">
        <vano-managee-invitation-card
          if.bind="invitations.length > 0"
           repeat.for="i of invitations" 
           permission.one-way="i.permission" 
           name.one-way="fullName(i.manager)"
           accepted.one-way="invitationStatus(i.status)"
           invitation-id.one-way="i.id">
        </vano-managee-invitation-card>
        <vano-no-results-card text="No Requests" if.bind="invitations.length === 0"></vano-no-results-card>
    </div>
  </div>
</template>
