<template>
    <require from="./vano-checkout-appointment.css"></require>
    <require from="../vano-checkbox/vano-checkbox"></require>
    <require from="../../filters/filters"></require>
    <require from="../vano-select-dot/vano-select-dot"></require>

    <div class="vano-checkout-appointment-component">
        <div class="vano-checkout-appointment-section icon">
            <vano-select-dot color="blue"></vano-select-dot>
        </div>
        <div class="vano-checkout-appointment-section data">
            <div class="customer">
                <div>${customerIdToFullName(appointment.customer_id) | capitalize  | stringLength: '15'}</div>
            </div>
            <div class="services">
                <div repeat.for="s of appointment.services">
                    ${s.name | stringLength: '13'}
                </div>
            </div>
        </div>
        <div class="vano-checkout-appointment-section time">
            <div class="vano-checkout-time">
                ${appointment.start_time | dateFormat:'MMM DD'}
            </div>
            <div class="vano-checkout-time">
                ${appointment.start_time | dateFormat:'hh:mm a'}
            </div>
        </div>
        <div class="vano-checkout-appointment-section selected">
            <vano-checkbox checked.two-way="appointment.is_selected"></vano-checkbox>
        </div>
    </div>
</template>