@import '../../styles/new-variables.scss';

.vano-checkout-appointment-component{
    display: flex;
    justify-content: space-between;
    background: $white;
    width: 100%;
    box-shadow: $primary-box-shadow;
    height: 70px;
    align-items: center;
    cursor: pointer;
    .vano-checkout-appointment-section {
        border-right: $primary-border;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        flex-direction: column;
        height: 50px;
        &.icon {
            border: none;
            max-width: 40px;
            margin-top: -1rem;
        }
        &.data {
            align-items: stretch;
            .customer {
                font-family: $primary-font-family;
                color: $primary-font-color;
                font-size: .9375rem;
                font-weight: 600;
            }
            .services {
                font-family: $primary-font-family;
                color: $primary-font-color; 
                font-size: .6875rem;
            }
        }
        &.time {
            .vano-checkout-time {
                font-family: $primary-font-family;
                color: $primary-font-color; 
                font-size: .75rem;
            }
        }
        &.selected {
            max-width: 80px;
        }
    }
}