<template>
    <require from="./professionals.css"></require>
    <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header"></require>
    <require from="../../components/vano-settings-tabs-header/vano-settings-tabs-header-item/vano-settings-tabs-header-item"></require>
    <require from="../../components/vano-settings-tabs-body/vano-settings-tabs-body"></require>
    <require from="../../components/vano-title/vano-title"></require>

    <div class="professionals-component au-animate">
        <vano-settings-tabs-header>
            <vano-settings-tabs-header-item 
              if.bind="feature.manage_employees"
              title="Employees" 
              selected.one-way="router.currentInstruction.fragment === 'salon'" 
              click.delegate="goTo('app.professionals.salon')">
            </vano-settings-tabs-header-item>
            <vano-settings-tabs-header-item 
              title="Independents" 
              selected.one-way="router.currentInstruction.fragment === 'independents'" 
              click.delegate="goTo('app.professionals.independents')">
            </vano-settings-tabs-header-item>
        </vano-settings-tabs-header>
        <div class="professionals-component-wrapper">
            <vano-settings-tabs-body>
                <router-view></router-view>
            </vano-settings-tabs-body>
        </div>
    </div>
</template>
