.professionals-component {
  vano-title {
    .vano-title-component {
      margin-top: 1.35rem;
    }
  }
  .professionals-component-wrapper {
    padding: 1.25rem;
  }
  vano-no-results-card {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .professionals-component {
      display: flex;
      flex-direction: column;
      align-items: center;
      vano-settings-tabs-header {
          width: 100%;
      }
      .professionals-component-wrapper {
          width: 590px;
      }
  }
}
