<template>
    <require from="./personal.css"></require>
    <require from="../../../components/vano-select-dot/vano-select-dot"></require>
    <require from="../../../components/vano-button/vano-button"></require>
    <require from="../../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../../components/vano-forms/vano-select/vano-select"></require>
    <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card"></require>
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card-header/vano-onboarding-card-header"></require>
    <require from="../../../components/vano-onboarding-card/vano-onboarding-card-body/vano-onboarding-card-body"></require>

    <div class="personal-component">
        <vano-onboarding-card state.one-way="state">
            <vano-onboarding-card-header title="Personal"></vano-onboarding-card-header>
            <vano-onboarding-card-body>
                <p class="explainer">To ensure that this is really you, we need some personal information. </p>
                <div class="onboarding-form">
                    <vano-input-group>
                        <vano-label>COMPANY OR PERSONAL IDENTIFICATION</vano-label>
                        <div class="select-merchant-type-wrapper">
                            <vano-button color.one-way="indentificationType === 'ein'? 'faded-blue': 'white'" click.delegate="indentificationType = 'ein'">EIN
                            </vano-button>
                            <vano-button color.one-way="indentificationType === 'ssn'? 'faded-blue': 'white'" class="ssn-btn" click.delegate="indentificationType = 'ssn'">
                                SSN
                            </vano-button>
                        </div>
                    </vano-input-group>
                    <vano-input-group if.bind="indentificationType === 'ein'">
                        <vano-label>EIN (Employer Identification Number)</vano-label>
                        <vano-input type="tel" value.two-way="ein & validate" mask="99-9999999">
                        </vano-input>
                    </vano-input-group>
                    <vano-input-group if.bind="indentificationType === 'ssn'">
                        <vano-label>SSN (Social Security Number)</vano-label>
                        <vano-input type="tel" value.two-way="ssn & validate" mask="999-99-9999">
                        </vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Driver License State</vano-label>
                        <vano-select is-state="true" selected.two-way="dlState & validate" placeholder="Select state">
                        </vano-select>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Driver License Number</vano-label>
                        <vano-input value.two-way="dlNumber & validate"></vano-input>
                    </vano-input-group>
                    <vano-button color="primary" click.delegate="validate()">Save and Continue</vano-button>
                </div>
            </vano-onboarding-card-body>
        </vano-onboarding-card>
    </div>
</template>
