.personal-component{
   .onboarding-form {
       .select-merchant-type-wrapper {
           display: flex;
           flex: 1;
           vano-button {
               width: 100%;
               &.ssn-btn {
                   .vano-button-component {
                       margin-left: 1rem;
                   }
               }
               .vano-button-component {
                   margin-top: auto;
               }
           }
       }
   }
}