<template>
    <require from="./appointment.css"></require>
    <require from="../../../components/vano-component-label/vano-component-label"></require>
    <require from="../../../components/vano-checkout-appointment/vano-checkout-appointment"></require>
    <require from="../../../filters/filters"></require>
    <require from="../../../components/vano-title/vano-title"></require>
    <require from="../../../components/vano-button/vano-button"></require>

    <div class="checkout-appointment-component au-animate">
        <vano-component-label title="Appointments Checkout"></vano-component-label>
        <vano-title title="Appointments Checkout" sub-title="Select the appointment you would like to check out."></vano-title>
        <div class="appointments">
            <div class="appointments-wrapper">
                <vano-checkout-appointment repeat.for="a of appointments" appointment.bind="a" customers.one-way="customers" click.delegate="toggleSelected(a)">
                </vano-checkout-appointment>
                <div if.bind="appointments.length < 5 && appointments.length > 0 && !selectedAppointment" class="no-more-appointments">
                    <p>No More Appointments</p>
                </div>
                <div if.bind="appointments.length >= 5" class="no-more-appointments">
                    <p>View All</p>
                </div>
                <div if.bind="appointments.length == 0" class="no-more-appointments">
                    <p>No Appointments</p>
                </div>
                <vano-button 
                    click.delegate="next()"
                    if.bind="selectedAppointment" 
                    color="primary">
                    Continue
                </vano-button>
            </div>
        </div>
    </div>
</template>
