@import '../../../styles/new-variables';

.checkout-appointment-component{
    vano-title {
        display: none;
    }
    .appointments {
        .appointments-wrapper {
            width: 657px;
            max-width: 100%;
        }
    }
    vano-checkout-appointment {
        .vano-checkout-appointment-component {
            margin: 1rem 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .no-more-appointments {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            p {
                font-size: .9375rem;
                margin-top: 1.5rem;
                color: $no-more-font-color;
            }
        }
}


@media (min-width: 960px) {
    .checkout-appointment-component {
        vano-title {
            display: inline;
        }
        vano-component-label {
            display: none;
        }
        .appointments {
            display: flex;
            justify-content: center;
            .appointments-wrapper {
                width: 657px;
            }
        }
    }
}
