<template>
    <require from="./vano-professionals-accordion.css"></require>
    <require from="./vano-professionals-accordion-header/vano-professionals-accordion-header"></require>
    <require from="./vano-professionals-accordion-body/vano-professionals-accordion-body"></require>
    <require from="../vano-accordion/vano-accordion"></require>
    <require from="../vano-accordion/vano-accordion-body/vano-accordion-body"></require>
    <require from="../vano-accordion/vano-accordion-header/vano-accordion-header"></require>

    <div class="vano-professionals-accordion-component">
        <vano-accordion>
            <vano-accordion-header opened.two-way="opened">
                <vano-professionals-accordion-header
                    professional.one-way="professional"
                    opened.one-way="opened"
                    router.one-way="router">
                </vano-professionals-accordion-header>
            </vano-accordion-header>
            <vano-accordion-body opened.one-way="opened">
                <vano-professionals-accordion-body
                    professional.one-way="professional"
                    opened.one-way="opened">
                </vano-professionals-accordion-body>
            </vano-accordion-body>
        </vano-accordion>
    </div>
</template>
