@import '../../styles/new-variables';

.vano-professionals-accordion-component{
    width: 100%;
    vano-professionals-accordion-header {
        width: 100%;
    }
    .vano-accordion-header-component {
        height: 260px;
    }
}

@media (min-width: 520px) {
    .vano-professionals-accordion-component{
        .vano-accordion-header-component {
            height: 125px;
        }
    }
}

@media (min-width: 650px) {
    .vano-professionals-accordion-component{
        .vano-accordion-header-component {
            height: $vano-accordion-header-height;
        }
    }
}