<template>
  <require from="styles/app.css"></require>
  <require from="sweetalert/dist/sweetalert.css"></require>
  <require from="pikaday/css/pikaday.css"></require>
  <router-view></router-view>
</template>
