@import '../../../styles/new-variables';

.vano-select-component {
    display: flex;
    flex: 1;
    width: 100%;
    select {
        background: $vano-input-bg-color;
        height: 45px;
        width: 100%;
        box-shadow: none;
        border: none;
        border-radius: 2px;
        outline: none;
        color: $primary-font-color;
        font-size: $vano-placeholder-size;
        padding-left: 1.25rem;
        font-family: $primary-font-family;
    }
    select::placeholder {
            color: $vano-input-color;
            font-size: $vano-placeholder-size;
            font-family: $primary-font-family;
    }
}