@import '../../styles/new-variables.scss';

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes flow {
  from {left: 0}
  to {left: 100%}
}

@keyframes grow {
  from {width: 20%}
  to {width: 100%}
}

.vano-calendar-component {
    max-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    #calendar {
      display: flex;
      flex-direction: column;
      background: #f7f8f9;
    }
    .vano-calendar-controls-wrapper {
      min-height: 70px;
      max-height: 70px;
      background: #fff;
      display: flex;
      justify-content: space-between;
      position: relative;
      .calendar-loading-banner {
        top: 0;
        position: absolute;
        background: $blue;
        width: 100%;
        height: 1.5px;
        left: 0;
        animation: grow 1.2s ease;
        &.loading {
          height: 1.5px;
          width: 20%;
          animation: flow 1.25s infinite;
        }
      }
      .vano-calendar-controls--section {
        display: flex;
        align-items: center;
        height: 70px;
        i {
          color: $grey-font-color;
        }
        &.section-three {
          position: relative;
          .vano-calendar-menu {
            position: absolute;
            top: 60px;
            background: $white;
            box-shadow: 0px 2px 34px 0px rgba(26, 39, 59, 0.17);
            z-index: 100;
            width: 200px;
            left: -100px;
            max-height: 250px;
            overflow-y: auto;
            .vano-calendar-menu__item {
              border-bottom: $primary-border;
              display: flex;
              align-items: center;
              color: #919A9D;
              text-transform: uppercase;
              font-size: .625rem;
              font-weight: 700;
              padding: 1rem;
              cursor: pointer;
              &:hover {
                color: $blue;
              }
            }
          }
          .selected-professional-dropdown {
            font-weight: bold;
            color: $blue;
            font-size: .75rem;
            display: flex;
            align-items: center;
            margin: 0;
            i {
              color: $blue;
              font-size: 1.42rem;
              margin: 0;
            }
            cursor: pointer;
            div {
              transform: rotateY(180deg);
            }
          }
          i {
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 2rem;
            cursor: pointer;
          }
        }
      }
    }
}

@media (min-width: 769px) {
  .vano-calendar-component {
    // padding: 1.25rem;
    #calendar {
    }
    .vano-calendar-controls-wrapper {
      padding: 0 1.5rem;
      background: $white;
      border: $primary-border;
      border-bottom: none;
    }
  }
}
