<template>
  <require from="./vano-calendar.css"></require>
  <require from="../../libs/calendarjs/calendar.css"></require>
  <require from="../vano-month-calendar-header/vano-month-calendar-header"></require>
  <require from="../vano-card/vano-card"></require>
  <require from="../vano-icons/vano-left-arrow/vano-left-arrow"></require>
  <require from="../vano-icons/vano-right-arrow/vano-right-arrow"></require>
  <require from="../vano-icons/vano-down-arrow/vano-down-arrow"></require>
  <require from="../vano-icons/vano-bars/vano-bars"></require>

  <div class="vano-calendar-component ${calendarDisplay}">
      <div class="vano-calendar-controls-wrapper">
        <div class.bind="loading ? 'loading': ''" class="calendar-loading-banner">
        </div>
        <div class="vano-calendar-controls--section section-one">
          <vano-left-arrow click.delegate="prev()"></vano-left-arrow>
          <vano-right-arrow click.delegate="next()"></vano-right-arrow>
          <p if.bind="isMobileView">${title}</p>
        </div>
        <div if.bind="!isMobileView" class="vano-calendar-controls--section section-two">
          ${title}
        </div>
        <div class="vano-calendar-controls--section section-three">
          <div if.bind="showMenu" class="vano-calendar-menu vano-calendar-dont-close">
            <div class="vano-calendar-menu__professionals vano-calendar-dont-close" if.bind="showSpMenu">
              <div repeat.for="o of options" click.delegate="selectProfessional(o)" class="vano-calendar-menu__item vano-calendar-dont-close">${o.label}</div>
            </div>
            <div class="vano-calendar-menu__view vano-calendar-dont-close" if.bind="showViewMenu">
                <div click.delegate="selectView('mo')" class="vano-calendar-menu__item vano-calendar-dont-close">Month</div>
                <div click.delegate="selectView('3d')" class="vano-calendar-menu__item vano-calendar-dont-close">3 Day</div>
                <div click.delegate="selectView('4d')" class="vano-calendar-menu__item vano-calendar-dont-close">4 Day</div>
                <div click.delegate="selectView('we')" class="vano-calendar-menu__item vano-calendar-dont-close">Week</div>
              </div>
          </div>
          <p class="selected-professional-dropdown vano-calendar-dont-close" click.delegate="toggleSpMenu()">${selectedLabel} <i if.bind="options.length > 0" class="material-icons  vano-calendar-dont-close">&#xE313;</i></p>
          <i click.delegate="toggleViewMenu()" class="material-icons  vano-calendar-dont-close">&#xE152;</i>
        </div>
      </div>
      <div id="calendar" class="${calendarDisplay}"></div>
  </div>
</template>
