<template>
    <require from="./add-customer.css" as="scoped"></require>
    <require from="../../filters/filters"></require>
    <require from="../../components/vano-forms/vano-search-dropdown/vano-search-dropdown"></require>
    <require from="../../components/vano-forms/vano-label/vano-label"></require>
    <require from="../../components/vano-forms/vano-input-group/vano-input-group"></require>
    <require from="../../components/vano-forms/vano-input/vano-input"></require>
    <require from="../../components/vano-forms/vano-textarea/vano-textarea"></require>
    <require from="../../components/vano-forms/vano-toggle/vano-toggle"></require>
    <require from="../../components/vano-button/vano-button"></require>
    <require from="../../components/vano-canvas-layout/vano-canvas-layout"></require>
    <require from="../../components/vano-card/vano-card"></require>
    <require from="../../filters/filters"></require>

    <div class="add-customer-component au-animate">
        <vano-canvas-layout 
            if.bind="!displayExistingCustomer"
            title.one-way="canvasTitle" 
            router.bind="router"
            route.one-way="closeRoute">
            <div slot="body">
                <form 
                    submit.trigger="validate()" 
                    keyup.trigger="handleKeyup($event)">
                    <vano-input-group>
                        <vano-label>First Name</vano-label>
                        <vano-input value.two-way="firstName & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Last Name</vano-label>
                        <vano-input value.two-way="lastName & validate"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Phone Number</vano-label>
                        <vano-input 
                            value.two-way="phoneNumber & validate" 
                            type="tel"
                            mask="(999) 999-9999">
                        </vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-label>Email Address</vano-label>
                        <vano-input 
                            value.two-way="email & validate" 
                            type="email"></vano-input>
                    </vano-input-group>
                    <vano-input-group>
                        <vano-input 
                            value.two-way="serverErr & validate" 
                            type="hidden"></vano-input>
                    </vano-input-group>
                    <vano-input-group class="require-phone-call-input-group">
                      <vano-label>Private Client</vano-label>
                      <p>Whenever you add a client they can be accessed by everyone in your company. Private clients can only be accessed by you.</p>
                      <vano-toggle checked.two-way="isPrivate"></vano-toggle>
                    </vano-input-group>
                </form>
            </div>
            <div slot="footer">
                <vano-button 
                    click.delegate="validate()" 
                    color="primary" 
                    rounded="false"
                    loading.one-way="isFetching">
                    Add Client
                </vano-button>
            </div>
        </vano-canvas-layout>
        <vano-canvas-layout 
        if.bind="displayExistingCustomer"
        title="Client" 
        sub-title="We have a similar client already in the system. Please review the details to confirm this is the client you are trying to add."
        router.bind="router">
        <div slot="body">
            <div class="vano-existing-customer-wrapper">
                <vano-card>
                    <div class="vano-customer-metadata">
                        <div class="vano-customer-meta-section mobile">
                            <div class="vano-customer-meta-icon">
                              <i class="material-icons">phone_iphone</i>
                            </div>
                            <div class="vano-customer-meta-details">
                              <h6>Full Name</h6>
                              <a>
                                <h3>${existingCustomer.first_name | capitalize} ${existingCustomer.last_name | capitalize}</h3>
                              </a>
                            </div>
                          </div>
                        <div class="vano-customer-meta-section mobile">
                          <div class="vano-customer-meta-icon">
                            <i class="material-icons">phone_iphone</i>
                          </div>
                          <div class="vano-customer-meta-details">
                            <h6>MOBILE</h6>
                            <a>
                              <h3>+1 ${existingCustomer.phone_number}</h3>
                            </a>
                          </div>
                        </div>
                        <div class="vano-customer-meta-section">
                          <div class="vano-customer-meta-icon">
                            <i class="material-icons">mail_outline</i>
                          </div>
                          <div class="vano-customer-meta-details">
                            <h6>EMAIL</h6>
                            <a>
                              <h3>${existingCustomer.email}</h3>
                            </a>
                          </div>
                        </div>
                      </div>
                  </vano-card>
            </div>
        </div>
        <div slot="footer">
            <div class="double-buttons">
                <vano-button loading.one-way="isFetching" click.delegate="addCustomerToCompany()" color="primary" rounded="false">Confirm</vano-button>
                <vano-button click.delegate="decline()" color="danger" rounded="false">Decline</vano-button>
            </div>
        </div>
    </vano-canvas-layout>
    </div>
</template>
