@import '../../styles/new-variables';

.add-customer-component {
  .require-phone-call-input-group {
    p {
      font-weight: 200;
      font-size: .7rem;
      margin-top: -.5rem;
      margin-bottom: .7rem;
    }
  }
    .vano-existing-customer-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      .vano-card-component {
        width: 300px;
        padding: 1rem;
        margin-top: 1rem;
      }
    }
    .double-buttons {
      display: flex;
      justify-content: space-between;
      margin: 0 -.5rem;
      margin-top: -1rem;
      vano-button {
          width: 100%;
          margin: 0 .5rem;
          .vano-button-component {
              margin-top: 1rem;
          }
      }
  }
  .vano-customer-meta-section {
    display: flex;
    flex: 1;
    margin: 1rem 0;
    .vano-customer-meta-icon {
        i {
            color: $vano-light-font-color;
            font-size: 1.25rem;
        }
    }
    .vano-customer-meta-details {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        h6 {
            color: $vano-light-label-color;
            font-size: .5625rem;
        }
        h3 {
            color: $primary-font-color;
            font-family: $primary-font-family;
            font-size: .8125rem;
            margin-top: 5px;
        }
    }
}
}

