@import '../../styles/new-variables';

.vano-checkout-service-card-component{
    display: flex;
    justify-content: space-between;
    background: $white;
    padding: 0 1.25rem;
    height: 70px;
    box-shadow: $primary-box-shadow;
    align-items: center;
    .vano-checkout-service-card--section {
        &.name {
            display: flex;
            align-items: center;
            span {
                margin-left: 1.25rem;
            }
        }
        &.price {
            .vano-checkout-service-card__bubble {
                background: $green;
                box-shadow: $vano-green-box-shadow;
                width: 74px;
                height: 30px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-size: .875rem;
            }
            .vano-checkout-service-card__bubble-input {
              input {
                background: $green;
                box-shadow: $vano-green-box-shadow;
                width: 74px;
                height: 30px;
                border-radius: 100px;
                display: flex;
                color: $white;
                font-size: .875rem;
                border: none;
                outline: none;
                padding-left: 1rem;
              }
          }
        }
        &.icon {
          cursor: pointer;
            i {
                color: $vano-light-font-color;
                font-size: 2rem;
            }
        }
    }
}
