<template>
  <require from="./vano-checkout-service-card.css"></require>
  <require from="../vano-select-dot/vano-select-dot"></require>
  <require from="../../filters/filters"></require>
  <require from="../../components/vano-icons/vano-pencil/vano-pencil"></require>

  <div class="vano-checkout-service-card-component">
    <div class="vano-checkout-service-card--section name">
        <vano-select-dot color="blue"></vano-select-dot>
        <span>${service}</span>
    </div>
    <div class="vano-checkout-service-card--section price">
        <div class="vano-checkout-service-card__bubble" if.bind="!editing">
            $${price | currency: false}
        </div>
        <div class="vano-checkout-service-card__bubble-input" if.bind="editing">
          <input type="tel" focus.trigger="applyMask()" class="edit-price-input" value.bind="price" autofocus>
      </div>
    </div>
    <div class="vano-checkout-service-card--section icon" click.delegate="toggleEditing()" if.bind="!editing">
        <vano-pencil></vano-pencil>
    </div>
    <div class="vano-checkout-service-card--section icon" if.bind="editing" click.delegate="confirmPrice()">
      <i class="material-icons pencil-icon">check</i>
  </div>
  </div>
</template>
