@import '../../styles/new-variables';

.vano-card-add-input-component{
    display: flex;
    align-items: center;
    box-shadow: $primary-box-shadow;
    height: 70px;
    padding: 0 1.25rem;
    &.has-error {
        flex-direction: column;
        justify-content: center;
        .vano-validation-message {
            width: 100%;
            font-size: .6rem;
            color: $vano-form-red;
        }
        .vano-card-add-input-wrapper {
            input {
                border-left: 2px solid $red;
            }
        }
    }
    .vano-card-add-input-wrapper {
        display: flex;
        width: 100%;
        input {
            font-size: .8125rem;
            color: $primary-font-color;
            border: none;
            box-shadow: none;
            border-left: 2px solid $blue;
            outline: none;
            width: 100%;
            padding-left: 1rem;
        }
        input::placeholder {
            font-size: .8125rem;
            color: $primary-font-color;
        }
        i {
          display: flex;
          justify-content: center;
          align-items: center;
            color: $blue;
            text-shadow: $vano-blue-text-shadow;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }   
    }
}
