<template>
    <require from="./vano-card-add-input.css"></require>

    <div class="vano-card-add-input-component">
        <div class="vano-card-add-input-wrapper">
            <input type="text" value.bind="value" placeholder.bind="placeholder" />
            <i class="material-icons" click.delegate="submit()">&#xE145;</i>
        </div>
    </div>
</template>
