<template>
  <require from="./vacation-days.css"></require>
  <require from="../../../../components/vano-icons/vano-down-arrow/vano-down-arrow"></require>
  <require from="../../../../components/vano-forms/vano-range-date-picker/vano-range-date-picker"></require>
  <require from="../../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../../components/vano-select-dot/vano-select-dot"></require>
  <require from="../../../../components/vano-icons/vano-pencil/vano-pencil"></require>
  <require from="../../../../components/vano-close/vano-close"></require>

  <div class="vacation-days-component">
      <div class="vano-vacation-days-component">
          <div class="vano-vacation-days-header">
            <vano-label>DATE RANGE</vano-label>
            <vano-range-date-picker></vano-range-date-picker>
            <vano-down-arrow></vano-down-arrow>
          </div>
          <div class="vano-vacation-days-body">
            <vano-label if.bind="blockoffs.length > 0">Scheduled Vacation Days</vano-label>
            <div class="vano-vacation-day-item" repeat.for="b of blockoffs">
              <div class="vacation-day-title">
                <vano-select-dot color="blue"></vano-select-dot>
                <div class="vacation-date-range-text">${genDateRange(b)}</div>
              </div>
              <div class="vacation-day-misc">
                <vano-close click.delegate="deleteBlockoff(b.id)" color="red"></vano-close>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>
