@import '../../../../styles/new-variables';

.vacation-days-component{
  background: $white;
  box-shadow: $primary-box-shadow;
  .vano-vacation-days-header {
    padding: 1.25rem 1rem;
    position: relative;
    .vano-down-arrow-component {
      position: absolute;
      top: 4rem;
      right: 4rem;
      pointer-events: none;
      svg {
        width: 8px;
        pointer-events: none;
      }
    }
    .vano-range-date-picker-component {
      margin-top: 1rem;
      input {
        background: $vano-input-bg-color;
        height: 45px;
        box-shadow: none;
        border: none;
        border-radius: 2px;
        outline: none;
        color: $primary-font-color;
        font-size: $vano-placeholder-size;
        padding-left: 1.25rem;
        font-family: $primary-font-family;
        width: calc(100% - 1.25rem);
      }
      input::placeholder {
          color: $vano-input-color;
          font-size: $vano-placeholder-size;
          font-family: $primary-font-family;
      }
    }
  }
  .vano-vacation-days-body {
    .vano-label-component {
      margin-left: 1rem;
    }
    .vano-vacation-day-item {
      display: flex;
      align-items: center;
      border-bottom: $primary-border;
      height: 70px;
      padding: 0 1rem;
      justify-content: space-between;
      .vacation-day-title, .vacation-day-misc {
        display: flex;
        align-items: center;
      }
      .vacation-day-title {
        font-size: .75rem;
        .vacation-date-range-text {
          margin-left: 1rem;
        }
      }
      .vacation-day-misc {
        vano-pencil {
          .vano-pencil-component {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            svg {
              width: 1.1rem;
            }
          }
        }
        vano-close {
          .vano-close-component {
            p {
              font-size: 1.42rem;
              margin-top: .7rem;
            }
          }
        }
      }
    }
  }
}
