<template>
  <require from="./reminders.css"></require>
  <require from="../../components/vano-title/vano-title"></require>
  <require from="../../components/vano-no-results-card/vano-no-results-card"></require>
  <require from="../../components/vano-reminder-card/vano-reminder-card"></require>

  <div class="reminders-component au-animate">
    <div class="reminders-wrapper">
      <vano-title title="Your Reminders" sub-title="Keep track and update all of your reminders in one place."></vano-title>

      <div class="reminders-list">
        <vano-reminder-card
          if.bind="remindersLoaded && reminders.length > 0"
          repeat.for="r of reminders"
          reminder-id.one-time="r.id"
          title.one-time="r.text"
          completed.one-way="r.completed"
          router.one-way="router">
        </vano-reminder-card>
        <vano-no-results-card if.bind="remindersLoaded && reminders.length === 0" text="No Reminders"></vano-no-results-card>
      </div>
    </div>
  </div>
</template>
