@import '../../styles/new-variables';

.reminders-component{
  display: flex;
  justify-content: center;
  .reminders-wrapper {
    width: 660px;
    max-width: calc(100% - 2.5rem);
    vano-reminder-card {
      .vano-reminder-card-component {
        margin: 1rem 0;
      }
    }
  }
}
