@import '../../../../styles/new-variables';

.blockoff-times-component{
  background: $white;
  box-shadow: $primary-box-shadow;
  .vano-block-off-header {
    padding: 1.25rem 1rem;
    .vano-blockoff-end-time {
      margin-left: 1rem;
    }
    .submit-btn {
      margin-left: 1rem;
      margin-top: 1.5rem;
      background: $blue;
      min-height: 40px;
      max-height: 40px;
      min-width: 40px;
      max-width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .vano-plus-component {
        svg {
          width: 12px;
        }
      }
    }
  }
  .vano-block-off-body {
    vano-label {
      .vano-label-component {
        margin-left: 1rem;
      }
    }
    .vano-blockoff-item {
      padding: 0 1rem;
      border-bottom: $primary-border;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      .vano-blockoff-item--info {
        display: flex;
        align-items: center;
        .range-date-text {
          font-size: .75rem;
          margin-left: 1rem;
        }
      }
      .vano-blockoff-item--controls {
        vano-close {
          .vano-close-component {
            p {
              font-size: 1.5rem;
              margin-top: .5rem;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 660px) {
  .blockoff-times-component {
    .vano-block-off-header {
      display: flex;
      justify-content: space-between;
      vano-input {
        width: 100%;
        .vano-input-component {
          width: 100%;
        }
      }
    }
  }
}
