<template>
  <require from="./blockoff-times.css"></require>
  <require from="../../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../../components/vano-forms/vano-select/vano-select"></require>
  <require from="../../../../components/vano-select-dot/vano-select-dot"></require>
  <require from="../../../../components/vano-close/vano-close"></require>
  <require from="../../../../components/vano-icons/vano-plus/vano-plus"></require>

  <div class="blockoff-times-component">
    <div class="vano-block-off-header">
      <div class="vano-block-off-header--section">
        <vano-input-group class="vano-blockoff-date">
          <vano-label>DATE</vano-label>
            <vano-input type="date" value.two-way="date & validate"></vano-input>
        </vano-input-group>
      </div>
      <div class="vano-block-off-header--section">
          <vano-input-group multi="true">
              <vano-input-group class="vano-blockoff-start-time">
                <vano-label>Start Time</vano-label>
                <vano-input type="time" value.two-way="startTime & validate"></vano-input>
              </vano-input-group>
              <vano-input-group class="vano-blockoff-end-time">
                <vano-label>End Time</vano-label>
                <vano-input type="time" value.two-way="endTime & validate"></vano-input>
              </vano-input-group>
              <div click.delegate="validate()" class="submit-btn"><vano-plus></vano-plus></div>
            </vano-input-group>
      </div>
    </div>
    <div class="vano-block-off-body">
      <vano-label if.bind="blockoffs.length > 0">Scheduled Block offs</vano-label>
      <div class="vano-blockoff-item" repeat.for="b of blockoffs">
        <div class="vano-blockoff-item--info">
          <vano-select-dot color="blue"></vano-select-dot>
          <div class="range-date-text">${genRangeTimes(b)}</div>
        </div>
        <div class="vano-blockoff-item--controls">
          <vano-close click.delegate="deleteBlockoff(b.id)" color="red"></vano-close>
        </div>
      </div>
    </div>
  </div>
</template>
