<template>
  <require from="./vano-file-input.css"></require>
  <require from="../../../filters/filters"></require>
  <require from="../../vano-modal/vano-modal"></require>
  <require from="../../vano-button/vano-button"></require>
  <require from="../../vano-title/vano-title"></require>
  <require from="cropperjs/cropper.min.css"></require>

  <div class="vano-file-input-component">
    <vano-modal static="true" id="cover-file-input-modal" if.bind="isCroppable" opened.two-way="modalOpened">
        <div class="vano-crop-img-wrapper">
          <vano-title title="Resize your image" sub-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></vano-title>
          <div class="vano-crop-img-body">
              <img id.bind="randomID" src.bind="croppableImgSrc">
          </div>
          <div class="vano-crop-img-footer">
              <vano-button color="primary" rounded="true" click.delegate="cropAndSave()">Save & Crop</vano-button>
              <vano-button color="grey" rounded="true" click.delegate="modalOpened = false">Cancel</vano-button>
          </div>
        </div>
    </vano-modal>
    <div class="vano-file-input-progress-bar" class.bind="uploading ? 'uploading': ''"></div>
    <input type="file" change.trigger="handleFileUpload($event)"/>
    <p>${fileName | stringLength: '13'}</p>
    <i class="material-icons" class.bind="uploading ? 'uploading': ''">attach_file</i>
  </div>
</template>
