@import '../../../styles/new-variables';

@keyframes flip {
  from {transform: rotateY(0deg)}
  to {transform: rotateY(360deg)}
}

@keyframes flow {
  from {left: 0}
  to {left: calc(100% - 30px)}
}

.vano-file-input-component{
  background: #F4F6F8;
  height: 45px;
  // width: 100%;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #45475C;
  font-size: 0.75rem;
  padding: 0 .8rem 0 1.25rem;
  font-family: "Nunito", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  .vano-modal-component .vano-modal-body .vano-modal-body-wrapper {
    width: 768px;
    max-width: calc(100% - 2.5rem);
  }
  .vano-crop-img-wrapper {
    background: $white;
    padding: 1.25rem;
    .vano-crop-img-body {
      height: 300px;
    }
    .vano-crop-img-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 1.25rem;
      vano-button {
        width: 100%;
        &:first-child{
          margin-right: 1.25rem;
        }
      }
    }
  }
  .vano-file-input-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: $blue;
    &.uploading {
      width: 30px;
      animation: flow 2s infinite;
    }
  }
  input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0;
  }
  i {
    color: $vano-light-font-color;
    position: absolute;
    right: 0;
    &.uploading {
      // animation: flip .7s infinite;
    }
  }
}
