<template>
  <require from="./vano-bars.css"></require>

  <div class="vano-bars-component">
    <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="03---Appointments" transform="translate(-29.000000, -29.000000)" stroke="#FFFFFF" fill="#D1D8DE">
              <g id="if_menu-alt_134216" transform="translate(30.000000, 30.000000)">
                  <g id="Layer_1">
                      <path d="M1.64285714,3.2 L21.3571429,3.2 C22.264,3.2 23,2.4832 23,1.6 C23,0.7168 22.264,0 21.3571429,0 L1.64285714,0 C0.736,0 0,0.7168 0,1.6 C0,2.4832 0.736,3.2 1.64285714,3.2 L1.64285714,3.2 Z M21.3571429,6.4 L1.64285714,6.4 C0.736,6.4 0,7.1168 0,8 C0,8.8832 0.736,9.6 1.64285714,9.6 L21.3571429,9.6 C22.264,9.6 23,8.8832 23,8 C23,7.1168 22.264,6.4 21.3571429,6.4 L21.3571429,6.4 Z M21.3571429,12.8 L1.64285714,12.8 C0.736,12.8 0,13.5168 0,14.4 C0,15.2832 0.736,16 1.64285714,16 L21.3571429,16 C22.264,16 23,15.2832 23,14.4 C23,13.5168 22.264,12.8 21.3571429,12.8 L21.3571429,12.8 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </g>
    </svg>
  </div>
</template>
