<template>
    <require from="./vano-cc-card.css"></require>
    <require from="../vano-checkbox/vano-checkbox"></require>
    <require from="../vano-icons/vano-mc-card/vano-mc-card"></require>
    <require from="../vano-icons/vano-visa-card/vano-visa-card"></require>
    <require from="../vano-icons/vano-discover-card/vano-discover-card"></require>
    <require from="../vano-icons/vano-amex-card/vano-amex-card"></require>
    <require from="../vano-close/vano-close"></require>

    <div class="vano-cc-card-component">
        <div class="vano-css-card--section">
            <vano-mc-card if.bind="icon === 'mastercard'"></vano-mc-card>
            <vano-visa-card if.bind="icon === 'visa'"></vano-visa-card>
            <vano-discover-card if.bind="icon === 'discover'"></vano-discover-card>
            <vano-amex-card if.bind="icon === 'amex'"></vano-amex-card>
        </div>
        <div class="vano-css-card--section">
            **** **** **** ${lastFour}
        </div>
        <div class="vano-css-card--section" if.bind="!selectable" click.delegate="delete()">
            <vano-close class="icon-close pencil-icon" color="red"></vano-close>
        </div>
        <div class="vano-css-card--section" if.bind="selectable">
            <vano-checkbox checked.two-way="selected"></vano-checkbox>
        </div>
    </div>
</template>
