@import '../../styles/new-variables';

.vano-cc-card-component{
    display: flex;
    justify-content: space-between;
    height: 75px;
    box-shadow: $primary-box-shadow;
    align-items: center;
    padding: 0 1.25rem;
    background: $white;
    .vano-css-card--section {
        display: flex;
        align-items: center;
        justify-content: center;
        i.vano-icon-card {
            font-size: 3rem;
        }
        .pencil-icon {
            font-size: 1rem;
            color: $vano-form-red;
            cursor: pointer;
            margin-top: 1.42rem;
            p {
              font-size: 1.2rem;
            }
        }
    }
}
