<template>
  <require from="./invite.css"></require>
  <require from="../../../components/vano-title/vano-title"></require>
  <require from="../../../components/vano-component-label/vano-component-label"></require>
  <require from="../../../components/vano-button/vano-button"></require>
  <require from="../../../components/vano-permission-card/vano-permission-card"></require>
  <require from="../../../components/vano-forms/vano-label/vano-label"></require>
  <require from="../../../components/vano-forms/vano-input/vano-input"></require>
  <require from="../../../components/vano-forms/vano-input-group/vano-input-group"></require>
  <require from="../../../components/vano-accordion/vano-accordion"></require>
  <require from="../../../components/vano-accordion/vano-accordion-body/vano-accordion-body"></require>
  <require from="../../../components/vano-accordion/vano-accordion-header/vano-accordion-header"></require>


  <div class="invite-component">
      <div class="invite-component-wrapper">
          <vano-accordion>
              <vano-accordion-header opened.two-way="opened">
                  <div class="accordion-header-component">
                      <div class="accordion-header--section email">
                        <vano-input-group first.one-time="true">
                            <vano-label>E-mail Address</vano-label>
                            <vano-input value.two-way="email & validate"></vano-input>
                        </vano-input-group>
                        <vano-input-group first.one-time="true">
                            <vano-input type="hidden" value.two-way="serverErr & validate"></vano-input>
                        </vano-input-group>
                      </div>
                      <div class="accordion-header--section dropper" class.bind="opened ? 'opened': ''">
                        <i class="material-icons">keyboard_arrow_down</i>
                      </div>
                  </div>
              </vano-accordion-header>
              <vano-accordion-body opened.one-way="opened">
                  <div class="accordion-body-component">
                      <vano-component-label title="Permissions"></vano-component-label>
                      <div class="vano-permissions-wapper">
                        <div class="vano-permissions-wapper--section">
                          <vano-permission-card checked.two-way="manageAnalytics" title="Manage Analytics" description="Request permission to view the professional's analytics."></vano-permission-card>
                          <vano-permission-card checked.two-way="manageAppointments" title="Manage Appointments" description="Request permission to manage the professional's appointments."></vano-permission-card>
                        </div>                  
                      </div>
                    </div>
              </vano-accordion-body>
          </vano-accordion>
        <div class="send-requet-button">
          <vano-button click.delegate="validate()" color="primary" loading.one-way="isFetching" rounded.one-time="true">Send Request</vano-button>
        </div>
      </div>
  </div>
</template>
