@import '../../../styles/new-variables';

.invite-component{
  display: flex;
  align-items: center;
  flex-direction: column;
  .invite-component-wrapper {
    max-width: 100%;
    width: 685px;
    vano-accordion-header {
      .vano-accordion-header-component {
        height: 100px;
      }
    }
    .accordion-header-component{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1.3rem;
      height: 100px;
      width: 100%;
      .accordion-header--section {
        &.email {
          flex: 1;
          padding-right: 1.3rem;
          border-right: $primary-border;
          .vano-input-component {
            margin-top: -.5rem;
          }
        }
        &.dropper {
          width: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          &.opened {
            i {
              transform: rotateX(180deg);
            }
          }
          i {
            text-shadow: $vano-blue-text-shadow;
            color: $blue;
            transition: transform $vano-main-transition;
            font-size: 2rem;
          }
        }
      }
    }
    .accordion-body-component{
        padding: 1.25rem;
        background: $white;
        display: flex;
        flex-direction: column;
        .vano-permissions-wapper {
            padding:  0 0 2rem 0;
            display: flex;
            align-items: center;
            max-width: 600px;
            flex-direction: column;
            .vano-permissions-wapper--section {
                // margin-left: -1rem;
                // margin-right: -1rem;
                .vano-permission-card-component {
                    margin: 1rem;
                }
            }
        }
    }
    .send-requet-button {
      margin-top: 1rem;
    }
    .add-more-sp-container {
      padding-left: 2rem;
      margin-top: 1.5rem;
      .add-more-sp-wrapper {
        display: flex;
        align-items: center;
        width: 205px;
      }
      .add-more-component {
        background: $blue;
        height: 26px;
        width: 26px;
        border-radius: 10px;
        box-shadow: $vano-blue-box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: .8rem;
          color: $white;
        }
      }
      p {
        margin-left: .8rem;
        font-size: .8125rem;
        color: $primary-font-color;
        cursor: pointer;
      }
    }
  } 
}

@media (min-width: 525px) {
  .invite-component{
    .invite-component-wrapper {
      .accordion-body-component{
          .vano-permissions-wapper {
              flex-direction: row;
          }
      }
    }
  }
}
