<template>
    <require from="./vano-app.css"></require>
    <require from="../../components/vano-app-body-layout/vano-app-body-layout"></require>
    <require from="../../components/vano-sidebar/vano-sidebar"></require>
    <require from="../../components/vano-sidebar/vano-sidebar-item/vano-sidebar-item"></require>
    <require from="../../components/vano-navbar/vano-navbar"></require>
    <require from="../../components/vano-fab-menu/vano-fab-menu"></require>
    <require from="../../components/vano-fab-menu/vano-fab-menu-item/vano-fab-menu-item"></require>
    <require from="../../components/vano-topbar-notification/vano-topbar-notification"></require>

    <div class="vano-app-component" id="vano-app">
        <vano-sidebar opened.two-way="sidebarOpen">
            <vano-sidebar-item 
                name="Dashboard" 
                route="app.dashboard" 
                router.bind="router"
                active.one-way="fragment.includes('dashboard')"></vano-sidebar-item>
            <vano-sidebar-item 
                name="Appointments" 
                route="app.appointments.v2" 
                router.bind="router"
                active.one-way="fragment.includes('appointments')"></vano-sidebar-item>
            <vano-sidebar-item 
                name="Reports" 
                route="app.reports" 
                router.bind="router"
                active.one-way="fragment.includes('reports')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                if.bind="displayCheckout"
                name="Checkout" 
                route="app.checkout" 
                router.bind="router"
                active.one-way="fragment.includes('checkout')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                if.bind="displayMerchantOnboarding"
                name="Merchant Onboarding" 
                route="app.merchant.onboarding" 
                router.bind="router"
                active.one-way="fragment.includes('merchant')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                name="Clients" 
                route="app.customers" 
                router.bind="router"
                active.one-way="fragment.includes('customers')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                name="Power Ups" 
                route="app.power.ups" 
                router.bind="router"
                active.one-way="fragment.includes('power-ups')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                if.bind="showProfessionalsLink"
                name="Professionals" 
                route="app.professionals"  
                router.bind="router"
                active.one-way="fragment.includes('professionals')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                name="Reminders" 
                route="app.reminders"  
                router.bind="router"
                active.one-way="fragment.includes('reminders')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                name="Services" 
                route="app.services"  
                router.bind="router"
                active.one-way="fragment.includes('services')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                name="Settings" 
                route="app.settings"  
                router.bind="router"
                active.one-way="fragment.includes('settings')">
            </vano-sidebar-item>
            <vano-sidebar-item 
                name="Logout" 
                route="app.logout"  
                router.bind="router"
                icon="icon-logout">
            </vano-sidebar-item>
        </vano-sidebar>
        <vano-app-body-layout 
          sidebar-open.one-way="sidebarOpen" 
          has-notification.one-way="hasNotification">
             <vano-fab-menu sidebar-open.one-way="sidebarOpen">
                <div class="vano-fab-menu-title">
                  <img  src="https://res.cloudinary.com/solabuddy/image/upload/v1506780699/3_bhhss6.png" alt="VANO logo">
                </div>
                <div class="vano-fab-menu-items">
                    <vano-fab-menu-item title="New Appointment" click.delegate="goTo('app.add.appointment')"></vano-fab-menu-item>
                    <vano-fab-menu-item title="New Client" click.delegate="goTo('app.add.customer')"></vano-fab-menu-item>
                    <vano-fab-menu-item title="New Reminder"  click.delegate="goTo('app.add.reminder')"></vano-fab-menu-item>
                    <vano-fab-menu-item title="New Service" click.delegate="goTo('app.add.service.v2')"></vano-fab-menu-item>
                    <vano-fab-menu-item 
                        if.bind="authProfessional.permission.manage_professionals"
                        title="New Professional" 
                        click.delegate="goTo('app.add.professional')">
                    </vano-fab-menu-item>
                </div>
            </vano-fab-menu> 
            <vano-topbar-notification 
              if.bind="hasNotification"
              text.one-way="notificationText">
            </vano-topbar-notification>
            <vano-navbar  
              has-notification.one-way="hasNotification" 
              sidebar-open.one-way="sidebarOpen" 
              router.one-way="router">
            </vano-navbar>
            <router-view></router-view>
        </vano-app-body-layout>
    </div>
</template>
