@import '../../styles/new-variables.scss';

.vano-app-component{
    vano-fab-menu {
        .vano-fab-menu-component {
            .vano-fab-menu-wrapper{
                .vano-fab-menu-container{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    height: 100vh;
                    .vano-fab-menu-title {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: $vano-navbar-height 0 ;
                        img {
                            width: 300px;
                        }
                    }
                    .vano-fab-menu-items {
                        padding-left: 35px;
                    }
                }
            }
        }
    }
}


@media (min-width: 960px) {
    .vano-app-component {
        vano-fab-menu {
            .vano-fab-menu-component {
                .vano-fab-menu-wrapper{
                    .vano-fab-menu-container{
                        .vano-fab-menu-title {
                            display: none;
                        }
                        .vano-fab-menu-items {
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            height: 100vh;
                        }
                    }
                }
            }
        }
    }
}
