<template>
  <require from="./vano-transaction-card.css"></require>
  <require from="../vano-select-dot/vano-select-dot"></require>
  <require from="../vano-forms/vano-label/vano-label"></require>
  <require from="../../filters/filters"></require>

  <div class="vano-transaction-card-component">
    <div class="vano-transaction-card--section vano-transaction--customer-name">
      <vano-select-dot color="blue"></vano-select-dot>
      <div>${customer}</div>
    </div>
    <div class="vano-transaction-card--section vano-transaction--date">
      <div class="vano-transaction-card-label-text-wrapper">
        <vano-label>When</vano-label>
        <div class="vano-transaction-card-date-text">${date}</div>
      </div>
    </div>
    <div class="vano-transaction-card--section vano-transaction--amount">
      <div class="vano-transaction-card-label-text-wrapper">
        <vano-label>Amount</vano-label>
        <div class="vano-transaction-card-total-text">${total | currency}</div>
      </div>
    </div>
    <div class="vano-transaction-card--section vano-transaction--type">
      <div class="vano-transaction--type__charge">Charge</div>
    </div>
  </div>
</template>
