@import '../../styles/new-variables';

.vano-transaction-card-component{
  display: flex;
  background: $white;
  height: 90px;
  box-shadow: $primary-box-shadow;
  padding: 0 1.25rem;
  justify-content: space-between;
  .vano-transaction-card--section  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &.vano-transaction--customer-name {
      flex-direction: row;
      div {
        margin-left: .6rem;
        font-size: .9375rem;
        color: $primary-font-color;
      }
    }
    &.vano-transaction--date {
      .vano-transaction-card-label-text-wrapper {
        .vano-transaction-card-date-text {
          color: $primary-font-color;
          font-size: .75rem;
        }
      }
    }
    &.vano-transaction--amount {
      .vano-transaction-card-label-text-wrapper {
        .vano-transaction-card-total-text {
          color: $primary-font-color;
          font-size: .8124rem;
          font-weight: 600;
        }
      }
    }
    &.vano-transaction--type {
      .vano-transaction--type__charge {
        background: #00BF62;
        border-radius: 6px;
        color: $white;
        font-size: .6rem;
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
