<template>
  <require from="./vano-mc-card.css"></require>

  <div class="vano-mc-card-component">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg width="225px" height="225px" viewBox="0 0 225 225" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
          <title>16</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="16" fill="#D1D8DE">
                  <g id="if_Sed-27_2200534" transform="translate(46.000000, 69.000000)">
                      <g id="Icons">
                          <g id="Group">
                              <path d="M68.1849017,43.551156 C67.1576873,43.4997735 66.4265478,44.2229415 66.2805876,45.526476 C67.2269746,45.526476 68.1299243,45.536148 69.0318123,45.514851 C69.1597237,45.5120145 69.3608921,45.3808845 69.3974975,45.26682 C69.6463037,44.486643 69.0000076,43.5914715 68.1849017,43.551156 L68.1849017,43.551156 Z" id="Shape"></path>
                              <path d="M45.0780945,47.8946745 C44.4204889,48.3490725 44.214566,49.3356165 44.658032,49.9071945 C45.0843262,50.4558015 46.030113,50.436225 46.6189391,49.8402345 C47.2300608,49.2217845 47.4591103,48.449001 47.4670038,47.5635015 C46.4698862,47.388615 45.6268992,47.515188 45.0780945,47.8946745 L45.0780945,47.8946745 Z" id="Shape"></path>
                              <path d="M90.3862204,47.871936 C89.8599421,48.2079915 89.6116897,48.7353015 89.7576499,49.3265025 C89.8393544,49.657164 90.1078713,50.0621325 90.3985914,50.1935415 C90.9449035,50.4401775 91.4996629,50.2497135 91.9264649,49.7984775 C92.5091054,49.182306 92.7071811,48.4211475 92.7640972,47.525976 C91.8879207,47.410191 91.1007421,47.415585 90.3862204,47.871936 L90.3862204,47.871936 Z" id="Shape"></path>
                              <path d="M107.52237,44.8745925 C107.222325,43.7946765 106.1207,43.386546 105.227859,44.054658 C104.878515,44.316639 104.575608,44.701473 104.376148,45.0945375 C103.911263,46.0090065 103.811556,47.0040135 103.954655,48.021201 C104.047899,48.6821985 104.285719,49.254381 104.982746,49.468653 C105.662324,49.677531 106.374815,49.3951365 106.856917,48.738975 C107.445743,47.93778 107.666668,47.018475 107.701566,46.02942 C107.644373,45.644028 107.62637,45.2469645 107.52237,44.8745925 L107.52237,44.8745925 Z" id="Shape"></path>
                              <path d="M129.281654,0.2667705 L11.7183463,0.2667705 C5.59212714,0.2667705 0.608662589,5.286864 0.608662589,11.455833 L0.608662589,81.5418885 C0.608662589,87.713136 5.59212714,92.7332295 11.7183463,92.7332295 L129.281654,92.7332295 C135.407873,92.7332295 140.391337,87.713136 140.391337,81.5418885 L140.391337,11.455833 C140.391337,5.286864 135.407873,0.2667705 129.281654,0.2667705 L129.281654,0.2667705 Z M63.4076832,41.400438 C63.2978207,42.255573 63.1938206,43.0689975 63.0822502,43.9417095 L61.6391739,43.9417095 C61.4656096,44.968569 61.298554,45.947115 61.1351451,46.92687 C61.0489169,47.4437175 60.9722901,47.9616345 60.8872159,48.478203 C60.7311465,49.425594 61.0419004,49.7752275 62.0037512,49.7266815 C62.1530812,49.719288 62.301534,49.70199 62.5342763,49.6821345 C62.4365079,50.4001875 62.3550804,51.082761 62.2401403,51.7593825 C62.2198757,51.878004 62.0685609,52.052844 61.9615142,52.0653525 C61.1517629,52.162398 60.32544,52.3494675 59.5292138,52.2671625 C58.5622854,52.1675595 57.9680585,51.3739905 58.0100647,50.291238 C58.0571025,49.074798 58.2239273,47.8584045 58.4098627,46.6530315 C58.7628998,44.370021 59.1668984,42.0952875 59.5540021,39.791259 L62.2970564,39.791259 C62.2226915,40.317174 62.1539121,40.8033315 62.0787162,41.3357565 C62.5278138,41.357565 62.9304276,41.377188 63.4076832,41.400438 L63.4076832,41.400438 Z M91.9764108,43.6774965 C90.8381799,43.668708 89.698518,43.822251 88.4836604,43.909671 C88.5757971,43.316238 88.6718576,42.597906 88.813571,41.8883625 C88.8380823,41.765463 89.0420665,41.6354955 89.1883037,41.5875075 C90.5465827,41.1438975 91.9279882,40.925673 93.3530156,41.205789 C95.0795187,41.545239 96.1011476,42.9313575 95.8686822,44.688174 C95.5396025,47.177226 95.1772871,49.662279 94.821988,52.199598 L92.4764698,52.199598 L92.4764698,51.304473 C92.2358802,51.492054 92.0397895,51.6538275 91.8346513,51.803139 C90.7657076,52.5841995 89.2575447,52.713609 88.278199,52.0758615 C87.083052,51.2976375 86.9458162,50.0811975 87.0982388,48.8239305 C87.3535076,46.7191545 88.9137859,45.431244 91.2886162,45.296394 C91.8712567,45.263193 92.45699,45.291279 93.0692196,45.291279 C93.3217187,44.1281745 93.0599874,43.686006 91.9764108,43.6774965 L91.9764108,43.6774965 Z M102.296608,41.245779 C101.961066,42.308676 101.631109,43.356228 101.297275,44.414289 C100.368659,44.4452115 99.9696924,44.6592045 99.7008986,45.669324 C99.3154566,47.1198915 99.0624497,48.6070545 98.7689138,50.0820345 C98.6291853,50.7836265 98.5266162,51.4922865 98.4085832,52.1884845 L95.531709,52.1884845 C96.1177193,48.576411 96.6972671,45.002328 97.2827234,41.393091 L99.8800945,41.393091 C99.8234553,41.8193565 99.7693549,42.2235345 99.6975288,42.764469 C100.446994,41.927748 101.07755,41.048526 102.296608,41.245779 L102.296608,41.245779 Z M105.664586,51.983838 C103.851024,52.684593 102.053756,51.8388045 101.404367,49.8969645 C100.516605,47.2427445 101.02825,44.7755475 102.77871,42.640686 C104.368301,40.7019615 106.311205,40.6806645 108.403717,42.508998 C108.607701,41.279538 108.800699,40.118991 109.002144,38.905713 L111.773079,38.905713 C111.564895,40.205016 111.357771,41.5079925 111.146771,42.810411 C110.67487,45.721218 110.188844,48.6297 109.741177,51.5439015 C109.674106,51.97956 109.50705,52.0819995 109.114592,52.068096 C108.424027,52.0436835 107.731801,52.061586 106.995907,52.061586 L106.995907,51.254718 C106.527837,51.5152575 106.118761,51.808161 105.664586,51.983838 L105.664586,51.983838 Z M87.3775112,42.15225 C86.788085,41.9510445 86.2359105,41.7120345 85.6602864,41.5749525 C84.2377517,41.236386 83.0130156,41.70492 82.2061263,42.9284745 C81.2205951,44.42331 80.9529553,46.089591 81.3513222,47.822553 C81.6964659,49.325061 83.0223401,50.103285 84.5392273,49.768113 C85.1021572,49.6440975 85.6473153,49.43322 86.2530823,49.245918 C86.1079992,50.1708495 85.977826,51.0739725 85.8121552,51.970818 C85.7881978,52.0988325 85.5994466,52.2764625 85.4709813,52.2912495 C84.5071456,52.402803 83.5229992,52.63521 82.5757813,52.535886 C80.4187373,52.3093845 79.0833079,51.033099 78.5840336,48.8962845 C78.0650487,46.677444 78.268202,44.4983145 79.2010638,42.4267395 C80.7695126,38.942076 84.1408604,37.7205675 87.8063442,39.3107745 C87.6623689,40.264908 87.5223173,41.1892815 87.3775112,42.15225 L87.3775112,42.15225 Z M80.3173222,56.4330045 C79.1916009,59.7685425 77.5673438,62.8706505 75.4454281,65.5869945 C74.5207367,64.8854025 73.602277,64.176138 72.7894329,63.3488565 C74.5652356,61.0570575 75.9835697,58.4735175 76.9766713,55.6890045 L80.3173222,56.4330045 L80.3173222,56.4330045 Z M77.1440501,37.8609975 C76.1480865,34.8667695 74.6810529,32.088534 72.7894329,29.6471445 C73.602277,28.8198165 74.5207367,28.1108775 75.4454281,27.4095645 C77.530046,30.077688 79.1835689,33.098886 80.3175992,36.3636045 L77.1440501,37.8609975 L77.1440501,37.8609975 Z M73.6152481,41.856231 C73.6729952,41.4804645 73.7879354,41.32548 74.1821017,41.3422665 C74.871235,41.371236 75.5623532,41.350218 76.3022171,41.350218 C76.2379614,41.827866 76.1830302,42.234276 76.1106502,42.770421 C76.8626082,41.924958 77.4974104,41.0462475 78.7167918,41.245779 C78.3789877,42.313791 78.0470921,43.363575 77.7134887,44.419404 C76.8099388,44.4341445 76.393523,44.649021 76.1343306,45.620778 C75.7413183,47.0920845 75.4829568,48.6005445 75.183743,50.096496 C75.0471073,50.7785115 74.9496159,51.468711 74.8265053,52.201551 L71.9544318,52.201551 C72.1755878,50.802366 72.3877424,49.432383 72.6094985,48.0643995 C72.9443945,45.994824 73.2962776,43.928085 73.6152481,41.856231 L73.6152481,41.856231 Z M69.9325925,47.760429 C68.6948853,47.760708 67.4575012,47.7629865 66.2203479,47.76666 C66.1792187,47.76666 66.1380895,47.787678 66.0577698,47.810091 C65.9002695,48.872988 66.3398118,49.5839265 67.3363293,49.8694365 C68.4221678,50.180196 69.4865877,49.9903365 70.5389135,49.6770195 C70.8077073,49.596993 71.0730853,49.5072945 71.4492028,49.3869525 C71.2908715,50.267616 71.1589904,51.077925 70.9854722,51.87912 C70.958976,51.999741 70.7485293,52.127151 70.6014613,52.1657925 C69.1961445,52.535328 67.7753177,52.6437195 66.3544909,52.2750675 C64.6426208,51.8303415 63.633963,50.687418 63.339827,48.953898 C62.9479225,46.6433595 63.3916654,44.5082655 64.9082757,42.681606 C65.8740963,41.518269 67.133176,40.944645 68.6560179,41.130273 C71.0556365,41.4228975 72.3592613,43.286385 72.0273657,45.900336 C71.7912075,47.759871 71.7912075,47.7592665 69.9325925,47.760429 L69.9325925,47.760429 Z M51.3136222,19.038495 C36.2840629,19.038495 24.0589517,31.3582515 24.0589517,46.4982795 C24.0589517,49.335291 24.4880617,52.072095 25.2845187,54.648846 C25.3803021,54.9584895 25.5082135,55.25223 25.6149832,55.5573165 C29.3415838,66.253386 39.4381322,73.957506 51.3135761,73.957506 C56.2933939,73.957506 60.9505946,72.582408 64.9730392,70.223091 C65.7977004,71.094966 66.6595671,71.927688 67.5710104,72.7090275 C62.8487231,75.6919095 57.2868187,77.445006 51.3136222,77.445006 C34.37721,77.445006 20.5968981,63.5634075 20.5968981,46.4982795 C20.5968981,29.4328725 34.37721,15.550995 51.3136222,15.550995 C57.2868648,15.550995 62.8487231,17.304696 67.5710104,20.2872525 C66.6595671,21.068313 65.7977004,21.901035 64.9730392,22.77291 C60.9505946,20.4135465 56.2933939,19.038495 51.3136222,19.038495 L51.3136222,19.038495 Z M55.3867513,45.627288 C56.897453,46.267593 57.8500255,47.3344425 57.3454428,49.799919 C57.1031452,50.98539 56.3246909,51.7210665 55.1906606,52.015923 C53.5836215,52.4334 51.9731665,52.269348 50.2956862,51.9410115 C50.415704,51.122193 50.5278284,50.3567565 50.6346443,49.6281945 C51.6015728,49.718451 52.5169859,49.8211695 53.4351687,49.878225 C53.7056243,49.895523 54.0042841,49.8313995 54.2544752,49.7215665 C54.8568263,49.4576325 54.9701047,48.758598 54.4576285,48.341958 C54.0919433,48.044544 53.652124,47.8350615 53.2340003,47.607165 C51.7083425,46.773606 51.126579,45.628683 51.4122677,43.9950915 C51.6926017,42.392376 52.662069,41.476233 54.3398725,41.200953 C55.5304958,41.0056995 56.7014546,41.106744 57.935746,41.333478 C57.8171129,42.1761045 57.7137129,42.9103395 57.5996498,43.719486 C57.0164554,43.693353 56.461142,43.664151 55.9052285,43.64397 C54.8763062,43.6073745 54.3393186,43.813416 54.2545213,44.3387265 C54.1155314,45.19986 54.8328689,45.392835 55.3867513,45.627288 L55.3867513,45.627288 Z M45.1451198,52.3922475 C43.3687171,52.8296265 41.9991748,51.796536 41.8033611,49.9749915 C41.5159645,47.3003115 43.1393906,45.498948 46.0331596,45.305415 C46.6129844,45.266541 47.1973329,45.300021 47.7678331,45.300021 C48.1096071,44.257305 47.7928984,43.693911 46.7563596,43.69419 C45.5789382,43.694748 44.40184,43.8389445 43.1886441,43.923528 C43.2390978,43.6198365 43.3041382,43.2185415 43.3709328,42.8178045 C43.5738091,41.608758 43.5639307,41.5349625 44.7627245,41.3692365 C45.8457471,41.219646 46.9696221,41.1172065 48.0475671,41.2423845 C49.7994585,41.4455895 50.8210413,42.894483 50.5979004,44.6586465 C50.2961478,47.040981 49.9586206,49.4190375 49.6157388,51.795978 C49.5917814,51.9625875 49.4041381,52.228521 49.2801966,52.2364725 C48.5941561,52.2796245 47.9044688,52.2572115 47.1826076,52.2572115 L47.1826076,51.497169 C46.5025679,51.803883 45.8525789,52.2176865 45.1451198,52.3922475 L45.1451198,52.3922475 Z M39.1445963,42.804738 C39.0440121,43.0596045 38.9369654,43.3121925 38.8442746,43.5696165 C37.8899942,46.2170475 36.9225118,48.859038 36.0011901,51.517815 C35.8321496,52.005135 35.6059159,52.170303 35.1213207,52.120083 C34.7386946,52.080651 34.3482211,52.1121315 33.8717963,52.1121315 C33.7864452,48.9260445 33.7019249,45.788178 33.6174046,42.650358 C33.5819071,42.6415695 33.5464095,42.6321765 33.5111888,42.623388 C32.9753091,45.759813 32.4394294,48.896238 31.8970871,52.070421 L29.2275669,52.070421 C29.9659998,47.6871915 30.7005091,43.3278165 31.4423579,38.926731 L35.575219,38.926731 L35.575219,46.598208 C35.6512919,46.60416 35.7279187,46.610391 35.8039915,46.6163895 C36.2939413,45.177726 36.7838912,43.739109 37.273841,42.3001665 C37.6108142,41.3087865 37.9339854,40.312338 38.2968547,39.330909 C38.3630492,39.150396 38.5848053,38.9049225 38.7403207,38.9012025 C40.0605633,38.86656 41.3816368,38.881068 42.8312217,38.881068 C42.0981434,43.3045665 41.3757282,47.6631045 40.6462966,52.0647945 L37.8069049,52.0647945 C38.2957469,48.9769155 38.7814499,45.9068925 39.266876,42.8368695 C39.2263007,42.826035 39.1854485,42.815526 39.1445963,42.804738 L39.1445963,42.804738 Z M89.684716,77.4450525 C75.9376398,77.4450525 64.2740737,68.3031525 60.3637534,55.737876 C60.8548111,55.7126265 61.3492846,55.6740315 61.8437582,55.6030725 L62.3895163,55.5258825 L63.8531803,55.2026145 C67.4778119,66.085149 77.6774371,73.957599 89.6847621,73.957599 C104.713768,73.957599 116.943633,61.6378425 116.943633,46.4983725 C116.943633,43.407378 116.410846,40.4457465 115.471522,37.6711845 C115.212607,36.905469 114.928026,36.1519365 114.604901,35.4177015 C110.366655,25.784808 100.79897,19.0385415 89.6847621,19.0385415 C78.2327505,19.0385415 68.4244758,26.2000065 64.3949686,36.303759 L60.710882,36.303759 C64.9074448,24.239706 76.2934928,15.5510415 89.684716,15.5510415 C106.625052,15.5510415 120.405641,29.432919 120.405641,46.498326 C120.405641,63.563454 106.625052,77.4450525 89.684716,77.4450525 L89.684716,77.4450525 Z" id="Shape"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
  </div>
</template>
