<template>
    <require from="./vano-offline-info-card.css"></require>
    <require from="../vano-info-card"></require>
    <require from="../../vano-loading-line/vano-loading-line"></require>

    <vano-info-card color.bind="randomColor()">
        <vano-loading-line width="60%"></vano-loading-line>
        <vano-loading-line width="90%"></vano-loading-line>
    </vano-info-card>
    <vano-info-card color.bind="randomColor()">
        <vano-loading-line width="60%"></vano-loading-line>
        <vano-loading-line width="90%"></vano-loading-line>
    </vano-info-card>
</template>